workflows/BSAgents.json
{"createdAt":"2025-10-25T18:15:24.579Z","updatedAt":"2025-10-27T00:36:17.000Z","id":"wZmCL5DJ7gVmM5hl","name":"BSAgents","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1120,96],"id":"4285e97b-d667-4b51-afa1-92d3fc37506e","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"1BAWK7kQwiuUBVYR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"sendAndWait","chatId":"=6118412167","message":"={{ $json.Message }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-64,-416],"id":"eb1b8c44-ef07-4102-b38d-e57ce0fb6cc5","name":"Send message and wait for response1","webhookId":"ab782ed4-2504-4f21-8fe3-6088e79ba198","credentials":{"telegramApi":{"id":"exv51YJCWq4uWnFE","name":"GraphQL Bot"}}},{"parameters":{"endpointUrl":"http://fastmcp-formatter:8003/mcp","options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[1376,96],"id":"3d7ad9d2-107e-482c-999c-a188580d73d4","name":"MCP Client"},{"parameters":{"assignments":{"assignments":[{"id":"50e71aa3-2881-486d-9e35-61626d6ac34d","name":"Message","value":"={{ $('When Executed by Another Workflow').item.json.Message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,-416],"id":"52649db7-2123-4a31-9af6-e3a34c08d575","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"e3295668-8f70-469d-8259-8530f89e29df","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,80],"id":"44322b05-00a2-493b-bb5b-80783c87e34c","name":"Edit Fields3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.Session }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1248,96],"id":"1b841b1b-b072-47d9-8507-3e31baffe814","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"jsCode":"return {\n  json: {\n    input: JSON.stringify($input.item.json),\n    keys: Object.keys($input.item.json)\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,-368],"id":"df3ee1dd-3f42-45ed-b1f0-9ebb83802d5b","name":"Code in JavaScript"},{"parameters":{"operation":"sendAndWait","chatId":"=6118412167","message":"={{ $json.output }}","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Approval","fieldType":"radio","fieldOptions":{"values":[{"option":"Approved"},{"option":"Denied"},{"option":"Return"}]},"requiredField":true}]},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,384],"id":"b3b82357-99ef-4975-9c44-b70246c6f241","name":"Send message and wait for response","webhookId":"ab782ed4-2504-4f21-8fe3-6088e79ba198","credentials":{"telegramApi":{"id":"exv51YJCWq4uWnFE","name":"GraphQL Bot"}}},{"parameters":{"jsCode":"// Create the reply text\nconst replyText = $('Edit Fields3').first().json.output;\n\n// Calculate timestamp 1 second from now\nconst futureDate = new Date(Date.now() + 1000);\n\n// Create the reply post object\nconst replyPostData = {\n    repo: $('Create Bluesky Session').first().json.did,\n    collection: \"app.bsky.feed.post\",\n    record: {\n        \"$type\": \"app.bsky.feed.post\",\n        text: replyText,\n        reply: {\n            root: {\n                cid: $('If').first().json.cid,\n                uri: $('If').first().json.uri\n            },\n            parent: {\n                cid: $('If').first().json.cid,\n                uri: $('If').first().json.uri\n            }\n        },\n        createdAt: futureDate.toISOString()\n    }\n};\n\nreturn replyPostData;"},"id":"e5dd1a7f-7de4-40ed-a245-4371130d3b57","name":"Create Reply Text1","type":"n8n-nodes-base.code","position":[640,288],"typeVersion":2},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Bluesky Session').item.json.accessJwt}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Create Reply Text1').item.json.toJsonString() }} ","options":{}},"id":"f8d74569-7a12-4544-a1dc-f37bde8f2074","name":"Create Reply1","type":"n8n-nodes-base.httpRequest","position":[1296,288],"typeVersion":4.2},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"id","condition":"IS NOT NULL"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1600,400],"id":"fcac3335-05ab-43a6-99ca-942a8c65433f","name":"Delete table or rows","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[432,96],"id":"23171b80-d52f-4683-ae85-f693e3326dbf","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"1BAWK7kQwiuUBVYR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"endpointUrl":"http://fastmcp-executor:8002/mcp","options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[688,96],"id":"dc00341b-0c5a-42b6-a223-b956a0c60b83","name":"MCP Client1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.Session }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[560,96],"id":"b07c9973-2e61-4cba-9bf1-52826b3a732c","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-256,96],"id":"60f127e4-7075-430d-a42a-b031c474e9b8","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"1BAWK7kQwiuUBVYR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"endpointUrl":"http://fastmcp-planner:8001/mcp","options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[-32,96],"id":"98a1049f-8075-4d30-818a-d6214c9f3ff2","name":"MCP Client2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.Session }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-144,96],"id":"2e089feb-4cf3-4ee4-9f9b-5d26c91b1072","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $('Executor').item.json.output }}","options":{"systemMessage":"={{ $('Edit Fields4').item.json['Formatter Prompt'] }}","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1184,-144],"id":"3391ec28-8f40-4e19-b839-bd8031a8aa76","name":"Formatter","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"={{ $('Edit Fields4').item.json['Executor Prompt'] }}\n\nSend your output to the next node and also store it in Supabase","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[496,-144],"id":"83e2c874-f9b3-41e4-aa7e-b6bd193d822f","name":"Executor","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields2').item.json.Message }}","options":{"systemMessage":"={{ $('Edit Fields4').item.json['Planner Prompt'] }}","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-256,-144],"id":"c0875979-32a4-4b67-b565-f20d2586040a","name":"Planner","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"Message"},{"name":"Session"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-288,-416],"id":"5ff16649-1dbf-43e1-81a2-4a217df847c5","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"Approved","rightValue":"={{ $json.data.Approval }}","operator":{"type":"string","operation":"equals"},"id":"a3637177-e419-403c-90bb-5711b6dc9e6d"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a78f3bf-c81f-445a-a978-e9e3e1a2da34","leftValue":"Denied","rightValue":"={{ $json.data.Approval }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"48fc629b-3d0c-4613-89a0-ce7989f79b3d","leftValue":"Return","rightValue":"={{ $json.data.Approval }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[432,384],"id":"4c5e0feb-ad96-4a4e-a03a-e185bf182e20","name":"Switch"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"id","condition":"IS NOT NULL"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[880,512],"id":"f43ef6c8-3717-437e-a56e-0da8dac2350a","name":"Delete table or rows1","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"jsCode":"/**\n * Input:   $json.text  -> string with URLs in it\n * Output:  { text, facets, createdAt }\n *\n * Notes:\n * - Bluesky needs facet ranges in UTF-8 byte offsets (NOT code points).\n * - Facets cannot overlap.\n * - We only add link facets here; mentions/hashtags can be added similarly.\n */\n\nconst text = $json.text ?? \"Check this out: https://example.com and also https://en.wikipedia.org/wiki/CBOR 😊\";\n\n// Simple URL detector (works well for http/https in normal text)\nconst urlRegex = /(https?:\\/\\/[^\\s<>\"'()]+)(?=\\s|$)/g;\n\n// Helper to get UTF-8 byte length for substring ranges\nconst byteLen = (s) => Buffer.from(s, 'utf8').length;\n\nconst facets = [];\nlet match;\nwhile ((match = urlRegex.exec(text)) !== null) {\n  const url = match[0];\n  const startUtf16 = match.index;\n  const endUtf16 = startUtf16 + url.length;\n\n  // Convert UTF-16 indices to UTF-8 byte offsets:\n  const byteStart = byteLen(text.slice(0, startUtf16));\n  const byteEnd   = byteLen(text.slice(0, endUtf16));\n\n  facets.push({\n    index: { byteStart, byteEnd },\n    features: [\n      { $type: 'app.bsky.richtext.facet#link', uri: url }\n    ]\n  });\n}\n\nreturn [\n  {\n    json: {\n      text,\n      facets,\n      createdAt: new Date().toISOString()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,288],"id":"b1004833-978b-4fc4-93e1-459ca0909ae4","name":"Code in JavaScript2"},{"parameters":{"fileSelector":"/data/shared/ai-agent-*-system-message.md","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[416,-368],"id":"4f7c28b2-e231-4433-8acd-6b69b302b09f","name":"Read/Write Files from Disk","alwaysOutputData":false},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[784,-368],"id":"3806e05b-afb4-41f2-b477-6d5bd365723e","name":"Extract from File"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[976,-368],"id":"84f31d86-da66-4bec-8b36-ade568e75816","name":"Aggregate1"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"fileName"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[592,-368],"id":"50a83564-11bd-4ebc-aa05-d3ecc66569f4","name":"Sort1"},{"parameters":{"assignments":{"assignments":[{"id":"a80f8137-a37d-4699-91da-8ffccba0959a","name":"Planner Prompt","value":"={{ $json.data[2] }}","type":"string"},{"id":"7e359489-8056-4c8b-977f-91003756e3e4","name":"Executor Prompt","value":"={{ $json.data[0] }}","type":"string"},{"id":"1d9648b6-4a4a-4a2b-8d47-28c04abfdeeb","name":"Formatter Prompt","value":"={{ $json.data[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,-368],"id":"3cb24b8c-e980-4dc4-babf-49bdeef664fd","name":"Edit Fields4"},{"parameters":{"content":"## Receive message and verify\n","height":240,"width":608},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-480],"id":"78970af1-1781-486f-b1a7-d6bab2abc57c","name":"Sticky Note"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Formatter","type":"ai_languageModel","index":0}]]},"Send message and wait for response1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Formatter","type":"ai_tool","index":0}]]},"Edit Fields2":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Formatter","type":"ai_memory","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Planner","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Create Reply Text1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Create Reply1":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Delete table or rows":{"main":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Executor","type":"ai_languageModel","index":0}]]},"MCP Client1":{"ai_tool":[[{"node":"Executor","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Executor","type":"ai_memory","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Planner","type":"ai_languageModel","index":0}]]},"MCP Client2":{"ai_tool":[[{"node":"Planner","type":"ai_tool","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"Planner","type":"ai_memory","index":0}]]},"Formatter":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Delete table or rows","type":"main","index":0}]]},"Executor":{"main":[[{"node":"Formatter","type":"main","index":0}],[{"node":"Delete table or rows","type":"main","index":0}]]},"Planner":{"main":[[{"node":"Executor","type":"main","index":0}],[{"node":"Delete table or rows","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Send message and wait for response1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Create Reply Text1","type":"main","index":0}],[{"node":"Delete table or rows","type":"main","index":0}],[{"node":"Delete table or rows1","type":"main","index":0}]]},"Delete table or rows1":{"main":[[{"node":"Planner","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Create Reply1","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Sort1","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Sort1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Message":"From:Panodonata Message:@rivals2statbot.bsky.social hey!  How many tournaments has CakeAssualt won in the last two weeks?","Session":"did:plc:yq4j73mkyzhhtmpr3nr2ueu3"},"binary":{}}]},"versionId":"947f65c8-22b7-49f3-81c9-2b586b0fec4f","triggerCount":0,"shared":[{"createdAt":"2025-10-25T18:15:24.583Z","updatedAt":"2025-10-25T18:15:24.583Z","role":"workflow:owner","workflowId":"wZmCL5DJ7gVmM5hl","projectId":"u9kYCfFU7pgjjx9U"}],"tags":[]}