workflows/BSBot.json
{"updatedAt":"2025-10-27T03:31:24.000Z","createdAt":"2025-10-19T21:43:40.930Z","id":"4YbWdF9uMDI8ESvt","name":"BSBot","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[816,96],"id":"890ab24e-290f-4c8f-ac0c-b85051fcbc21","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"ec07f538-0164-40c5-a199-45e2a8a4604a","name":"BlueskyHandle","type":"string","value":"rivals2statbot.bsky.social"},{"id":"463e906c-c49b-41e0-9176-04bd2c175d0b","name":"BlueskyAppPassword","type":"string","value":"#m;:vBeyRiWE83K"}]},"options":{}},"id":"ee1e88f3-2869-4c81-8049-5df9926282aa","name":"Set Bluesky Credentials","type":"n8n-nodes-base.set","position":[992,96],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.server.createSession","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ $json.BlueskyHandle }}"},{"name":"password","value":"={{ $json.BlueskyAppPassword }}"}]},"options":{}},"id":"756fa7ac-e1e8-47e5-9bf3-f607dab41fd4","name":"Create Bluesky Session","type":"n8n-nodes-base.httpRequest","position":[1200,96],"typeVersion":4.2},{"parameters":{"url":"https://bsky.social/xrpc/app.bsky.notification.listNotifications","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"51"},{"name":"reasons","value":"reply"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessJwt }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,16],"id":"dfcf9696-3ae4-45ca-8abc-6b3f116bc1b0","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"notifications","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1840,96],"id":"9cb41fdb-e66d-41af-bd9f-7d49e28d7ed2","name":"Split Out"},{"parameters":{"url":"https://bsky.social/xrpc/app.bsky.notification.listNotifications","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"51"},{"name":"reasons","value":"mention"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessJwt }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,176],"id":"6bef9d85-6095-4f93-a74c-a02f9ce06b03","name":"HTTP Request1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1648,96],"id":"c4ad8339-b067-4e63-95b7-b0560c41373d","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1840,336],"id":"3320b610-feff-44e4-b469-039a606e7cb8","name":"Date & Time"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6bc2c2f8-1309-45d2-9fa2-2dd9b8bd2564","leftValue":"={{ $json.indexedAt }}","rightValue":"={{ $('Date & Time1').item.json.FiveMinutesAgo }}","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2592,112],"id":"e055bb23-14f2-4e25-bba3-c057fbedbeee","name":"If"},{"parameters":{"operation":"formatDate","date":"={{ $json.FiveMinutesAgo }}","format":"X","outputFieldName":"FiveMinutesAgo","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2192,336],"id":"d3036bbb-c2da-42f6-8a52-f8dcfee685e3","name":"Date & Time1"},{"parameters":{"operation":"subtractFromDate","magnitude":"={{ $json.currentDate }}","timeUnit":"minutes","duration":5,"outputFieldName":"FiveMinutesAgo","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2016,336],"id":"08940166-ede3-431f-adc4-f1cb1ff7b24b","name":"Date & Time3"},{"parameters":{"operation":"formatDate","date":"={{ $json.indexedAt }}","format":"X","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1664,336],"id":"2db5781d-ac0a-4411-a555-4d1f1d6fad9a","name":"Notification Date UNIX"},{"parameters":{"assignments":{"assignments":[{"id":"b611029b-f497-4a11-840e-134097244a89","name":"indexedAt","value":"={{ $('Notification Date UNIX').item.json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2400,336],"id":"76ce4d7b-e273-4325-82bb-e601fa302bcb","name":"Edit Fields"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2400,112],"id":"025be3bf-ad27-4330-ae81-f95e261819b7","name":"Merge1"},{"parameters":{"workflowId":{"__rl":true,"value":"wZmCL5DJ7gVmM5hl","mode":"list","cachedResultUrl":"/workflow/wZmCL5DJ7gVmM5hl","cachedResultName":"BSAgents"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Message":"=From:{{ $json.author.displayName }} Message:{{ $json.record.text }}","Session":"={{ $('Create Bluesky Session').item.json.did }}"},"matchingColumns":[],"schema":[{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Session","displayName":"Session","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2880,112],"id":"301e4093-b141-4380-99d4-523d4e054a45","name":"Call 'My workflow'"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Bluesky Credentials","type":"main","index":0}]]},"Set Bluesky Credentials":{"main":[[{"node":"Create Bluesky Session","type":"main","index":0}]]},"Create Bluesky Session":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date & Time3","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Notification Date UNIX","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Date & Time3":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Notification Date UNIX":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"If":{"main":[[{"node":"Call 'My workflow'","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"33662444-a9d4-4ece-ab62-1257d44966d1","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-10-19T21:43:40.934Z","createdAt":"2025-10-19T21:43:40.934Z","role":"workflow:owner","workflowId":"4YbWdF9uMDI8ESvt","projectId":"u9kYCfFU7pgjjx9U"}],"activeVersion":null,"tags":[]}