workflows/BSBot.json
{"createdAt":"2025-10-19T21:43:40.930Z","updatedAt":"2025-10-23T02:32:59.000Z","id":"4YbWdF9uMDI8ESvt","name":"BSBot","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[816,32],"id":"890ab24e-290f-4c8f-ac0c-b85051fcbc21","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"ec07f538-0164-40c5-a199-45e2a8a4604a","name":"BlueskyHandle","type":"string","value":"rivals2statbot.bsky.social"},{"id":"463e906c-c49b-41e0-9176-04bd2c175d0b","name":"BlueskyAppPassword","type":"string","value":"#m;:vBeyRiWE83K"}]},"options":{}},"id":"ee1e88f3-2869-4c81-8049-5df9926282aa","name":"Set Bluesky Credentials","type":"n8n-nodes-base.set","position":[992,32],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.server.createSession","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ $json.BlueskyHandle }}"},{"name":"password","value":"={{ $json.BlueskyAppPassword }}"}]},"options":{}},"id":"756fa7ac-e1e8-47e5-9bf3-f607dab41fd4","name":"Create Bluesky Session","type":"n8n-nodes-base.httpRequest","position":[1200,32],"typeVersion":4.2},{"parameters":{"url":"https://bsky.social/xrpc/app.bsky.notification.listNotifications","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"51"},{"name":"reasons","value":"reply"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessJwt }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,-64],"id":"dfcf9696-3ae4-45ca-8abc-6b3f116bc1b0","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"notifications","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1824,32],"id":"9cb41fdb-e66d-41af-bd9f-7d49e28d7ed2","name":"Split Out"},{"parameters":{"url":"https://bsky.social/xrpc/app.bsky.notification.listNotifications","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"51"},{"name":"reasons","value":"mention"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessJwt }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,144],"id":"6bef9d85-6095-4f93-a74c-a02f9ce06b03","name":"HTTP Request1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1648,32],"id":"c4ad8339-b067-4e63-95b7-b0560c41373d","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1648,272],"id":"3320b610-feff-44e4-b469-039a606e7cb8","name":"Date & Time"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6bc2c2f8-1309-45d2-9fa2-2dd9b8bd2564","leftValue":"={{ $json.indexedAt }}","rightValue":"={{ $('Date & Time1').item.json.FiveMinutesAgo }}","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2624,272],"id":"e055bb23-14f2-4e25-bba3-c057fbedbeee","name":"If"},{"parameters":{"operation":"formatDate","date":"={{ $json.FiveMinutesAgo }}","format":"X","outputFieldName":"FiveMinutesAgo","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2000,272],"id":"d3036bbb-c2da-42f6-8a52-f8dcfee685e3","name":"Date & Time1"},{"parameters":{"operation":"subtractFromDate","magnitude":"={{ $json.currentDate }}","timeUnit":"minutes","duration":5,"outputFieldName":"FiveMinutesAgo","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1824,272],"id":"08940166-ede3-431f-adc4-f1cb1ff7b24b","name":"Date & Time3"},{"parameters":{"operation":"formatDate","date":"={{ $json.indexedAt }}","format":"X","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2000,32],"id":"2db5781d-ac0a-4411-a555-4d1f1d6fad9a","name":"Notification Date UNIX"},{"parameters":{"assignments":{"assignments":[{"id":"b611029b-f497-4a11-840e-134097244a89","name":"indexedAt","value":"={{ $('Notification Date UNIX').item.json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2208,272],"id":"76ce4d7b-e273-4325-82bb-e601fa302bcb","name":"Edit Fields"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2432,272],"id":"025be3bf-ad27-4330-ae81-f95e261819b7","name":"Merge1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[800,192],"id":"4dc4ddcf-bb3b-449a-a4db-28a9189bae97","name":"When chat message received","webhookId":"e948200b-1872-4212-8877-18eb7bafe3fd"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2544,688],"id":"ea73c7e0-1f4d-4f57-98d8-1b83fb86d26d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"1BAWK7kQwiuUBVYR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"sendAndWait","chatId":"=6118412167","message":"=From:{{ $json.author.displayName }} Message:{{ $json.record.text }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,512],"id":"53dbb599-8bea-497e-a74e-a89d06803d6e","name":"Send message and wait for response1","webhookId":"ab782ed4-2504-4f21-8fe3-6088e79ba198","credentials":{"telegramApi":{"id":"exv51YJCWq4uWnFE","name":"GraphQL Bot"}}},{"parameters":{"endpointUrl":"http://fastmcp-formatter:8003/mcp","options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[2832,688],"id":"b1b93392-df15-46d5-a8bf-e8ecebe2992b","name":"MCP Client"},{"parameters":{"assignments":{"assignments":[{"id":"50e71aa3-2881-486d-9e35-61626d6ac34d","name":"Message","value":"={{ $('If').item.json.author.displayName }} sent:{{ $('If').item.json.record.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,512],"id":"6a664cbc-4597-4404-94f8-cdea3fa1dd1e","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"e3295668-8f70-469d-8259-8530f89e29df","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,688],"id":"778a3420-0343-426c-b2a2-cc7c3a7785bc","name":"Edit Fields3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Create Bluesky Session').item.json.did }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2688,704],"id":"88ed808c-8733-4d19-9b03-25bf4a8e3e57","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"jsCode":"return {\n  json: {\n    input: JSON.stringify($input.item.json),\n    keys: Object.keys($input.item.json)\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,512],"id":"24e787e7-3031-42c4-9f59-7743f3b2d695","name":"Code in JavaScript"},{"parameters":{"operation":"sendAndWait","chatId":"=6118412167","message":"={{ $json.output }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1664,912],"id":"e3499d6d-1e24-4ec1-adac-8627c69cd5b5","name":"Send message and wait for response","webhookId":"ab782ed4-2504-4f21-8fe3-6088e79ba198","credentials":{"telegramApi":{"id":"exv51YJCWq4uWnFE","name":"GraphQL Bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50c26f1c-c383-4334-ab52-e70c2db83a17","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1872,912],"id":"06ebf6b0-8b6e-4ab3-8a8d-96bdeb4d0c85","name":"If1"},{"parameters":{"jsCode":"// Create the reply text\nconst replyText = $('Edit Fields3').first().json.output;\n\n// Calculate timestamp 1 second from now\nconst futureDate = new Date(Date.now() + 1000);\n\n// Create the reply post object\nconst replyPostData = {\n    repo: $('Create Bluesky Session').first().json.did,\n    collection: \"app.bsky.feed.post\",\n    record: {\n        \"$type\": \"app.bsky.feed.post\",\n        text: replyText,\n        reply: {\n            root: {\n                cid: $('If').first().json.cid,\n                uri: $('If').first().json.uri\n            },\n            parent: {\n                cid: $('If').first().json.cid,\n                uri: $('If').first().json.uri\n            }\n        },\n        createdAt: futureDate.toISOString()\n    }\n};\n\nreturn replyPostData;"},"id":"ba7f07c8-0a42-4f48-850f-a1f6f0fdcfaf","name":"Create Reply Text1","type":"n8n-nodes-base.code","position":[2336,896],"typeVersion":2},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Bluesky Session').item.json.accessJwt}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Create Reply Text1').item.json.toJsonString() }} ","options":{}},"id":"2edb8b7b-edeb-4a15-b14a-25e005e376fe","name":"Create Reply1","type":"n8n-nodes-base.httpRequest","position":[2528,896],"typeVersion":4.2},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"id","condition":"IS NOT NULL"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2752,1040],"id":"78576cef-9a1e-430a-9d47-824e62df400c","name":"Delete table or rows","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1968,704],"id":"92988588-f7ed-497e-9a99-7e27c992ebd3","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"1BAWK7kQwiuUBVYR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"endpointUrl":"http://fastmcp-executor:8002/mcp","options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[2160,704],"id":"ba19843e-4186-4c80-982d-50930e20a5ba","name":"MCP Client1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Create Bluesky Session').item.json.did }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2064,704],"id":"45d03e1c-8b1e-43fb-ac4b-68cff3f06fce","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1536,688],"id":"9dd86364-6b91-4984-9288-bcc105d1f627","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"1BAWK7kQwiuUBVYR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"endpointUrl":"http://fastmcp-planner:8001/mcp","options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[1824,688],"id":"d99e8063-8c6b-4c86-83ca-c9274c4347cb","name":"MCP Client2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Create Bluesky Session').item.json.did }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1680,704],"id":"d1070b5c-1cea-4556-8916-8532fbc1864d","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"={{ $('Edit Fields1').item.json['Formatter Prompt'] }}","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2608,512],"id":"0b01701c-b1b3-4c15-b184-41fb10891d8c","name":"Formatter","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"={{ $('Edit Fields1').item.json['Executor Prompt'] }}\n\nSend your output to the next node and also store it in Supabase","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2032,512],"id":"0216cc15-5683-4f0f-9fcd-772cbfe966e9","name":"Executor","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields2').item.json.Message }}","options":{"systemMessage":"={{ $('Aggregate').item.json.data[0].Prompt }}","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1600,512],"id":"8ccd0a71-3a49-4113-af7c-427e02c77f11","name":"Planner","alwaysOutputData":true},{"parameters":{"operation":"getAll","tableId":"System Prompts","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,512],"id":"17b03e51-f2b7-47aa-9c51-7425d8367099","name":"Get many rows","credentials":{"supabaseApi":{"id":"F8UF5MRQZsqgXZ1y","name":"Supabase account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[992,512],"id":"15545bdb-8e24-48eb-aa6e-253771804b67","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"a80f8137-a37d-4699-91da-8ffccba0959a","name":"Planner Prompt","value":"={{ $json.data[0].Prompt }}","type":"string"},{"id":"7e359489-8056-4c8b-977f-91003756e3e4","name":"Executor Prompt","value":"={{ $json.data[1].Prompt }}","type":"string"},{"id":"1d9648b6-4a4a-4a2b-8d47-28c04abfdeeb","name":"Formatter Prompt","value":"={{ $json.data[2].Prompt }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,512],"id":"ab63df8d-afb5-4db4-8dec-b2acb02f835c","name":"Edit Fields1"},{"parameters":{"jsCode":"// Debug code for n8n\nconsole.log('Raw response:', JSON.stringify($input.all(), null, 2));\n\n// Extract the actual JSON if it's wrapped\nconst response = $input.first().json;\nif (response.result && response.result.content && response.result.content[0]) {\n    const actualJson = response.result.content[0].text;\n    console.log('Actual JSON:', actualJson);\n    \n    // Parse and return the JSON\n    return JSON.parse(actualJson);\n} else {\n    console.log('Unexpected response format:', response);\n    return response;\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,608],"id":"d248f28f-2977-494a-8d9d-8f5d681274b6","name":"Code in JavaScript1"},{"parameters":{"tableId":"BSBot Logs","dataToSend":"autoMapInputData","inputsToIgnore":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inputs_to_Ignore', ``, 'string') }}"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2256,704],"id":"d362efb3-d293-426b-a655-12dcf2828958","name":"Create a row in Supabase","credentials":{"supabaseApi":{"id":"F8UF5MRQZsqgXZ1y","name":"Supabase account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Bluesky Credentials","type":"main","index":0}]]},"Set Bluesky Credentials":{"main":[[{"node":"Create Bluesky Session","type":"main","index":0}]]},"Create Bluesky Session":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date & Time3","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Notification Date UNIX","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Date & Time3":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Notification Date UNIX":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"If":{"main":[[{"node":"Send message and wait for response1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"If","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Set Bluesky Credentials","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Formatter","type":"ai_languageModel","index":0}]]},"Send message and wait for response1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Formatter","type":"ai_tool","index":0}]]},"Edit Fields2":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Formatter","type":"ai_memory","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Planner","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create Reply Text1","type":"main","index":0}],[{"node":"Delete table or rows","type":"main","index":0}]]},"Create Reply Text1":{"main":[[{"node":"Create Reply1","type":"main","index":0}]]},"Create Reply1":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Executor","type":"ai_languageModel","index":0}]]},"MCP Client1":{"ai_tool":[[{"node":"Executor","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Executor","type":"ai_memory","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Planner","type":"ai_languageModel","index":0}]]},"MCP Client2":{"ai_tool":[[{"node":"Planner","type":"ai_tool","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"Planner","type":"ai_memory","index":0}]]},"Formatter":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Executor":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0},{"node":"Formatter","type":"main","index":0}]]},"Planner":{"main":[[{"node":"Executor","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[]]},"Create a row in Supabase":{"ai_tool":[[{"node":"Executor","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-10-20T21:21:07.645-04:00","Readable date":"October 20th 2025, 9:21:07 pm","Readable time":"9:21:07 pm","Day of week":"Monday","Year":"2025","Month":"October","Day of month":"20","Hour":"21","Minute":"21","Second":"07","Timezone":"America/New_York (UTC-04:00)"}}]},"versionId":"3ade9788-36e8-42f6-b551-59920a281a4d","triggerCount":2,"shared":[{"createdAt":"2025-10-19T21:43:40.934Z","updatedAt":"2025-10-19T21:43:40.934Z","role":"workflow:owner","workflowId":"4YbWdF9uMDI8ESvt","projectId":"u9kYCfFU7pgjjx9U"}],"tags":[]}