workflows/Daily Twitter Post.json
{"updatedAt":"2026-03-15T22:30:39.000Z","createdAt":"2026-03-15T00:48:43.580Z","id":"hSLW7RdSb2c9goD9","name":"Daily Twitter Post","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"formatDate","date":"={{ $json.newDate }}","format":"X","outputFieldName":"currentDateUnix","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4320,800],"id":"8bd1e94a-dafa-4799-8b2f-9df35c7b1538","name":"Format Today as Unix"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4864,880],"id":"4c65b670-8d23-41c1-9888-2270aece0fc5","name":"Get Current DateTime"},{"parameters":{"operation":"subtractFromDate","magnitude":"={{ $json.roundedDate }}","duration":1,"outputFieldName":"dayAgo","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4480,960],"id":"264a2952-e3a2-4c6d-a9ee-de5ae718620d","name":"Subtract 1 Day"},{"parameters":{"operation":"formatDate","date":"={{ $json.dayAgo }}","format":"X","outputFieldName":"dayAgoUnix","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4320,960],"id":"2e69070d-140f-48ab-9e52-0421a3273fa2","name":"Format Yesterday as Unix"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-4144,880],"id":"af5cc4ee-6d98-4098-b947-c41acb63c542","name":"Merge Date Range"},{"parameters":{"fieldToSplitOut":"data.data.tournaments.nodes","include":"selectedOtherFields","fieldsToInclude":"={{ $json.data.data.tournaments.nodes[0].name }} {{ $json.data.data.tournaments.nodes[0].events }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3824,880],"id":"fe5447c2-1063-4877-a1eb-3048482a9f3c","name":"Split Tournament Nodes"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b84a0c12-449a-4756-aeeb-017a0f934e38","leftValue":"={{ $json['[\\'data.data.tournaments.nodes\\'].events'].numEntrants }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3136,768],"id":"b2432c16-0709-47c9-9c8c-58d4c81bbb38","name":"Filter Rivals2 Events"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"['[\\'data.data.tournaments.nodes\\'].events'].numEntrants"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-2720,640],"id":"b47a82fa-8453-4a94-a081-93ea644d54fc","name":"Sum Total Entrants"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2480,912],"id":"c9bf0601-de8e-4685-8675-ac4c6c5b78dd","name":"Limit to Top 5"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[160,0],"id":"150de65c-c567-428f-ac77-479e878f324e","name":"Aggregate Tournament Data"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[0,0],"id":"4eab794f-6dfc-411a-a452-61f145b2cd2f","name":"Merge Stats + Events"},{"parameters":{"rule":{"interval":[{"triggerAtHour":17,"triggerAtMinute":21}]}},"id":"a0d27f32-c639-4218-9125-b7def91dd30a","name":"Run Daily @ 4:21pm","type":"n8n-nodes-base.scheduleTrigger","position":[-5024,880],"typeVersion":1.2},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query Tournaments($gameId: [ID]!, $startDate: Timestamp!, $endDate: Timestamp!, $eventType: [Int]!) { tournaments(query: { perPage: 500, filter: { videogameIds: $gameId, afterDate: $startDate, beforeDate: $endDate } }) { nodes { name addrState countryCode endAt events(filter: { videogameId: $gameId, type: $eventType })  { id tournament { name } name slug numEntrants } } } }","variables":"={ \"gameId\": [53945], \"startDate\": {{ $json.dayAgoUnix - 518400 }}, \"endDate\": {{ $json.currentDateUnix }}, \"eventType\": [1]  }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-3968,880],"id":"e156dfab-aff8-4758-8c35-e9463f26d697","name":"Query Tournaments","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query Event($eventId: ID!) { event(id: $eventId) { id phases { id } phaseGroups { id phase { phaseOrder id name } } tournament { name } } }","variables":"={ \"eventId\": {{ $json['[\\'data.data.tournaments.nodes\\'].events'].id }}}","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-2320,912],"id":"6d41b73a-14bf-44d8-9d62-7616c683dda4","name":"Query Event Phases","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"fieldToSplitOut":"data.data.event.phaseGroups","include":"selectedOtherFields","fieldsToInclude":"data.data.event.tournament.name, data.data.event.id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2160,912],"id":"7a1e61cf-d4e6-4001-87db-466ba45aa769","name":"Split Phase Groups"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"=['data.data.event.phaseGroups'].phase.phaseOrder","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1984,912],"id":"5a7a8bf0-b303-4e3c-b806-2f6e9fa434bc","name":"Sort Phases"},{"parameters":{"fieldToSplitOut":"data.data.phase.sets.nodes[0].games","include":"selectedOtherFields","fieldsToInclude":"data.data.phase.sets.nodes[0].displayScore, data.data.phase.sets.nodes[0].games[0].selections[0].character.name, data.data.phase.sets.nodes[0].games[0].selections[1].character.name, data.data.phase.sets.nodes[0].id, data.data.phase.sets.nodes[0].winnerId, data.data.phase.event.id, data.data.phase.event.tournament.name","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2256,1104],"id":"2a71c5f0-a8da-4137-8ffd-2661130e3784","name":"Split GF Games"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"['data.data.phase.sets.nodes[0].games'].orderNum","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2128,1104],"id":"d3501f79-dd02-421d-85bf-fa02d10cf0ac","name":"Sort Games"},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query PhaseInfo($phaseId: ID!) { phase(id: $phaseId) { id name phaseOrder phaseGroups { nodes { id bracketType } } sets { nodes { id displayScore identifier round completedAt games { orderNum } winnerId } } event { id tournament { name } } } }","variables":"={ \"phaseId\": {{ $json['data.data.event.phaseGroups'].phase.id }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-2560,1104],"id":"3ffc4330-d5e2-4df9-9103-59e164a6e9ea","name":"Query GF Sets","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query GetEntrant($entrantId: ID!) { entrant(id: $entrantId) { id name } }","variables":"={{ $json[\"data.data.phase.sets.nodes[0].winnerId\"] !== null ? JSON.stringify({ \"entrantId\": $json[\"data.data.phase.sets.nodes[0].winnerId\"] }) : \"{}\" }}\n","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-1584,1200],"id":"b481ab63-488a-4954-8832-7665dcd4af5a","name":"Query Entrant by ID","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"08f7949b-ccdd-4ce2-90be-247b219e0644","name":"['data.data.phase.sets.nodes[0].winnerId']","value":"={{ $json.data.data.entrant.id }}","type":"number"},{"id":"77c4edc8-74bf-455d-a44c-dd2bc177f0c3","name":"winnerName","value":"={{ $json.data.data.entrant.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1408,1200],"id":"7a207595-bd03-42dd-94bb-b008d88a6061","name":"Map Entrant to Winner"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a76826e-fe59-4295-950f-d2a947a7d07f","leftValue":"={{ $json['data.data.phase.sets.nodes[0].winnerId'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1776,1200],"id":"eb54707f-76b0-4337-b8b8-11be2de3f9df","name":"Filter Phase Match"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['[\\'data.data.tournaments.nodes\\'].events'].id","field2":"data.data.phase.event.id"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1600,624],"id":"860ec12b-c05f-4e07-81ab-a0877d3a1a5c","name":"Join Events + Phase Data"},{"parameters":{"mode":"combine","fieldsToMatchString":"['data.data.phase.sets.nodes[0].winnerId']","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-608,288],"id":"d42546b3-1290-43e9-8d4d-df961c44d0a3","name":"Join Events + Winners"},{"parameters":{"mode":"combine","fieldsToMatchString":"['data.data.phase.sets.nodes[0].winnerId']","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-736,544],"id":"8b643345-1ee6-4afe-9725-5a59c843cece","name":"Merge Winner Sources"},{"parameters":{"jsCode":"// Get input data\nconst items = $input.all();\n\n// Initialize storage for unique set IDs\nconst seenSetIds = new Set();\nconst result = [];\n\n// Iterate through sorted data\nfor (const item of items) {\n    const setId = item.json[\"data.data.phase.sets.nodes[0].id\"];\n    \n    if (!seenSetIds.has(setId)) {\n        seenSetIds.add(setId);\n        result.push(item);\n    }\n}\n\n// Return filtered results\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1984,1104],"id":"ced99421-ff27-463c-a852-a258d8747357","name":"Code Top5 Events"},{"parameters":{"jsCode":"// Define max tournament name length\nconst maxLength = 40;\n\nconst hashtagKeywords = {\n    \"Rivals2\": \"#Rivals2\",\n    \"Rivals of Aether\": \"#RivalsOfAether\",\n    \"Melee\": \"#Melee\",\n    \"Rivals\": \"#Rivals\",\n    \"Smash\": \"#Smash\",\n    \"Ultimate\": \"#Ultimate\",\n    \"Aether\": \"#Aether\"\n};\n\nconst addHashtags = (name) => {\n    let updatedName = name;\n    Object.keys(hashtagKeywords).forEach((word) => {\n        const regex = new RegExp(`\\\\b${word}\\\\b`, \"gi\");\n        updatedName = updatedName.replace(regex, hashtagKeywords[word]);\n    });\n    return updatedName;\n};\n\n// Truncate base name only, then re-attach location so it's never dropped.\nconst truncateName = (baseName, location) => {\n    const locationSuffix = location ? ` (${location})` : '';\n    const maxBase = maxLength - locationSuffix.length;\n\n    let truncated = addHashtags(baseName);\n    if (truncated.length <= maxBase) return truncated + locationSuffix;\n\n    const splitCharacters = [\"-\", \"@\", \"#\", \":\", \"|\"];\n    let segments = [truncated];\n    splitCharacters.forEach((char) => {\n        if (truncated.includes(char)) {\n            segments = truncated.split(char).map(s => s.trim());\n        }\n    });\n\n    let cleanedName = segments[0];\n    for (let i = 1; i < segments.length; i++) {\n        const segment = segments[i];\n        if (Object.keys(hashtagKeywords).some(key => segment.includes(key))) {\n            cleanedName += `, ${segment}`;\n        }\n    }\n\n    if (cleanedName.length > maxBase) {\n        cleanedName = cleanedName.substring(0, maxBase).trim();\n        if (cleanedName.includes(\" \")) {\n            cleanedName = cleanedName.substring(0, cleanedName.lastIndexOf(\" \"));\n        }\n        cleanedName += \"...\";\n    }\n\n    return cleanedName + locationSuffix;\n};\n\nconst characterIcons = {\n    \"Forsburn\": \"\\u2620\\ufe0f\",\n    \"Loxodont\": \"\\ud83d\\udc18\",\n    \"Clairen\": \"\\ud83e\\udd3a\",\n    \"Zetterburn\": \"\\ud83e\\udd81\",\n    \"Wrastor\": \"\\ud83e\\udd85\",\n    \"Fleet\": \"\\ud83e\\udd8a\",\n    \"Maypul\": \"\\ud83c\\udf31\",\n    \"Kragg\": \"\\ud83e\\udeb2\",\n    \"Ranno\": \"\\ud83d\\udc38\",\n    \"Orcane\": \"\\ud83d\\udc0b\",\n    \"Etalus\": \"\\ud83d\\udc3b\",\n    \"Olympia\": \"\\ud83d\\udc8e\",\n    \"La Reina\": \"\\ud83e\\ude91\",\n    \"Absa\": \"\\u26a1\",\n    \"Galvan\": \"\\ud83e\\uddf2\",\n    \"Slade\": \"\\ud83e\\udd88\"\n};\n\nconst raw = $input.first().json.data[0][\"totalEntrants\"];\nconst totalEntrants = Number.isFinite(Number(raw)) && Number(raw) > 0 ? Math.round(Number(raw)) : null;\nconst entrantLine = totalEntrants ? `\\nEntrants yesterday: ${totalEntrants}` : '';\n\nconst tournamentData = Array.from({ length: 5 }, (_, i) => {\n    const tournamentNode = $input.first()?.json?.data?.[i]?.[\"data.data.tournaments.nodes\"] || {};\n    const eventNode = $input.first()?.json?.data?.[i]?.[\"data.data.set.event\"] || {};\n    const winnerName = $input.first()?.json?.data?.[i]?.winnerName || \"\";\n\n    const baseName = eventNode.tournament?.name || tournamentNode.name || \"N/A\";\n\n    const location = tournamentNode.countryCode && tournamentNode.countryCode !== \"US\"\n        ? tournamentNode.countryCode\n        : tournamentNode.addrState || \"\";\n\n    const entrants = $input.first()?.json?.data?.[i]?.[\"['data.data.tournaments.nodes'].events\"]?.numEntrants || 0;\n\n    const eventsNode = $input.first()?.json?.data?.[i]?.[\"['data.data.tournaments.nodes'].events\"] || {};\n    const eventSlug = eventsNode.slug || tournamentNode.events?.[0]?.slug || null;\n\n    let charCounts = {};\n    const gamePattern = /^data\\.data\\.set\\.games\\[\\d+\\]\\.selections$/;\n    const gameData = $input.first()?.json?.data?.[i];\n    if (gameData) {\n        for (const key of Object.keys(gameData)) {\n            if (!gamePattern.test(key)) continue;\n            const sel = gameData[key];\n            if (!sel) continue;\n            const entrantName = sel?.entrant?.name || \"\";\n            if (entrantName === winnerName || entrantName.includes(winnerName.split(\" \").pop())) {\n                const c = sel?.character?.name;\n                if (c) charCounts[c] = (charCounts[c] || 0) + 1;\n            }\n        }\n    }\n    const characterName = Object.entries(charCounts).sort((a, b) => b[1] - a[1])[0]?.[0] || \"\";\n    const icon = characterIcons[characterName] || \"W:\";\n\n    return {\n        originalName: location ? `${baseName} (${location})` : baseName,\n        truncatedName: truncateName(baseName, location),\n        entrants,\n        winner: winnerName ? `   ${icon} ${winnerName}` : \"\",\n        eventSlug\n    };\n});\n\nwhile (tournamentData.length < 5) {\n    tournamentData.push({ originalName: \"N/A\", truncatedName: \"N/A\", entrants: 0, winner: \"\", eventSlug: null });\n}\n\nconst inputString = \"Yesterday in #Rivals2!\";\nlet fullList = \"\\n\\n\";\ntournamentData.forEach(t => {\n    fullList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst finalString = `${inputString}${fullList}${entrantLine}`.trim();\n\nlet mainList = \"\\n\\n\";\ntournamentData.slice(0, 3).forEach(t => {\n    mainList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst mainPostText = `${inputString}${mainList}${entrantLine}`;\n\nlet replyList = \"\";\ntournamentData.slice(3).filter(t => t.truncatedName !== 'N/A').forEach(t => {\n    replyList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst replyText = replyList.trim();\n\nreturn [{ \n    result: finalString, \n    characterCount: finalString.length,\n    mainPostText,\n    replyText,\n    tournamentLinks: tournamentData\n        .filter(t => t.eventSlug && t.truncatedName !== 'N/A')\n        .map(t => ({\n            text: t.truncatedName,\n            url: `https://www.start.gg/${t.eventSlug}`\n        }))\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,0],"id":"af6ff114-31d5-4da9-a24c-ee49cf8b9919","name":"Assemble Post"},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query SetInfo($setId: ID!) {\n    set(id: $setId) {\n        id\n        winnerId\n        games {\n            selections {\n                character {\n                    name\n                }\n                entrant {\n                    name\n                    id\n                }\n            }\n        }\n        displayScore\n        event {\n            tournament {\n                name\n            }\n            id\n        }\n    }\n}","variables":"={{ $json[\"data.data.phase.sets.nodes[0].id\"] !== null ? JSON.stringify({ \"setId\": $json[\"data.data.phase.sets.nodes[0].id\"] }) : \"{}\" }}","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-1584,1408],"id":"d7ec3a09-a7c6-478c-8786-ba20c09f188c","name":"Query Set Game Data","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['data.data.phase.sets.nodes[0].winnerId']","field2":"data.data.set.winnerId"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-928,1200],"id":"5a8007f5-87a7-43b0-bcf9-0f6ea9ee565a","name":"Enrich GF with Game Data"},{"parameters":{"fieldToSplitOut":"data.data.set.games[0].selections, data.data.set.games[1].selections, data.data.set.games[2].selections, data.data.set.games[].selections, data.data.set.games[].selections, ","include":"selectedOtherFields","fieldsToInclude":"data.data.set.event.tournament.name, data.data.set.event.id, data.data.set.winnerId, data.data.set.winnerId","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1408,1408],"id":"1356fdf7-9fef-414e-8a5d-5c97cc012505","name":"Split Game Selections"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9352ecff-ac16-48dd-a6ff-435f91bbd70b","leftValue":"={{ $json['data.data.set.games[0].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"17376203-2890-48f3-b6ec-8adc039f279e","leftValue":"={{ $json['data.data.set.games[1].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"1da72bbd-51af-4303-9bde-53ef65d6c4ad","leftValue":"={{ $json['data.data.set.games[2].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"cd2416a1-1864-4707-9060-5ed7d683a584","leftValue":"={{ $json['data.data.set.games[3].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"cc59f5cf-2e5c-4502-b2d0-1d691e2b1271","leftValue":"={{ $json['data.data.set.games[4].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1216,1408],"id":"f1f1a691-7c4b-4026-b582-55e52466c888","name":"Filter Winner Selections"},{"parameters":{"fieldToSplitOut":"['data.data.tournaments.nodes'].events","include":"selectedOtherFields","fieldsToInclude":"={{ $json['data.data.tournaments.nodes'].name }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3456,976],"id":"7e537fe4-f3f8-47cd-8987-ec873e040662","name":"Split Event Items"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['data.data.tournaments.nodes'].events[0].tournament.name","field2":"['[\\'data.data.tournaments.nodes\\'].events'].tournament.name"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-3344,768],"id":"e7448993-5dfa-4218-9aed-92376f882c36","name":"Merge Event Data"},{"parameters":{"assignments":{"assignments":[{"id":"8fadf185-090d-4dad-9b65-03bd4c2a9275","name":"totalEntrants","value":"={{ Object.values($json)[0] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2480,640],"id":"98371bcd-2455-4dd3-b9df-e968e9c3caa0","name":"Format Entrant Sum"},{"parameters":{"jsCode":"// Get all input items from the previous node in n8n\nconst items = $input.all();\n\n// Initialize a Set to track unique event IDs\nconst seenEventIds = new Set();\n\n// Initialize an array to store the filtered results\nconst result = [];\n\n// Iterate through all input items (assumed to be sorted beforehand)\nfor (const item of items) {\n    \n    // Extract the event ID (used for uniqueness filtering)\n    const eventId = item.json[\"data.data.event.id\"];\n\n    // If this event ID hasn't been seen before, add it to the result list\n    if (!seenEventIds.has(eventId)) {\n        seenEventIds.add(eventId); // Mark it as seen\n        result.push(item); // Store the first occurrence of this event ID\n    }\n\n    // Stop processing once we have collected 5 unique events\n    if (result.length === 5) {\n        break;  \n    }\n}\n\n// Return the filtered results containing at most 5 unique event IDs\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,1104],"id":"a40f097b-ef28-4f52-8c82-cbd41759859c","name":"Dedupe & Extract Phase IDs"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"['[\\'data.data.tournaments.nodes\\'].events'].numEntrants","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2720,912],"id":"67312f7f-3364-4794-9bfe-c7dc7679b721","name":"Sort by Entrants"},{"parameters":{"operation":"roundDate","date":"={{ $json.currentDate }}","toNearest":"day","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4704,880],"id":"6e908cab-29e7-441e-93c8-ff377148110c","name":"Round to Day"},{"parameters":{"operation":"addToDate","magnitude":"={{ $json.roundedDate }}","timeUnit":"hours","duration":5,"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4480,800],"id":"774f8658-bb93-4534-8948-18b53095a9dc","name":"Add 5 Hours"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"aaf22222-0000-4000-a000-000000000002","leftValue":"={{ $json['data.data.tournaments.nodes'].endAt }}","rightValue":"={{ $('Format Yesterday as Unix').item.json.dayAgoUnix }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3664,880],"id":"971e144d-c73c-4fa4-a029-6151b34ce00a","name":"Filter by endAt"},{"parameters":{"jsCode":"// Grand Finals = highest positive round (winners side always positive in double-elim)\n// If multiple sets at that round (GF + reset), pick the latest completedAt\nreturn $input.all().map(item => {\n  const sets = item.json.data?.data?.phase?.sets?.nodes || [];\n  if (sets.length === 0) return item;\n\n  // Only look at positive rounds (winners/GF side)\n  const winnersSets = sets.filter(s => s.round > 0);\n  if (winnersSets.length === 0) return item;\n\n  // Highest positive round = Grand Finals round\n  const maxRound = Math.max(...winnersSets.map(s => s.round));\n\n  // Among GF-round sets, pick latest completedAt (handles bracket reset)\n  const gfSets = winnersSets.filter(s => s.round === maxRound);\n  const trueGF = gfSets.reduce((latest, s) =>\n    s.completedAt > latest.completedAt ? s : latest\n  );\n\n  const out = JSON.parse(JSON.stringify(item.json));\n  out.data.data.phase.sets.nodes = [trueGF];\n  return { json: out };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2400,1104],"id":"026bda75-1723-4aad-9164-f8c9997ee48e","name":"Find True GF"},{"parameters":{"jsCode":"function stripSponsor(winnerLine) {\n  // Strips 'Sponsor | ' prefix: '   🦁 The Strong One | HamPolo' => '   🦁 HamPolo'\n  return winnerLine.replace(/^(   \\S+\\s).*\\|\\s*(.+)$/, '$1$2');\n}\n\nfunction truncateIfNeeded(text) {\n  if (text.length <= 300) return text;\n  return text.split('\\n').map(line =>\n    line.includes(' | ') ? stripSponsor(line) : line\n  ).join('\\n');\n}\n\nconst data = $input.first().json;\nreturn [{\n  ...data,\n  mainPostText: truncateIfNeeded(data.mainPostText),\n  replyText:    truncateIfNeeded(data.replyText)\n}];"},"id":"1f1b68dc-3a42-4b47-81c7-e049df831556","name":"Failsafe Truncation","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"text":"={{ $('Format Twitter Posts').first().json.tweetText }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[832,0],"id":"815f96bf-9415-4c17-8adf-e5f946ab9693","name":"Create Tweet","credentials":{"twitterOAuth2Api":{"id":"4sp0zAH21URVXj37","name":"X account"}}},{"parameters":{"jsCode":"const data = $('Failsafe Truncation').first().json;\nconst links = data.tournamentLinks || [];\n\nfunction insertLinks(text, links) {\n  let result = text;\n  for (const { text: name, url } of links) {\n    result = result.replace(name, `${name} ${url}`);\n  }\n  return result;\n}\n\nreturn [{\n  tweetText: insertLinks(data.mainPostText, links),\n  replyText: insertLinks(data.replyText, links)\n}];"},"id":"f3a1b2c4-d5e6-7890-abcd-ef1234567890","name":"Format Twitter Posts","type":"n8n-nodes-base.code","typeVersion":2,"position":[656,0]},{"parameters":{"text":"={{ $('Format Twitter Posts').first().json.replyText }}","additionalFields":{"inReplyToStatusId":{"mode":"id","value":"={{ $json.data.id }}"}}},"id":"a1b2c3d4-e5f6-7890-abcd-ef0987654321","name":"Post Reply Tweet","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1008,0],"credentials":{"twitterOAuth2Api":{"id":"4sp0zAH21URVXj37","name":"X account"}}}],"connections":{"Format Today as Unix":{"main":[[{"node":"Merge Date Range","type":"main","index":0}]]},"Get Current DateTime":{"main":[[{"node":"Round to Day","type":"main","index":0}]]},"Subtract 1 Day":{"main":[[{"node":"Format Yesterday as Unix","type":"main","index":0}]]},"Format Yesterday as Unix":{"main":[[{"node":"Merge Date Range","type":"main","index":1}]]},"Merge Date Range":{"main":[[{"node":"Query Tournaments","type":"main","index":0}]]},"Split Tournament Nodes":{"main":[[{"node":"Filter by endAt","type":"main","index":0}]]},"Filter Rivals2 Events":{"main":[[{"node":"Sum Total Entrants","type":"main","index":0},{"node":"Sort by Entrants","type":"main","index":0}]]},"Sum Total Entrants":{"main":[[{"node":"Format Entrant Sum","type":"main","index":0}]]},"Limit to Top 5":{"main":[[{"node":"Query Event Phases","type":"main","index":0},{"node":"Join Events + Phase Data","type":"main","index":0}]]},"Aggregate Tournament Data":{"main":[[{"node":"Assemble Post","type":"main","index":0}]]},"Merge Stats + Events":{"main":[[{"node":"Aggregate Tournament Data","type":"main","index":0}]]},"Run Daily @ 4:21pm":{"main":[[{"node":"Get Current DateTime","type":"main","index":0}]]},"Query Tournaments":{"main":[[{"node":"Split Tournament Nodes","type":"main","index":0}]]},"Query Event Phases":{"main":[[{"node":"Split Phase Groups","type":"main","index":0}]]},"Split Phase Groups":{"main":[[{"node":"Sort Phases","type":"main","index":0}]]},"Sort Phases":{"main":[[{"node":"Dedupe & Extract Phase IDs","type":"main","index":0}]]},"Split GF Games":{"main":[[{"node":"Sort Games","type":"main","index":0}]]},"Sort Games":{"main":[[{"node":"Code Top5 Events","type":"main","index":0}]]},"Query GF Sets":{"main":[[{"node":"Find True GF","type":"main","index":0}]]},"Query Entrant by ID":{"main":[[{"node":"Map Entrant to Winner","type":"main","index":0}]]},"Map Entrant to Winner":{"main":[[{"node":"Enrich GF with Game Data","type":"main","index":0}]]},"Filter Phase Match":{"main":[[{"node":"Query Entrant by ID","type":"main","index":0},{"node":"Query Set Game Data","type":"main","index":0}]]},"Join Events + Phase Data":{"main":[[{"node":"Join Events + Winners","type":"main","index":0}]]},"Join Events + Winners":{"main":[[{"node":"Merge Stats + Events","type":"main","index":1}]]},"Merge Winner Sources":{"main":[[{"node":"Join Events + Winners","type":"main","index":1}]]},"Code Top5 Events":{"main":[[{"node":"Filter Phase Match","type":"main","index":0},{"node":"Join Events + Phase Data","type":"main","index":1},{"node":"Merge Winner Sources","type":"main","index":0}]]},"Assemble Post":{"main":[[{"node":"Failsafe Truncation","type":"main","index":0}]]},"Query Set Game Data":{"main":[[{"node":"Split Game Selections","type":"main","index":0}]]},"Enrich GF with Game Data":{"main":[[{"node":"Merge Winner Sources","type":"main","index":1}]]},"Split Game Selections":{"main":[[{"node":"Filter Winner Selections","type":"main","index":0}]]},"Filter Winner Selections":{"main":[[{"node":"Enrich GF with Game Data","type":"main","index":1}]]},"Split Event Items":{"main":[[{"node":"Merge Event Data","type":"main","index":1}]]},"Merge Event Data":{"main":[[{"node":"Filter Rivals2 Events","type":"main","index":0}]]},"Format Entrant Sum":{"main":[[{"node":"Merge Stats + Events","type":"main","index":0}]]},"Dedupe & Extract Phase IDs":{"main":[[{"node":"Query GF Sets","type":"main","index":0}]]},"Sort by Entrants":{"main":[[{"node":"Limit to Top 5","type":"main","index":0}]]},"Round to Day":{"main":[[{"node":"Subtract 1 Day","type":"main","index":0},{"node":"Add 5 Hours","type":"main","index":0}]]},"Add 5 Hours":{"main":[[{"node":"Format Today as Unix","type":"main","index":0}]]},"Filter by endAt":{"main":[[{"node":"Split Event Items","type":"main","index":0},{"node":"Merge Event Data","type":"main","index":0}]]},"Find True GF":{"main":[[{"node":"Split GF Games","type":"main","index":0}]]},"Failsafe Truncation":{"main":[[{"node":"Format Twitter Posts","type":"main","index":0}]]},"Format Twitter Posts":{"main":[[{"node":"Create Tweet","type":"main","index":0}]]},"Create Tweet":{"main":[[{"node":"Post Reply Tweet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Run Daily @ 4:21pm":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6d07597e-9deb-49c7-ad57-ec6a8c2e8632","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-03-15T00:48:43.583Z","createdAt":"2026-03-15T00:48:43.583Z","role":"workflow:owner","workflowId":"hSLW7RdSb2c9goD9","projectId":"u9kYCfFU7pgjjx9U"}],"activeVersion":null,"tags":[]}