workflows/Daily Entrants copy copy.json
{"updatedAt":"2026-03-12T00:49:53.000Z","createdAt":"2026-03-12T00:49:36.545Z","id":"xPaZRhCwBDlHvqs7","name":"Daily Entrants copy copy","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"formatDate","date":"={{ $json.newDate }}","format":"X","outputFieldName":"currentDateUnix","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4320,800],"id":"12ac3140-9c42-41a0-9107-ee6d1d0c55ae","name":"Format Today as Unix"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4864,880],"id":"ed7df56e-468c-4abe-a8ca-c186a87abebf","name":"Get Current DateTime"},{"parameters":{"operation":"subtractFromDate","magnitude":"={{ $json.roundedDate }}","duration":1,"outputFieldName":"dayAgo","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4480,960],"id":"718d4ca4-2ce5-44bd-b65d-fe689f9a5742","name":"Subtract 1 Day"},{"parameters":{"operation":"formatDate","date":"={{ $json.dayAgo }}","format":"X","outputFieldName":"dayAgoUnix","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4320,960],"id":"11442a4a-385b-4739-96fb-4de53ca0eca8","name":"Format Yesterday as Unix"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-4144,880],"id":"f9806048-aaf9-4c80-bcf6-444ade4ca768","name":"Merge Date Range"},{"parameters":{"fieldToSplitOut":"data.data.tournaments.nodes","include":"selectedOtherFields","fieldsToInclude":"={{ $json.data.data.tournaments.nodes[0].name }} {{ $json.data.data.tournaments.nodes[0].events }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3824,880],"id":"b5f3fd0e-95fe-4619-93f5-ff9501e98de4","name":"Split Tournament Nodes"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b84a0c12-449a-4756-aeeb-017a0f934e38","leftValue":"={{ $json['data.data.tournaments.nodes'].events.numEntrants }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3136,768],"id":"120be262-4be4-4a6b-9f2c-10132f50d156","name":"Filter Rivals2 Events"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"['data.data.tournaments.nodes'].events[0].numEntrants"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-2720,640],"id":"b9d2838a-289f-405d-b964-cd20e45f85d6","name":"Sum Total Entrants"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2480,912],"id":"2cc15183-a0d8-4ebb-8396-ef8dd03a2c65","name":"Limit to Top 5"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[160,0],"id":"519f2868-bad7-4614-94ed-a3635b07f0fa","name":"Aggregate Tournament Data"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[0,0],"id":"b93fc207-05ab-4f5d-b1af-b656796ff5ba","name":"Merge Stats + Events"},{"parameters":{"rule":{"interval":[{"triggerAtHour":17,"triggerAtMinute":21}]}},"id":"7b7dd010-457f-47b9-859e-b98bd24e57a3","name":"Run Daily @ 4:21pm","type":"n8n-nodes-base.scheduleTrigger","position":[-5024,880],"typeVersion":1.2},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query Tournaments($gameId: [ID]!, $startDate: Timestamp!, $endDate: Timestamp!, $eventType: [Int]!) { tournaments(query: { perPage: 500, filter: { videogameIds: $gameId, afterDate: $startDate, beforeDate: $endDate } }) { nodes { name addrState countryCode endAt events(filter: { videogameId: $gameId, type: $eventType })  { id tournament { name } name slug numEntrants } } } }","variables":"={ \"gameId\": [53945], \"startDate\": {{ $json.dayAgoUnix - 518400 }}, \"endDate\": {{ $json.currentDateUnix }}, \"eventType\": [1]  }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-3968,880],"id":"6c543049-1ec8-4ac0-9c87-4a39544598d0","name":"Query Tournaments","credentials":{}},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query Event($eventId: ID!) { event(id: $eventId) { id phases { id } phaseGroups { id phase { phaseOrder id name } } tournament { name } } }","variables":"={ \"eventId\": {{ $json['[\\'data.data.tournaments.nodes\\'].events'].id }}}","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-2320,912],"id":"d4c62810-2409-4d89-822e-5fc93b9be10f","name":"Query Event Phases","credentials":{}},{"parameters":{"fieldToSplitOut":"data.data.event.phaseGroups","include":"selectedOtherFields","fieldsToInclude":"data.data.event.tournament.name, data.data.event.id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2160,912],"id":"e1932cce-4bb1-466b-bb38-29ea2f8d6997","name":"Split Phase Groups"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"=['data.data.event.phaseGroups'].phase.phaseOrder","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1984,912],"id":"1512d1e2-5878-4189-af49-586cabcb9658","name":"Sort Phases"},{"parameters":{"fieldToSplitOut":"data.data.phase.sets.nodes[0].games","include":"selectedOtherFields","fieldsToInclude":"data.data.phase.sets.nodes[0].displayScore, data.data.phase.sets.nodes[0].games[0].selections[0].character.name, data.data.phase.sets.nodes[0].games[0].selections[1].character.name, data.data.phase.sets.nodes[0].id, data.data.phase.sets.nodes[0].winnerId, data.data.phase.event.id, data.data.phase.event.tournament.name","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2256,1104],"id":"68f0a0d0-84ae-4c1d-815c-41c045b9bee8","name":"Split GF Games"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"['data.data.phase.sets.nodes[0].games'].orderNum","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2128,1104],"id":"cdf39ce8-c195-436d-a845-782248b2afaf","name":"Sort Games"},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query PhaseInfo($phaseId: ID!) { phase(id: $phaseId) { id name phaseOrder phaseGroups { nodes { id bracketType } } sets { nodes { id displayScore identifier round completedAt games { orderNum } winnerId } } event { id tournament { name } } } }","variables":"={ \"phaseId\": {{ $json['data.data.event.phaseGroups'].phase.id }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-2560,1104],"id":"7db78f80-e71a-4392-bb1b-bd0dfcc9ab56","name":"Query GF Sets","credentials":{}},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query GetEntrant($entrantId: ID!) { entrant(id: $entrantId) { id name } }","variables":"={{ $json[\"data.data.phase.sets.nodes[0].winnerId\"] !== null ? JSON.stringify({ \"entrantId\": $json[\"data.data.phase.sets.nodes[0].winnerId\"] }) : \"{}\" }}\n","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-1584,1200],"id":"1e6872c9-155e-4919-8fd0-9511db7cd361","name":"Query Entrant by ID","alwaysOutputData":true,"credentials":{}},{"parameters":{"assignments":{"assignments":[{"id":"08f7949b-ccdd-4ce2-90be-247b219e0644","name":"['data.data.phase.sets.nodes[0].winnerId']","value":"={{ $json.data.data.entrant.id }}","type":"number"},{"id":"77c4edc8-74bf-455d-a44c-dd2bc177f0c3","name":"winnerName","value":"={{ $json.data.data.entrant.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1408,1200],"id":"00282e19-6ead-4cee-8185-8f010acce093","name":"Map Entrant to Winner"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a76826e-fe59-4295-950f-d2a947a7d07f","leftValue":"={{ $json['data.data.phase.sets.nodes[0].winnerId'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1776,1200],"id":"54996e6a-15f7-4d12-9e67-3fc142d2a127","name":"Filter Phase Match"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['[\\'data.data.tournaments.nodes\\'].events'].id","field2":"data.data.phase.event.id"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1600,624],"id":"813a2ef7-b1a8-436d-a6df-b937b15964e3","name":"Join Events + Phase Data"},{"parameters":{"mode":"combine","fieldsToMatchString":"['data.data.phase.sets.nodes[0].winnerId']","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-608,288],"id":"401d0a03-b061-4af7-9277-dd0fb80d5377","name":"Join Events + Winners"},{"parameters":{"mode":"combine","fieldsToMatchString":"['data.data.phase.sets.nodes[0].winnerId']","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-736,544],"id":"d1b34c78-477f-4452-98fb-4220fb4cd371","name":"Merge Winner Sources"},{"parameters":{"jsCode":"// Get input data\nconst items = $input.all();\n\n// Initialize storage for unique set IDs\nconst seenSetIds = new Set();\nconst result = [];\n\n// Iterate through sorted data\nfor (const item of items) {\n    const setId = item.json[\"data.data.phase.sets.nodes[0].id\"];\n    \n    if (!seenSetIds.has(setId)) {\n        seenSetIds.add(setId);\n        result.push(item);\n    }\n}\n\n// Return filtered results\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1984,1104],"id":"f55a44ab-74b2-4993-b624-b651da069aa2","name":"Code Top5 Events"},{"parameters":{"jsCode":"// Define max tournament name length\nconst maxLength = 40;\n\nconst hashtagKeywords = {\n    \"Rivals2\": \"#Rivals2\",\n    \"Rivals of Aether\": \"#RivalsOfAether\",\n    \"Melee\": \"#Melee\",\n    \"Rivals\": \"#Rivals\",\n    \"Smash\": \"#Smash\",\n    \"Ultimate\": \"#Ultimate\",\n    \"Aether\": \"#Aether\"\n};\n\nconst addHashtags = (name) => {\n    let updatedName = name;\n    Object.keys(hashtagKeywords).forEach((word) => {\n        const regex = new RegExp(`\\\\b${word}\\\\b`, \"gi\");\n        updatedName = updatedName.replace(regex, hashtagKeywords[word]);\n    });\n    return updatedName;\n};\n\n// Truncate base name only, then re-attach location so it's never dropped.\nconst truncateName = (baseName, location) => {\n    const locationSuffix = location ? ` (${location})` : '';\n    const maxBase = maxLength - locationSuffix.length;\n\n    let truncated = addHashtags(baseName);\n    if (truncated.length <= maxBase) return truncated + locationSuffix;\n\n    const splitCharacters = [\"-\", \"@\", \"#\", \":\", \"|\"];\n    let segments = [truncated];\n    splitCharacters.forEach((char) => {\n        if (truncated.includes(char)) {\n            segments = truncated.split(char).map(s => s.trim());\n        }\n    });\n\n    let cleanedName = segments[0];\n    for (let i = 1; i < segments.length; i++) {\n        const segment = segments[i];\n        if (Object.keys(hashtagKeywords).some(key => segment.includes(key))) {\n            cleanedName += `, ${segment}`;\n        }\n    }\n\n    if (cleanedName.length > maxBase) {\n        cleanedName = cleanedName.substring(0, maxBase).trim();\n        if (cleanedName.includes(\" \")) {\n            cleanedName = cleanedName.substring(0, cleanedName.lastIndexOf(\" \"));\n        }\n        cleanedName += \"...\";\n    }\n\n    return cleanedName + locationSuffix;\n};\n\nconst characterIcons = {\n    \"Forsburn\": \"\\u2620\\ufe0f\",\n    \"Loxodont\": \"\\ud83d\\udc18\",\n    \"Clairen\": \"\\ud83e\\udd3a\",\n    \"Zetterburn\": \"\\ud83e\\udd81\",\n    \"Wrastor\": \"\\ud83e\\udd85\",\n    \"Fleet\": \"\\ud83e\\udd8a\",\n    \"Maypul\": \"\\ud83c\\udf31\",\n    \"Kragg\": \"\\ud83e\\udeb2\",\n    \"Ranno\": \"\\ud83d\\udc38\",\n    \"Orcane\": \"\\ud83d\\udc0b\",\n    \"Etalus\": \"\\ud83d\\udc3b\",\n    \"Olympia\": \"\\ud83d\\udc8e\",\n    \"La Reina\": \"\\ud83e\\ude91\",\n    \"Absa\": \"\\u26a1\",\n    \"Galvan\": \"\\ud83e\\uddf2\",\n    \"Slade\": \"\\ud83e\\udd88\"\n};\n\nconst totalEntrants = $input.first().json.data[0][\"sum_'data_data_tournaments_nodes'_events0_numEntrants\"] || 0;\n\nconst tournamentData = Array.from({ length: 5 }, (_, i) => {\n    const tournamentNode = $input.first()?.json?.data?.[i]?.[\"data.data.tournaments.nodes\"] || {};\n    const eventNode = $input.first()?.json?.data?.[i]?.[\"data.data.set.event\"] || {};\n    const winnerName = $input.first()?.json?.data?.[i]?.winnerName || \"\";\n\n    const baseName = eventNode.tournament?.name || tournamentNode.name || \"N/A\";\n\n    const location = tournamentNode.countryCode && tournamentNode.countryCode !== \"US\"\n        ? tournamentNode.countryCode\n        : tournamentNode.addrState || \"\";\n\n    const entrants = $input.first()?.json?.data?.[i]?.[\"['data.data.tournaments.nodes'].events\"]?.numEntrants || 0;\n\n    const eventsNode = $input.first()?.json?.data?.[i]?.[\"['data.data.tournaments.nodes'].events\"] || {};\n    const eventSlug = eventsNode.slug || tournamentNode.events?.[0]?.slug || null;\n\n    // Find winner's most-played character across all games.\n    // Scan all keys matching the game selections pattern (keys may be non-sequential\n    // after Filter Winner Selections removes null-selection items).\n    let charCounts = {};\n    const gamePattern = /^data\\.data\\.set\\.games\\[\\d+\\]\\.selections$/;\n    const gameData = $input.first()?.json?.data?.[i];\n    if (gameData) {\n        for (const key of Object.keys(gameData)) {\n            if (!gamePattern.test(key)) continue;\n            const sel = gameData[key];\n            if (!sel) continue;\n            const entrantName = sel?.entrant?.name || \"\";\n            if (entrantName === winnerName || entrantName.includes(winnerName.split(\" \").pop())) {\n                const c = sel?.character?.name;\n                if (c) charCounts[c] = (charCounts[c] || 0) + 1;\n            }\n        }\n    }\n    const characterName = Object.entries(charCounts).sort((a, b) => b[1] - a[1])[0]?.[0] || \"\";\n    const icon = characterIcons[characterName] || \"W:\";\n\n    return {\n        originalName: location ? `${baseName} (${location})` : baseName,\n        truncatedName: truncateName(baseName, location),\n        entrants,\n        winner: winnerName ? `   ${icon} ${winnerName}` : \"\",\n        eventSlug\n    };\n});\n\nwhile (tournamentData.length < 5) {\n    tournamentData.push({ originalName: \"N/A\", truncatedName: \"N/A\", entrants: 0, winner: \"\", eventSlug: null });\n}\n\n// Full result (all 5 tournaments) for character count reference\nconst inputString = \"Yesterday in #Rivals2!\";\nlet fullList = \"\\n\\n\";\ntournamentData.forEach(t => {\n    fullList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst finalString = `${inputString}${fullList}\\nEntrants yesterday: ${totalEntrants}`.trim();\n\n// Main post: first 3 tournaments (split 3/2)\nlet mainList = \"\\n\\n\";\ntournamentData.slice(0, 3).forEach(t => {\n    mainList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst mainPostText = `${inputString}${mainList}\\nEntrants yesterday: ${totalEntrants}`;\n\n// Reply: remaining tournaments\nlet replyList = \"\";\ntournamentData.slice(3).filter(t => t.truncatedName !== 'N/A').forEach(t => {\n    replyList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst replyText = replyList.trim();\n\nreturn [{ \n    result: finalString, \n    characterCount: finalString.length,\n    mainPostText,\n    replyText,\n    tournamentLinks: tournamentData\n        .filter(t => t.eventSlug && t.truncatedName !== 'N/A')\n        .map(t => ({\n            text: t.truncatedName,\n            url: `https://www.start.gg/${t.eventSlug}`\n        }))\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,0],"id":"f0e13f60-2897-4072-be7b-a9cca598c2f8","name":"Assemble Post"},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query SetInfo($setId: ID!) {\n    set(id: $setId) {\n        id\n        winnerId\n        games {\n            selections {\n                character {\n                    name\n                }\n                entrant {\n                    name\n                    id\n                }\n            }\n        }\n        displayScore\n        event {\n            tournament {\n                name\n            }\n            id\n        }\n    }\n}","variables":"={{ $json[\"data.data.phase.sets.nodes[0].id\"] !== null ? JSON.stringify({ \"setId\": $json[\"data.data.phase.sets.nodes[0].id\"] }) : \"{}\" }}","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-1584,1408],"id":"353bd7ce-1a65-4e3a-95e5-6f1ffa954d34","name":"Query Set Game Data","alwaysOutputData":true,"credentials":{}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['data.data.phase.sets.nodes[0].winnerId']","field2":"data.data.set.winnerId"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-928,1200],"id":"000b2946-c611-4b2b-bf14-6db04b386ff5","name":"Enrich GF with Game Data"},{"parameters":{"fieldToSplitOut":"data.data.set.games[0].selections, data.data.set.games[1].selections, data.data.set.games[2].selections, data.data.set.games[].selections, data.data.set.games[].selections, ","include":"selectedOtherFields","fieldsToInclude":"data.data.set.event.tournament.name, data.data.set.event.id, data.data.set.winnerId, data.data.set.winnerId","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1408,1408],"id":"2f31cb7e-b27d-42f9-8981-3ffdc0892393","name":"Split Game Selections"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9352ecff-ac16-48dd-a6ff-435f91bbd70b","leftValue":"={{ $json['data.data.set.games[0].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"17376203-2890-48f3-b6ec-8adc039f279e","leftValue":"={{ $json['data.data.set.games[1].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"1da72bbd-51af-4303-9bde-53ef65d6c4ad","leftValue":"={{ $json['data.data.set.games[2].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"cd2416a1-1864-4707-9060-5ed7d683a584","leftValue":"={{ $json['data.data.set.games[3].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"cc59f5cf-2e5c-4502-b2d0-1d691e2b1271","leftValue":"={{ $json['data.data.set.games[4].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1216,1408],"id":"8c31b60c-97b7-47ab-9d45-80a84c5fc762","name":"Filter Winner Selections"},{"parameters":{"fieldToSplitOut":"['data.data.tournaments.nodes'].events","include":"selectedOtherFields","fieldsToInclude":"={{ $json['data.data.tournaments.nodes'].name }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3456,976],"id":"f64d8584-2d69-4425-9ffa-ae764224e548","name":"Split Event Items"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['data.data.tournaments.nodes'].events[0].tournament.name","field2":"['[\\'data.data.tournaments.nodes\\'].events'].tournament.name"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-3344,768],"id":"5b2c11d4-b589-4822-92ae-f304cb0670c8","name":"Merge Event Data"},{"parameters":{"assignments":{"assignments":[{"id":"8fadf185-090d-4dad-9b65-03bd4c2a9275","name":"sum_'data_data_tournaments_nodes'_events0_numEntrants","value":"={{ $json['sum_\\'data_data_tournaments_nodes\\'_events0_numEntrants'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2480,640],"id":"45d58132-b9ce-447c-b5a6-2055d810e8c1","name":"Format Entrant Sum"},{"parameters":{"jsCode":"// Get all input items from the previous node in n8n\nconst items = $input.all();\n\n// Initialize a Set to track unique event IDs\nconst seenEventIds = new Set();\n\n// Initialize an array to store the filtered results\nconst result = [];\n\n// Iterate through all input items (assumed to be sorted beforehand)\nfor (const item of items) {\n    \n    // Extract the event ID (used for uniqueness filtering)\n    const eventId = item.json[\"data.data.event.id\"];\n\n    // If this event ID hasn't been seen before, add it to the result list\n    if (!seenEventIds.has(eventId)) {\n        seenEventIds.add(eventId); // Mark it as seen\n        result.push(item); // Store the first occurrence of this event ID\n    }\n\n    // Stop processing once we have collected 5 unique events\n    if (result.length === 5) {\n        break;  \n    }\n}\n\n// Return the filtered results containing at most 5 unique event IDs\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,1104],"id":"d717d32f-811f-4999-98e7-38cc68745e9f","name":"Dedupe & Extract Phase IDs"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"['data.data.tournaments.nodes'].events[0].numEntrants","order":"descending"}],"sortField[0]":{"fieldName":"['data.data.tournaments.nodes'].events.numEntrants"}},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2720,912],"id":"00cec730-36f6-4890-847f-0e26aaa44042","name":"Sort by Entrants"},{"parameters":{"content":"Need to adjust these. Not finding multiday events and only looking at last game for winning character. Grand finals reset does something weird too.","height":540,"width":2180},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2864,1040],"id":"7f7e704b-8502-4061-aa98-487431eb1a30","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.server.createSession","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ $json.BlueskyHandle }}"},{"name":"password","value":"={{ $json.BlueskyAppPassword }}"}]},"options":{}},"id":"ea2f776a-d0cb-43cc-b375-9824d53cd3f6","name":"Create Bluesky Session","type":"n8n-nodes-base.httpRequest","position":[1728,672],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"ec07f538-0164-40c5-a199-45e2a8a4604a","name":"BlueskyHandle","type":"string","value":"rivals2statbot.bsky.social"},{"id":"463e906c-c49b-41e0-9176-04bd2c175d0b","name":"BlueskyAppPassword","type":"string","value":"#m;:vBeyRiWE83K"}]},"options":{}},"id":"bfbb3a24-1787-41f1-882e-5ebdb3b18a11","name":"Set Bluesky Credentials","type":"n8n-nodes-base.set","position":[1504,672],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Bluesky Session').item.json.accessJwt}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Create Post Text').item.json.toJsonString() }}","options":{}},"id":"1bf8cdfd-021d-4a0c-ae86-db18bc1e6309","name":"Create Initial Post","type":"n8n-nodes-base.httpRequest","position":[1728,912],"typeVersion":4.2},{"parameters":{"jsCode":"// Build facets for rich text (AT Protocol)\n// Link facets take priority; hashtag facets skip positions that overlap a link span\nfunction buildFacets(text, links) {\n  const facets = [];\n  let searchFrom = 0;  // advances past each matched text to handle duplicate tournament names\n\n  // 1. Link facets for tournament names\n  for (const { text: linkText, url } of links) {\n    let idx = text.indexOf(linkText, searchFrom);\n    let matchedText = linkText;\n    if (idx === -1) {\n      matchedText = linkText.replace(/#([a-zA-Z])/g, '$1');\n      idx = text.indexOf(matchedText, searchFrom);\n    }\n    if (idx === -1) continue;  // not in this post's text, don't advance\n    searchFrom = idx + matchedText.length;\n    const byteStart = Buffer.byteLength(text.substring(0, idx), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(matchedText, 'utf8');\n    facets.push({\n      index: { byteStart, byteEnd },\n      features: [{ $type: 'app.bsky.richtext.facet#link', uri: url }]\n    });\n  }\n\n  // 2. Hashtag facets — skip any that overlap a link facet\n  const regex = /#[a-zA-Z][a-zA-Z0-9_]*/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    const byteStart = Buffer.byteLength(text.substring(0, match.index), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(match[0], 'utf8');\n    const overlaps  = facets.some(f => byteStart < f.index.byteEnd && byteEnd > f.index.byteStart);\n    if (!overlaps) {\n      facets.push({\n        index: { byteStart, byteEnd },\n        features: [{ $type: 'app.bsky.richtext.facet#tag', tag: match[0].slice(1) }]\n      });\n    }\n  }\n\n  return facets;\n}\n\n// Read from Failsafe Truncation (handles per-post 300-char limit)\nconst assemblePost = $('Failsafe Truncation').first().json;\nconst tournamentLinks = assemblePost.tournamentLinks || [];\nconst postText = assemblePost.mainPostText;\n\nconst facets = buildFacets(postText, tournamentLinks);\n\nconst postData = {\n    repo: $('Set Bluesky Credentials').first().json.BlueskyHandle,\n    collection: \"app.bsky.feed.post\",\n    record: {\n        $type: \"app.bsky.feed.post\",\n        text: postText,\n        createdAt: $now,\n        ...(facets.length > 0 && { facets })\n    }\n};\n\nreturn postData;"},"id":"a4d4f571-725b-47f1-937b-9094b8ae4e1c","name":"Create Post Text","type":"n8n-nodes-base.code","position":[1504,912],"typeVersion":2},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Bluesky Session').item.json.accessJwt}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Create Reply Text1').item.json.toJsonString() }} ","options":{}},"id":"b5ad6c15-96da-4c8e-9d4b-11d99d703d02","name":"Create Reply1","type":"n8n-nodes-base.httpRequest","position":[1728,1152],"typeVersion":4.2},{"parameters":{"jsCode":"// Build facets for rich text (AT Protocol)\nfunction buildFacets(text, links) {\n  const facets = [];\n  let searchFrom = 0;  // advances past each matched text to handle duplicate tournament names\n\n  for (const { text: linkText, url } of links) {\n    let idx = text.indexOf(linkText, searchFrom);\n    let matchedText = linkText;\n    if (idx === -1) {\n      matchedText = linkText.replace(/#([a-zA-Z])/g, '$1');\n      idx = text.indexOf(matchedText, searchFrom);\n    }\n    if (idx === -1) continue;  // not in this post's text, don't advance\n    searchFrom = idx + matchedText.length;\n    const byteStart = Buffer.byteLength(text.substring(0, idx), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(matchedText, 'utf8');\n    facets.push({\n      index: { byteStart, byteEnd },\n      features: [{ $type: 'app.bsky.richtext.facet#link', uri: url }]\n    });\n  }\n\n  const regex = /#[a-zA-Z][a-zA-Z0-9_]*/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    const byteStart = Buffer.byteLength(text.substring(0, match.index), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(match[0], 'utf8');\n    const overlaps  = facets.some(f => byteStart < f.index.byteEnd && byteEnd > f.index.byteStart);\n    if (!overlaps) {\n      facets.push({\n        index: { byteStart, byteEnd },\n        features: [{ $type: 'app.bsky.richtext.facet#tag', tag: match[0].slice(1) }]\n      });\n    }\n  }\n\n  return facets;\n}\n\n// Read from Failsafe Truncation (handles per-post 300-char limit)\nconst assemblePost = $('Failsafe Truncation').first().json;\nconst tournamentLinks = assemblePost.tournamentLinks || [];\nconst replyText = assemblePost.replyText;\n\nconst facets = buildFacets(replyText, tournamentLinks);\n\nconst futureDate = new Date(Date.now() + 1000);\n\nconst replyPostData = {\n    repo: $('Set Bluesky Credentials').first().json.BlueskyHandle,\n    collection: \"app.bsky.feed.post\",\n    record: {\n        \"$type\": \"app.bsky.feed.post\",\n        text: replyText,\n        reply: {\n            root: {\n                cid: $('Create Initial Post').first().json.cid,\n                uri: $('Create Initial Post').first().json.uri\n            },\n            parent: {\n                cid: $('Create Initial Post').first().json.cid,\n                uri: $('Create Initial Post').first().json.uri\n            }\n        },\n        ...(facets.length > 0 && { facets }),\n        createdAt: futureDate.toISOString()\n    }\n};\n\nreturn replyPostData;"},"id":"f0f68150-2d68-4d61-a381-f85f6d92d483","name":"Create Reply Text1","type":"n8n-nodes-base.code","position":[1504,1152],"typeVersion":2},{"parameters":{"operation":"roundDate","date":"={{ $json.currentDate }}","toNearest":"day","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4704,880],"id":"17bb790c-bdeb-41cd-8ab8-6d469b4a4759","name":"Round to Day"},{"parameters":{"operation":"addToDate","magnitude":"={{ $json.roundedDate }}","timeUnit":"hours","duration":5,"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4480,800],"id":"a064c597-7d74-4771-b745-36066f831ac8","name":"Add 5 Hours"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"aaf22222-0000-4000-a000-000000000002","leftValue":"={{ $json['data.data.tournaments.nodes'].endAt }}","rightValue":"={{ $('Format Yesterday as Unix').item.json.dayAgoUnix }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3664,880],"id":"165577cf-2adf-4336-a7e3-2b508775b087","name":"Filter by endAt"},{"parameters":{"jsCode":"// Grand Finals = highest positive round (winners side always positive in double-elim)\n// If multiple sets at that round (GF + reset), pick the latest completedAt\nreturn $input.all().map(item => {\n  const sets = item.json.data?.data?.phase?.sets?.nodes || [];\n  if (sets.length === 0) return item;\n\n  // Only look at positive rounds (winners/GF side)\n  const winnersSets = sets.filter(s => s.round > 0);\n  if (winnersSets.length === 0) return item;\n\n  // Highest positive round = Grand Finals round\n  const maxRound = Math.max(...winnersSets.map(s => s.round));\n\n  // Among GF-round sets, pick latest completedAt (handles bracket reset)\n  const gfSets = winnersSets.filter(s => s.round === maxRound);\n  const trueGF = gfSets.reduce((latest, s) =>\n    s.completedAt > latest.completedAt ? s : latest\n  );\n\n  const out = JSON.parse(JSON.stringify(item.json));\n  out.data.data.phase.sets.nodes = [trueGF];\n  return { json: out };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2400,1104],"id":"2bc1d893-e93a-47f6-9ae1-d1beb7691d46","name":"Find True GF"},{"id":"4d5fd9c0-e171-4b8b-8057-086877a5eee3","name":"Failsafe Truncation","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0],"parameters":{"jsCode":"function stripSponsor(winnerLine) {\n  // Strips 'Sponsor | ' prefix: '   🦁 The Strong One | HamPolo' => '   🦁 HamPolo'\n  return winnerLine.replace(/^(   \\S+\\s).*\\|\\s*(.+)$/, '$1$2');\n}\n\nfunction truncateIfNeeded(text) {\n  if (text.length <= 300) return text;\n  return text.split('\\n').map(line =>\n    line.includes(' | ') ? stripSponsor(line) : line\n  ).join('\\n');\n}\n\nconst data = $input.first().json;\nreturn [{\n  ...data,\n  mainPostText: truncateIfNeeded(data.mainPostText),\n  replyText:    truncateIfNeeded(data.replyText)\n}];"}}],"connections":{"Format Today as Unix":{"main":[[{"node":"Merge Date Range","type":"main","index":0}]]},"Get Current DateTime":{"main":[[{"node":"Round to Day","type":"main","index":0}]]},"Subtract 1 Day":{"main":[[{"node":"Format Yesterday as Unix","type":"main","index":0}]]},"Format Yesterday as Unix":{"main":[[{"node":"Merge Date Range","type":"main","index":1}]]},"Merge Date Range":{"main":[[{"node":"Query Tournaments","type":"main","index":0}]]},"Split Tournament Nodes":{"main":[[{"node":"Filter by endAt","type":"main","index":0}]]},"Filter Rivals2 Events":{"main":[[{"node":"Sum Total Entrants","type":"main","index":0},{"node":"Sort by Entrants","type":"main","index":0}]]},"Sum Total Entrants":{"main":[[{"node":"Format Entrant Sum","type":"main","index":0}]]},"Limit to Top 5":{"main":[[{"node":"Query Event Phases","type":"main","index":0},{"node":"Join Events + Phase Data","type":"main","index":0}]]},"Aggregate Tournament Data":{"main":[[{"node":"Assemble Post","type":"main","index":0}]]},"Merge Stats + Events":{"main":[[{"node":"Aggregate Tournament Data","type":"main","index":0}]]},"Run Daily @ 4:21pm":{"main":[[{"node":"Get Current DateTime","type":"main","index":0}]]},"Query Tournaments":{"main":[[{"node":"Split Tournament Nodes","type":"main","index":0}]]},"Query Event Phases":{"main":[[{"node":"Split Phase Groups","type":"main","index":0}]]},"Split Phase Groups":{"main":[[{"node":"Sort Phases","type":"main","index":0}]]},"Sort Phases":{"main":[[{"node":"Dedupe & Extract Phase IDs","type":"main","index":0}]]},"Split GF Games":{"main":[[{"node":"Sort Games","type":"main","index":0}]]},"Sort Games":{"main":[[{"node":"Code Top5 Events","type":"main","index":0}]]},"Query GF Sets":{"main":[[{"node":"Find True GF","type":"main","index":0}]]},"Query Entrant by ID":{"main":[[{"node":"Map Entrant to Winner","type":"main","index":0}]]},"Map Entrant to Winner":{"main":[[{"node":"Enrich GF with Game Data","type":"main","index":0}]]},"Filter Phase Match":{"main":[[{"node":"Query Entrant by ID","type":"main","index":0},{"node":"Query Set Game Data","type":"main","index":0}]]},"Join Events + Phase Data":{"main":[[{"node":"Join Events + Winners","type":"main","index":0}]]},"Join Events + Winners":{"main":[[{"node":"Merge Stats + Events","type":"main","index":1}]]},"Merge Winner Sources":{"main":[[{"node":"Join Events + Winners","type":"main","index":1}]]},"Code Top5 Events":{"main":[[{"node":"Filter Phase Match","type":"main","index":0},{"node":"Join Events + Phase Data","type":"main","index":1},{"node":"Merge Winner Sources","type":"main","index":0}]]},"Query Set Game Data":{"main":[[{"node":"Split Game Selections","type":"main","index":0}]]},"Enrich GF with Game Data":{"main":[[{"node":"Merge Winner Sources","type":"main","index":1}]]},"Split Game Selections":{"main":[[{"node":"Filter Winner Selections","type":"main","index":0}]]},"Filter Winner Selections":{"main":[[{"node":"Enrich GF with Game Data","type":"main","index":1}]]},"Split Event Items":{"main":[[{"node":"Merge Event Data","type":"main","index":1}]]},"Merge Event Data":{"main":[[{"node":"Filter Rivals2 Events","type":"main","index":0}]]},"Format Entrant Sum":{"main":[[{"node":"Merge Stats + Events","type":"main","index":0}]]},"Dedupe & Extract Phase IDs":{"main":[[{"node":"Query GF Sets","type":"main","index":0}]]},"Sort by Entrants":{"main":[[{"node":"Limit to Top 5","type":"main","index":0}]]},"Create Bluesky Session":{"main":[[{"node":"Create Post Text","type":"main","index":0}]]},"Set Bluesky Credentials":{"main":[[{"node":"Create Bluesky Session","type":"main","index":0}]]},"Create Initial Post":{"main":[[{"node":"Create Reply Text1","type":"main","index":0}]]},"Create Post Text":{"main":[[{"node":"Create Initial Post","type":"main","index":0}]]},"Create Reply Text1":{"main":[[{"node":"Create Reply1","type":"main","index":0}]]},"Round to Day":{"main":[[{"node":"Subtract 1 Day","type":"main","index":0},{"node":"Add 5 Hours","type":"main","index":0}]]},"Add 5 Hours":{"main":[[{"node":"Format Today as Unix","type":"main","index":0}]]},"Filter by endAt":{"main":[[{"node":"Split Event Items","type":"main","index":0},{"node":"Merge Event Data","type":"main","index":0}]]},"Find True GF":{"main":[[{"node":"Split GF Games","type":"main","index":0}]]},"Assemble Post":{"main":[[{"node":"Failsafe Truncation","type":"main","index":0}]]},"Failsafe Truncation":{"main":[[{"node":"Set Bluesky Credentials","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Run Daily @ 4:21pm":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"999c545b-6e99-4fb9-95b3-2f5532ccb713","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-03-12T00:49:36.550Z","createdAt":"2026-03-12T00:49:36.550Z","role":"workflow:owner","workflowId":"xPaZRhCwBDlHvqs7","projectId":"u9kYCfFU7pgjjx9U"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-19T02:01:25.366Z","createdAt":"2025-10-19T02:01:25.366Z","id":"WjYjrAQMMnwIYj0J","name":"Active"}]}