workflows/Daily BlueSky Post.json
{"updatedAt":"2026-03-15T02:10:32.681Z","createdAt":"2026-03-12T00:51:19.969Z","id":"gdh0lGj9N12PHzAK","name":"Daily BlueSky Post","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"formatDate","date":"={{ $json.newDate }}","format":"X","outputFieldName":"currentDateUnix","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4320,800],"id":"af9c3504-56b6-457d-9f22-1d392c1cf4e4","name":"Format Today as Unix"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4864,880],"id":"c47d5e49-9330-4048-984e-dc6c4d02d82a","name":"Get Current DateTime"},{"parameters":{"operation":"subtractFromDate","magnitude":"={{ $json.roundedDate }}","duration":1,"outputFieldName":"dayAgo","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4480,960],"id":"e65881d9-aa5d-4e01-8dc4-0d45087ec6e7","name":"Subtract 1 Day"},{"parameters":{"operation":"formatDate","date":"={{ $json.dayAgo }}","format":"X","outputFieldName":"dayAgoUnix","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4320,960],"id":"e9b94366-562c-4181-b9ec-cbec12178205","name":"Format Yesterday as Unix"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-4144,880],"id":"8bca5567-4f4d-40fb-9cd0-d2372272f766","name":"Merge Date Range"},{"parameters":{"fieldToSplitOut":"data.data.tournaments.nodes","include":"selectedOtherFields","fieldsToInclude":"={{ $json.data.data.tournaments.nodes[0].name }} {{ $json.data.data.tournaments.nodes[0].events }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3824,880],"id":"2d7157b0-3375-474a-a0aa-adf8d2b9a493","name":"Split Tournament Nodes"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b84a0c12-449a-4756-aeeb-017a0f934e38","leftValue":"={{ $json['[\\'data.data.tournaments.nodes\\'].events'].numEntrants }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3136,768],"id":"f9eeede6-1d85-4357-85e4-5a8dea4771d4","name":"Filter Rivals2 Events"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"['[\\'data.data.tournaments.nodes\\'].events'].numEntrants"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-2832,0],"id":"758a4411-3dde-4262-af6a-0cb36e8c0f25","name":"Sum Total Entrants"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2480,912],"id":"b38137e7-33e5-4b11-b982-3fd053d15c9d","name":"Limit to Top 5"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-192,32],"id":"22918190-9a8c-4fc7-aa76-3eed133512c3","name":"Aggregate Tournament Data"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-352,32],"id":"2d201564-59cf-45d2-b1cf-c4a270713e14","name":"Merge Stats + Events"},{"parameters":{"rule":{"interval":[{"triggerAtHour":17,"triggerAtMinute":21}]}},"id":"e5fdaccd-32d0-412b-9c7c-519d59b9e06d","name":"Run Daily @ 4:21pm","type":"n8n-nodes-base.scheduleTrigger","position":[-5024,880],"typeVersion":1.2},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query Tournaments($gameId: [ID]!, $startDate: Timestamp!, $endDate: Timestamp!, $eventType: [Int]!) { tournaments(query: { perPage: 500, filter: { videogameIds: $gameId, afterDate: $startDate, beforeDate: $endDate } }) { nodes { name addrState countryCode endAt events(filter: { videogameId: $gameId, type: $eventType })  { id tournament { name } name slug numEntrants } } } }","variables":"={ \"gameId\": [53945], \"startDate\": {{ $json.dayAgoUnix - 518400 }}, \"endDate\": {{ $json.currentDateUnix }}, \"eventType\": [1]  }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-3968,880],"id":"4dfb5daf-a819-4af8-80b9-9586035a8133","name":"Query Tournaments","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query Event($eventId: ID!) { event(id: $eventId) { id phases { id } phaseGroups { id phase { phaseOrder id name } } tournament { name } } }","variables":"={ \"eventId\": {{ $json['[\\'data.data.tournaments.nodes\\'].events'].id }}}","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-2320,912],"id":"5483866e-b448-4bd8-b67d-9fc54545de8f","name":"Query Event Phases","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"fieldToSplitOut":"data.data.event.phaseGroups","include":"selectedOtherFields","fieldsToInclude":"data.data.event.tournament.name, data.data.event.id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2160,912],"id":"d645048a-640b-4cba-9e5c-dd2d16d4fba0","name":"Split Phase Groups"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"=['data.data.event.phaseGroups'].phase.phaseOrder","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1984,912],"id":"58d9b896-8083-485d-adef-0edf53396b93","name":"Sort Phases"},{"parameters":{"fieldToSplitOut":"data.data.phase.sets.nodes[0].games","include":"selectedOtherFields","fieldsToInclude":"data.data.phase.sets.nodes[0].displayScore, data.data.phase.sets.nodes[0].games[0].selections[0].character.name, data.data.phase.sets.nodes[0].games[0].selections[1].character.name, data.data.phase.sets.nodes[0].id, data.data.phase.sets.nodes[0].winnerId, data.data.phase.event.id, data.data.phase.event.tournament.name","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2256,1104],"id":"a50469f0-4e59-4d49-bcce-0454d8aa7372","name":"Split GF Games"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"['data.data.phase.sets.nodes[0].games'].orderNum","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2128,1104],"id":"7b0402fa-0ba5-4c3b-9c3c-6026ed964dcd","name":"Sort Games"},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query PhaseInfo($phaseId: ID!) { phase(id: $phaseId) { id name phaseOrder phaseGroups { nodes { id bracketType } } sets { nodes { id displayScore identifier round completedAt games { orderNum } winnerId } } event { id tournament { name } } } }","variables":"={ \"phaseId\": {{ $json['data.data.event.phaseGroups'].phase.id }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-2560,1104],"id":"82a023a1-1375-46b8-8b8e-79e9cc414e56","name":"Query GF Sets","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query GetEntrant($entrantId: ID!) { entrant(id: $entrantId) { id name } }","variables":"={{ $json[\"data.data.phase.sets.nodes[0].winnerId\"] !== null ? JSON.stringify({ \"entrantId\": $json[\"data.data.phase.sets.nodes[0].winnerId\"] }) : \"{}\" }}\n","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-1584,1200],"id":"baf13622-ff4d-4223-b8b0-18ad3eca8281","name":"Query Entrant by ID","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"08f7949b-ccdd-4ce2-90be-247b219e0644","name":"['data.data.phase.sets.nodes[0].winnerId']","value":"={{ $json.data.data.entrant.id }}","type":"number"},{"id":"77c4edc8-74bf-455d-a44c-dd2bc177f0c3","name":"winnerName","value":"={{ $json.data.data.entrant.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1408,1200],"id":"143f1bce-03d0-453b-b603-0d1abbd76127","name":"Map Entrant to Winner"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a76826e-fe59-4295-950f-d2a947a7d07f","leftValue":"={{ $json['data.data.phase.sets.nodes[0].winnerId'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1776,1200],"id":"e0c1b650-e6b9-4a08-a78a-4568e792b667","name":"Filter Phase Match"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['[\\'data.data.tournaments.nodes\\'].events'].id","field2":"data.data.phase.event.id"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-864,288],"id":"4bbc2703-bc2b-4f69-93aa-3192e913dc3f","name":"Join Events + Phase Data"},{"parameters":{"mode":"combine","fieldsToMatchString":"['data.data.phase.sets.nodes[0].winnerId']","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-608,288],"id":"8020f497-db6e-47c8-acad-bfb1ed22d67c","name":"Join Events + Winners"},{"parameters":{"mode":"combine","fieldsToMatchString":"['data.data.phase.sets.nodes[0].winnerId']","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-736,544],"id":"3ddf91fe-f863-4514-89bb-f7865fa30ec5","name":"Merge Winner Sources"},{"parameters":{"jsCode":"// Get input data\nconst items = $input.all();\n\n// Initialize storage for unique set IDs\nconst seenSetIds = new Set();\nconst result = [];\n\n// Iterate through sorted data\nfor (const item of items) {\n    const setId = item.json[\"data.data.phase.sets.nodes[0].id\"];\n    \n    if (!seenSetIds.has(setId)) {\n        seenSetIds.add(setId);\n        result.push(item);\n    }\n}\n\n// Return filtered results\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1984,1104],"id":"93cb3652-e336-40a3-87ea-671be84e5936","name":"Code Top5 Events"},{"parameters":{"jsCode":"// Define max tournament name length\nconst maxLength = 40;\n\nconst hashtagKeywords = {\n    \"Rivals2\": \"#Rivals2\",\n    \"Rivals of Aether\": \"#RivalsOfAether\",\n    \"Melee\": \"#Melee\",\n    \"Rivals\": \"#Rivals\",\n    \"Smash\": \"#Smash\",\n    \"Ultimate\": \"#Ultimate\",\n    \"Aether\": \"#Aether\"\n};\n\nconst addHashtags = (name) => {\n    let updatedName = name;\n    Object.keys(hashtagKeywords).forEach((word) => {\n        const regex = new RegExp(`\\\\b${word}\\\\b`, \"gi\");\n        updatedName = updatedName.replace(regex, hashtagKeywords[word]);\n    });\n    return updatedName;\n};\n\n// Truncate base name only, then re-attach location so it's never dropped.\nconst truncateName = (baseName, location) => {\n    const locationSuffix = location ? ` (${location})` : '';\n    const maxBase = maxLength - locationSuffix.length;\n\n    let truncated = addHashtags(baseName);\n    if (truncated.length <= maxBase) return truncated + locationSuffix;\n\n    const splitCharacters = [\"-\", \"@\", \"#\", \":\", \"|\"];\n    let segments = [truncated];\n    splitCharacters.forEach((char) => {\n        if (truncated.includes(char)) {\n            segments = truncated.split(char).map(s => s.trim());\n        }\n    });\n\n    let cleanedName = segments[0];\n    for (let i = 1; i < segments.length; i++) {\n        const segment = segments[i];\n        if (Object.keys(hashtagKeywords).some(key => segment.includes(key))) {\n            cleanedName += `, ${segment}`;\n        }\n    }\n\n    if (cleanedName.length > maxBase) {\n        cleanedName = cleanedName.substring(0, maxBase).trim();\n        if (cleanedName.includes(\" \")) {\n            cleanedName = cleanedName.substring(0, cleanedName.lastIndexOf(\" \"));\n        }\n        cleanedName += \"...\";\n    }\n\n    return cleanedName + locationSuffix;\n};\n\nconst characterIcons = {\n    \"Forsburn\": \"\\u2620\\ufe0f\",\n    \"Loxodont\": \"\\ud83d\\udc18\",\n    \"Clairen\": \"\\ud83e\\udd3a\",\n    \"Zetterburn\": \"\\ud83e\\udd81\",\n    \"Wrastor\": \"\\ud83e\\udd85\",\n    \"Fleet\": \"\\ud83e\\udd8a\",\n    \"Maypul\": \"\\ud83c\\udf31\",\n    \"Kragg\": \"\\ud83e\\udeb2\",\n    \"Ranno\": \"\\ud83d\\udc38\",\n    \"Orcane\": \"\\ud83d\\udc0b\",\n    \"Etalus\": \"\\ud83d\\udc3b\",\n    \"Olympia\": \"\\ud83d\\udc8e\",\n    \"La Reina\": \"\\ud83e\\ude91\",\n    \"Absa\": \"\\u26a1\",\n    \"Galvan\": \"\\ud83e\\uddf2\",\n    \"Slade\": \"\\ud83e\\udd88\"\n};\n\nconst raw = $input.first().json.data[0][\"totalEntrants\"];\nconst totalEntrants = Number.isFinite(Number(raw)) && Number(raw) > 0 ? Math.round(Number(raw)) : null;\nconst entrantLine = totalEntrants ? `\\nEntrants yesterday: ${totalEntrants}` : '';\n\nconst tournamentData = Array.from({ length: 5 }, (_, i) => {\n    const tournamentNode = $input.first()?.json?.data?.[i]?.[\"data.data.tournaments.nodes\"] || {};\n    const eventNode = $input.first()?.json?.data?.[i]?.[\"data.data.set.event\"] || {};\n    const winnerName = $input.first()?.json?.data?.[i]?.winnerName || \"\";\n\n    const baseName = eventNode.tournament?.name || tournamentNode.name || \"N/A\";\n\n    const location = tournamentNode.countryCode && tournamentNode.countryCode !== \"US\"\n        ? tournamentNode.countryCode\n        : tournamentNode.addrState || \"\";\n\n    const entrants = $input.first()?.json?.data?.[i]?.[\"['data.data.tournaments.nodes'].events\"]?.numEntrants || 0;\n\n    const eventsNode = $input.first()?.json?.data?.[i]?.[\"['data.data.tournaments.nodes'].events\"] || {};\n    const eventSlug = eventsNode.slug || tournamentNode.events?.[0]?.slug || null;\n\n    let charCounts = {};\n    const gamePattern = /^data\\.data\\.set\\.games\\[\\d+\\]\\.selections$/;\n    const gameData = $input.first()?.json?.data?.[i];\n    if (gameData) {\n        for (const key of Object.keys(gameData)) {\n            if (!gamePattern.test(key)) continue;\n            const sel = gameData[key];\n            if (!sel) continue;\n            const entrantName = sel?.entrant?.name || \"\";\n            if (entrantName === winnerName || entrantName.includes(winnerName.split(\" \").pop())) {\n                const c = sel?.character?.name;\n                if (c) charCounts[c] = (charCounts[c] || 0) + 1;\n            }\n        }\n    }\n    const characterName = Object.entries(charCounts).sort((a, b) => b[1] - a[1])[0]?.[0] || \"\";\n    const icon = characterIcons[characterName] || \"W:\";\n\n    return {\n        originalName: location ? `${baseName} (${location})` : baseName,\n        truncatedName: truncateName(baseName, location),\n        entrants,\n        winner: winnerName ? `   ${icon} ${winnerName}` : \"\",\n        eventSlug\n    };\n});\n\nwhile (tournamentData.length < 5) {\n    tournamentData.push({ originalName: \"N/A\", truncatedName: \"N/A\", entrants: 0, winner: \"\", eventSlug: null });\n}\n\nconst inputString = \"Yesterday in #Rivals2!\";\nlet fullList = \"\\n\\n\";\ntournamentData.forEach(t => {\n    fullList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst finalString = `${inputString}${fullList}${entrantLine}`.trim();\n\nlet mainList = \"\\n\\n\";\ntournamentData.slice(0, 3).forEach(t => {\n    mainList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst mainPostText = `${inputString}${mainList}${entrantLine}`;\n\nlet replyList = \"\";\ntournamentData.slice(3).filter(t => t.truncatedName !== 'N/A').forEach(t => {\n    replyList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst replyText = replyList.trim();\n\nreturn [{ \n    result: finalString, \n    characterCount: finalString.length,\n    mainPostText,\n    replyText,\n    tournamentLinks: tournamentData\n        .filter(t => t.eventSlug && t.truncatedName !== 'N/A')\n        .map(t => ({\n            text: t.truncatedName,\n            url: `https://www.start.gg/${t.eventSlug}`\n        }))\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,32],"id":"07d0105e-c615-4cd7-85bb-d3c441f98437","name":"Assemble Post"},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query SetInfo($setId: ID!) {\n    set(id: $setId) {\n        id\n        winnerId\n        games {\n            selections {\n                character {\n                    name\n                }\n                entrant {\n                    name\n                    id\n                }\n            }\n        }\n        displayScore\n        event {\n            tournament {\n                name\n            }\n            id\n        }\n    }\n}","variables":"={{ $json[\"data.data.phase.sets.nodes[0].id\"] !== null ? JSON.stringify({ \"setId\": $json[\"data.data.phase.sets.nodes[0].id\"] }) : \"{}\" }}","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-1584,1408],"id":"927de1fb-cda2-4ac4-8152-7eee8a285674","name":"Query Set Game Data","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['data.data.phase.sets.nodes[0].winnerId']","field2":"data.data.set.winnerId"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-928,1200],"id":"96f79c3e-0bfb-4a20-b627-31e629561a5a","name":"Enrich GF with Game Data"},{"parameters":{"fieldToSplitOut":"data.data.set.games[0].selections, data.data.set.games[1].selections, data.data.set.games[2].selections, data.data.set.games[].selections, data.data.set.games[].selections, ","include":"selectedOtherFields","fieldsToInclude":"data.data.set.event.tournament.name, data.data.set.event.id, data.data.set.winnerId, data.data.set.winnerId","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1408,1408],"id":"8027af0a-1f67-40c3-852f-5584caabfd0f","name":"Split Game Selections"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9352ecff-ac16-48dd-a6ff-435f91bbd70b","leftValue":"={{ $json['data.data.set.games[0].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"17376203-2890-48f3-b6ec-8adc039f279e","leftValue":"={{ $json['data.data.set.games[1].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"1da72bbd-51af-4303-9bde-53ef65d6c4ad","leftValue":"={{ $json['data.data.set.games[2].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"cd2416a1-1864-4707-9060-5ed7d683a584","leftValue":"={{ $json['data.data.set.games[3].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"cc59f5cf-2e5c-4502-b2d0-1d691e2b1271","leftValue":"={{ $json['data.data.set.games[4].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1216,1408],"id":"4ec680e5-0b8b-49b9-9106-41dd47423a73","name":"Filter Winner Selections"},{"parameters":{"fieldToSplitOut":"['data.data.tournaments.nodes'].events","include":"selectedOtherFields","fieldsToInclude":"={{ $json['data.data.tournaments.nodes'].name }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3456,976],"id":"718dd199-2076-461a-8b43-93d76e6c80fb","name":"Split Event Items"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['data.data.tournaments.nodes'].events[0].tournament.name","field2":"['[\\'data.data.tournaments.nodes\\'].events'].tournament.name"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-3344,768],"id":"a68bde3c-e00d-456e-af00-a3ad270b320a","name":"Merge Event Data"},{"parameters":{"assignments":{"assignments":[{"id":"8fadf185-090d-4dad-9b65-03bd4c2a9275","name":"totalEntrants","value":"={{ Object.values($json)[0] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2592,0],"id":"097c41de-8d34-45cb-b394-d2c72e0f6783","name":"Format Entrant Sum"},{"parameters":{"jsCode":"// Get all input items from the previous node in n8n\nconst items = $input.all();\n\n// Initialize a Set to track unique event IDs\nconst seenEventIds = new Set();\n\n// Initialize an array to store the filtered results\nconst result = [];\n\n// Iterate through all input items (assumed to be sorted beforehand)\nfor (const item of items) {\n    \n    // Extract the event ID (used for uniqueness filtering)\n    const eventId = item.json[\"data.data.event.id\"];\n\n    // If this event ID hasn't been seen before, add it to the result list\n    if (!seenEventIds.has(eventId)) {\n        seenEventIds.add(eventId); // Mark it as seen\n        result.push(item); // Store the first occurrence of this event ID\n    }\n\n    // Stop processing once we have collected 5 unique events\n    if (result.length === 5) {\n        break;  \n    }\n}\n\n// Return the filtered results containing at most 5 unique event IDs\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,1104],"id":"12ac285a-0f9c-4c81-824e-665b7e2ab920","name":"Dedupe & Extract Phase IDs"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"['[\\'data.data.tournaments.nodes\\'].events'].numEntrants","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2720,912],"id":"880f5eb3-2fef-42ed-9811-860f84cfcf0b","name":"Sort by Entrants"},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.server.createSession","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ $json.BlueskyHandle }}"},{"name":"password","value":"={{ $json.BlueskyAppPassword }}"}]},"options":{}},"id":"48b8b4ba-88a3-4d7d-970e-518d2d2242e1","name":"Create Bluesky Session","type":"n8n-nodes-base.httpRequest","position":[560,32],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"ec07f538-0164-40c5-a199-45e2a8a4604a","name":"BlueskyHandle","type":"string","value":"rivals2statbot.bsky.social"},{"id":"463e906c-c49b-41e0-9176-04bd2c175d0b","name":"BlueskyAppPassword","type":"string","value":"#m;:vBeyRiWE83K"}]},"options":{}},"id":"cea26f37-5c50-47da-91eb-2119c4b21b16","name":"Set Bluesky Credentials","type":"n8n-nodes-base.set","position":[336,32],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Bluesky Session').item.json.accessJwt}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Create Post Text').item.json.toJsonString() }}","options":{}},"id":"6ff2f497-dda7-4b04-bd16-dc701a346de6","name":"Create Initial Post","type":"n8n-nodes-base.httpRequest","position":[560,272],"typeVersion":4.2},{"parameters":{"jsCode":"// Build facets for rich text (AT Protocol)\n// Link facets take priority; hashtag facets skip positions that overlap a link span\nfunction buildFacets(text, links) {\n  const facets = [];\n  let searchFrom = 0;  // advances past each matched text to handle duplicate tournament names\n\n  // 1. Link facets for tournament names\n  for (const { text: linkText, url } of links) {\n    let idx = text.indexOf(linkText, searchFrom);\n    let matchedText = linkText;\n    if (idx === -1) {\n      matchedText = linkText.replace(/#([a-zA-Z])/g, '$1');\n      idx = text.indexOf(matchedText, searchFrom);\n    }\n    if (idx === -1) continue;  // not in this post's text, don't advance\n    searchFrom = idx + matchedText.length;\n    const byteStart = Buffer.byteLength(text.substring(0, idx), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(matchedText, 'utf8');\n    facets.push({\n      index: { byteStart, byteEnd },\n      features: [{ $type: 'app.bsky.richtext.facet#link', uri: url }]\n    });\n  }\n\n  // 2. Hashtag facets — skip any that overlap a link facet\n  const regex = /#[a-zA-Z][a-zA-Z0-9_]*/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    const byteStart = Buffer.byteLength(text.substring(0, match.index), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(match[0], 'utf8');\n    const overlaps  = facets.some(f => byteStart < f.index.byteEnd && byteEnd > f.index.byteStart);\n    if (!overlaps) {\n      facets.push({\n        index: { byteStart, byteEnd },\n        features: [{ $type: 'app.bsky.richtext.facet#tag', tag: match[0].slice(1) }]\n      });\n    }\n  }\n\n  return facets;\n}\n\n// Read from Failsafe Truncation (handles per-post 300-char limit)\nconst assemblePost = $('Failsafe Truncation').first().json;\nconst tournamentLinks = assemblePost.tournamentLinks || [];\nconst postText = assemblePost.mainPostText;\n\nconst facets = buildFacets(postText, tournamentLinks);\n\nconst postData = {\n    repo: $('Set Bluesky Credentials').first().json.BlueskyHandle,\n    collection: \"app.bsky.feed.post\",\n    record: {\n        $type: \"app.bsky.feed.post\",\n        text: postText,\n        createdAt: $now,\n        ...(facets.length > 0 && { facets })\n    }\n};\n\nreturn postData;"},"id":"4f882456-dd98-4074-882f-9c59921ab0df","name":"Create Post Text","type":"n8n-nodes-base.code","position":[336,272],"typeVersion":2},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Bluesky Session').item.json.accessJwt}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Create Reply Text1').item.json.toJsonString() }} ","options":{}},"id":"d82bf869-f1c5-430f-ad8f-8af4c96a15bb","name":"Create Reply1","type":"n8n-nodes-base.httpRequest","position":[560,512],"typeVersion":4.2},{"parameters":{"jsCode":"// Build facets for rich text (AT Protocol)\nfunction buildFacets(text, links) {\n  const facets = [];\n  let searchFrom = 0;  // advances past each matched text to handle duplicate tournament names\n\n  for (const { text: linkText, url } of links) {\n    let idx = text.indexOf(linkText, searchFrom);\n    let matchedText = linkText;\n    if (idx === -1) {\n      matchedText = linkText.replace(/#([a-zA-Z])/g, '$1');\n      idx = text.indexOf(matchedText, searchFrom);\n    }\n    if (idx === -1) continue;  // not in this post's text, don't advance\n    searchFrom = idx + matchedText.length;\n    const byteStart = Buffer.byteLength(text.substring(0, idx), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(matchedText, 'utf8');\n    facets.push({\n      index: { byteStart, byteEnd },\n      features: [{ $type: 'app.bsky.richtext.facet#link', uri: url }]\n    });\n  }\n\n  const regex = /#[a-zA-Z][a-zA-Z0-9_]*/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    const byteStart = Buffer.byteLength(text.substring(0, match.index), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(match[0], 'utf8');\n    const overlaps  = facets.some(f => byteStart < f.index.byteEnd && byteEnd > f.index.byteStart);\n    if (!overlaps) {\n      facets.push({\n        index: { byteStart, byteEnd },\n        features: [{ $type: 'app.bsky.richtext.facet#tag', tag: match[0].slice(1) }]\n      });\n    }\n  }\n\n  return facets;\n}\n\n// Read from Failsafe Truncation (handles per-post 300-char limit)\nconst assemblePost = $('Failsafe Truncation').first().json;\nconst tournamentLinks = assemblePost.tournamentLinks || [];\nconst replyText = assemblePost.replyText;\n\nconst facets = buildFacets(replyText, tournamentLinks);\n\nconst futureDate = new Date(Date.now() + 1000);\n\nconst replyPostData = {\n    repo: $('Set Bluesky Credentials').first().json.BlueskyHandle,\n    collection: \"app.bsky.feed.post\",\n    record: {\n        \"$type\": \"app.bsky.feed.post\",\n        text: replyText,\n        reply: {\n            root: {\n                cid: $('Create Initial Post').first().json.cid,\n                uri: $('Create Initial Post').first().json.uri\n            },\n            parent: {\n                cid: $('Create Initial Post').first().json.cid,\n                uri: $('Create Initial Post').first().json.uri\n            }\n        },\n        ...(facets.length > 0 && { facets }),\n        createdAt: futureDate.toISOString()\n    }\n};\n\nreturn replyPostData;"},"id":"e7ce8360-e567-4d2f-bc66-9a76f96f9102","name":"Create Reply Text1","type":"n8n-nodes-base.code","position":[336,512],"typeVersion":2},{"parameters":{"operation":"roundDate","date":"={{ $json.currentDate }}","toNearest":"day","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4704,880],"id":"44960094-dccb-462b-b9a1-bddb103fe935","name":"Round to Day"},{"parameters":{"operation":"addToDate","magnitude":"={{ $json.roundedDate }}","timeUnit":"hours","duration":5,"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4480,800],"id":"5f321036-79ff-4e2d-996a-fd6bee4697f0","name":"Add 5 Hours"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"aaf22222-0000-4000-a000-000000000002","leftValue":"={{ $json['data.data.tournaments.nodes'].endAt }}","rightValue":"={{ $('Format Yesterday as Unix').item.json.dayAgoUnix }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3664,880],"id":"ca97fc02-0bbd-4c66-aa4e-405f0dd67663","name":"Filter by endAt"},{"parameters":{"jsCode":"// Grand Finals = highest positive round (winners side always positive in double-elim)\n// If multiple sets at that round (GF + reset), pick the latest completedAt\nreturn $input.all().map(item => {\n  const sets = item.json.data?.data?.phase?.sets?.nodes || [];\n  if (sets.length === 0) return item;\n\n  // Only look at positive rounds (winners/GF side)\n  const winnersSets = sets.filter(s => s.round > 0);\n  if (winnersSets.length === 0) return item;\n\n  // Highest positive round = Grand Finals round\n  const maxRound = Math.max(...winnersSets.map(s => s.round));\n\n  // Among GF-round sets, pick latest completedAt (handles bracket reset)\n  const gfSets = winnersSets.filter(s => s.round === maxRound);\n  const trueGF = gfSets.reduce((latest, s) =>\n    s.completedAt > latest.completedAt ? s : latest\n  );\n\n  const out = JSON.parse(JSON.stringify(item.json));\n  out.data.data.phase.sets.nodes = [trueGF];\n  return { json: out };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2400,1104],"id":"9fe891a6-e90f-4224-b57f-e80274bbfc45","name":"Find True GF"},{"parameters":{"jsCode":"function stripSponsor(winnerLine) {\n  // Strips 'Sponsor | ' prefix: '   🦁 The Strong One | HamPolo' => '   🦁 HamPolo'\n  return winnerLine.replace(/^(   \\S+\\s).*\\|\\s*(.+)$/, '$1$2');\n}\n\nfunction truncateIfNeeded(text) {\n  if (text.length <= 300) return text;\n  return text.split('\\n').map(line =>\n    line.includes(' | ') ? stripSponsor(line) : line\n  ).join('\\n');\n}\n\nconst data = $input.first().json;\nreturn [{\n  ...data,\n  mainPostText: truncateIfNeeded(data.mainPostText),\n  replyText:    truncateIfNeeded(data.replyText)\n}];"},"id":"d526e743-3d2e-4cdb-ac6b-5d667b22545c","name":"Failsafe Truncation","type":"n8n-nodes-base.code","typeVersion":2,"position":[144,32]}],"connections":{"Format Today as Unix":{"main":[[{"node":"Merge Date Range","type":"main","index":0}]]},"Get Current DateTime":{"main":[[{"node":"Round to Day","type":"main","index":0}]]},"Subtract 1 Day":{"main":[[{"node":"Format Yesterday as Unix","type":"main","index":0}]]},"Format Yesterday as Unix":{"main":[[{"node":"Merge Date Range","type":"main","index":1}]]},"Merge Date Range":{"main":[[{"node":"Query Tournaments","type":"main","index":0}]]},"Split Tournament Nodes":{"main":[[{"node":"Filter by endAt","type":"main","index":0}]]},"Filter Rivals2 Events":{"main":[[{"node":"Sum Total Entrants","type":"main","index":0},{"node":"Sort by Entrants","type":"main","index":0}]]},"Sum Total Entrants":{"main":[[{"node":"Format Entrant Sum","type":"main","index":0}]]},"Limit to Top 5":{"main":[[{"node":"Query Event Phases","type":"main","index":0},{"node":"Join Events + Phase Data","type":"main","index":0}]]},"Aggregate Tournament Data":{"main":[[{"node":"Assemble Post","type":"main","index":0}]]},"Merge Stats + Events":{"main":[[{"node":"Aggregate Tournament Data","type":"main","index":0}]]},"Run Daily @ 4:21pm":{"main":[[{"node":"Get Current DateTime","type":"main","index":0}]]},"Query Tournaments":{"main":[[{"node":"Split Tournament Nodes","type":"main","index":0}]]},"Query Event Phases":{"main":[[{"node":"Split Phase Groups","type":"main","index":0}]]},"Split Phase Groups":{"main":[[{"node":"Sort Phases","type":"main","index":0}]]},"Sort Phases":{"main":[[{"node":"Dedupe & Extract Phase IDs","type":"main","index":0}]]},"Split GF Games":{"main":[[{"node":"Sort Games","type":"main","index":0}]]},"Sort Games":{"main":[[{"node":"Code Top5 Events","type":"main","index":0}]]},"Query GF Sets":{"main":[[{"node":"Find True GF","type":"main","index":0}]]},"Query Entrant by ID":{"main":[[{"node":"Map Entrant to Winner","type":"main","index":0}]]},"Map Entrant to Winner":{"main":[[{"node":"Enrich GF with Game Data","type":"main","index":0}]]},"Filter Phase Match":{"main":[[{"node":"Query Entrant by ID","type":"main","index":0},{"node":"Query Set Game Data","type":"main","index":0}]]},"Join Events + Phase Data":{"main":[[{"node":"Join Events + Winners","type":"main","index":0}]]},"Join Events + Winners":{"main":[[{"node":"Merge Stats + Events","type":"main","index":1}]]},"Merge Winner Sources":{"main":[[{"node":"Join Events + Winners","type":"main","index":1}]]},"Code Top5 Events":{"main":[[{"node":"Filter Phase Match","type":"main","index":0},{"node":"Join Events + Phase Data","type":"main","index":1},{"node":"Merge Winner Sources","type":"main","index":0}]]},"Assemble Post":{"main":[[{"node":"Failsafe Truncation","type":"main","index":0}]]},"Query Set Game Data":{"main":[[{"node":"Split Game Selections","type":"main","index":0}]]},"Enrich GF with Game Data":{"main":[[{"node":"Merge Winner Sources","type":"main","index":1}]]},"Split Game Selections":{"main":[[{"node":"Filter Winner Selections","type":"main","index":0}]]},"Filter Winner Selections":{"main":[[{"node":"Enrich GF with Game Data","type":"main","index":1}]]},"Split Event Items":{"main":[[{"node":"Merge Event Data","type":"main","index":1}]]},"Merge Event Data":{"main":[[{"node":"Filter Rivals2 Events","type":"main","index":0}]]},"Format Entrant Sum":{"main":[[{"node":"Merge Stats + Events","type":"main","index":0}]]},"Dedupe & Extract Phase IDs":{"main":[[{"node":"Query GF Sets","type":"main","index":0}]]},"Sort by Entrants":{"main":[[{"node":"Limit to Top 5","type":"main","index":0}]]},"Create Bluesky Session":{"main":[[{"node":"Create Post Text","type":"main","index":0}]]},"Set Bluesky Credentials":{"main":[[{"node":"Create Bluesky Session","type":"main","index":0}]]},"Create Initial Post":{"main":[[{"node":"Create Reply Text1","type":"main","index":0}]]},"Create Post Text":{"main":[[{"node":"Create Initial Post","type":"main","index":0}]]},"Create Reply Text1":{"main":[[{"node":"Create Reply1","type":"main","index":0}]]},"Round to Day":{"main":[[{"node":"Subtract 1 Day","type":"main","index":0},{"node":"Add 5 Hours","type":"main","index":0}]]},"Add 5 Hours":{"main":[[{"node":"Format Today as Unix","type":"main","index":0}]]},"Filter by endAt":{"main":[[{"node":"Split Event Items","type":"main","index":0},{"node":"Merge Event Data","type":"main","index":0}]]},"Find True GF":{"main":[[{"node":"Split GF Games","type":"main","index":0}]]},"Failsafe Truncation":{"main":[[{"node":"Set Bluesky Credentials","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Run Daily @ 4:21pm":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"e7e34573-9ef1-448f-914d-3442dce3bfa3","activeVersionId":"2f5709ca-3ae4-4ce0-8671-16845c7e3200","triggerCount":1,"shared":[{"updatedAt":"2026-03-12T00:51:19.972Z","createdAt":"2026-03-12T00:51:19.972Z","role":"workflow:owner","workflowId":"gdh0lGj9N12PHzAK","projectId":"u9kYCfFU7pgjjx9U"}],"activeVersion":{"updatedAt":"2026-03-14T00:29:48.116Z","createdAt":"2026-03-14T00:29:48.116Z","versionId":"2f5709ca-3ae4-4ce0-8671-16845c7e3200","workflowId":"gdh0lGj9N12PHzAK","nodes":[{"parameters":{"operation":"formatDate","date":"={{ $json.newDate }}","format":"X","outputFieldName":"currentDateUnix","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4320,800],"id":"af9c3504-56b6-457d-9f22-1d392c1cf4e4","name":"Format Today as Unix"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4864,880],"id":"c47d5e49-9330-4048-984e-dc6c4d02d82a","name":"Get Current DateTime"},{"parameters":{"operation":"subtractFromDate","magnitude":"={{ $json.roundedDate }}","duration":1,"outputFieldName":"dayAgo","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4480,960],"id":"e65881d9-aa5d-4e01-8dc4-0d45087ec6e7","name":"Subtract 1 Day"},{"parameters":{"operation":"formatDate","date":"={{ $json.dayAgo }}","format":"X","outputFieldName":"dayAgoUnix","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4320,960],"id":"e9b94366-562c-4181-b9ec-cbec12178205","name":"Format Yesterday as Unix"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-4144,880],"id":"8bca5567-4f4d-40fb-9cd0-d2372272f766","name":"Merge Date Range"},{"parameters":{"fieldToSplitOut":"data.data.tournaments.nodes","include":"selectedOtherFields","fieldsToInclude":"={{ $json.data.data.tournaments.nodes[0].name }} {{ $json.data.data.tournaments.nodes[0].events }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3824,880],"id":"2d7157b0-3375-474a-a0aa-adf8d2b9a493","name":"Split Tournament Nodes"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b84a0c12-449a-4756-aeeb-017a0f934e38","leftValue":"={{ $json['[\\'data.data.tournaments.nodes\\'].events'].numEntrants }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3136,768],"id":"f9eeede6-1d85-4357-85e4-5a8dea4771d4","name":"Filter Rivals2 Events"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"['[\\'data.data.tournaments.nodes\\'].events'].numEntrants"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-2720,640],"id":"758a4411-3dde-4262-af6a-0cb36e8c0f25","name":"Sum Total Entrants"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2480,912],"id":"b38137e7-33e5-4b11-b982-3fd053d15c9d","name":"Limit to Top 5"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[160,0],"id":"22918190-9a8c-4fc7-aa76-3eed133512c3","name":"Aggregate Tournament Data"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[0,0],"id":"2d201564-59cf-45d2-b1cf-c4a270713e14","name":"Merge Stats + Events"},{"parameters":{"rule":{"interval":[{"triggerAtHour":17,"triggerAtMinute":21}]}},"id":"e5fdaccd-32d0-412b-9c7c-519d59b9e06d","name":"Run Daily @ 4:21pm","type":"n8n-nodes-base.scheduleTrigger","position":[-5024,880],"typeVersion":1.2},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query Tournaments($gameId: [ID]!, $startDate: Timestamp!, $endDate: Timestamp!, $eventType: [Int]!) { tournaments(query: { perPage: 500, filter: { videogameIds: $gameId, afterDate: $startDate, beforeDate: $endDate } }) { nodes { name addrState countryCode endAt events(filter: { videogameId: $gameId, type: $eventType })  { id tournament { name } name slug numEntrants } } } }","variables":"={ \"gameId\": [53945], \"startDate\": {{ $json.dayAgoUnix - 518400 }}, \"endDate\": {{ $json.currentDateUnix }}, \"eventType\": [1]  }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-3968,880],"id":"4dfb5daf-a819-4af8-80b9-9586035a8133","name":"Query Tournaments","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query Event($eventId: ID!) { event(id: $eventId) { id phases { id } phaseGroups { id phase { phaseOrder id name } } tournament { name } } }","variables":"={ \"eventId\": {{ $json['[\\'data.data.tournaments.nodes\\'].events'].id }}}","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-2320,912],"id":"5483866e-b448-4bd8-b67d-9fc54545de8f","name":"Query Event Phases","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"fieldToSplitOut":"data.data.event.phaseGroups","include":"selectedOtherFields","fieldsToInclude":"data.data.event.tournament.name, data.data.event.id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2160,912],"id":"d645048a-640b-4cba-9e5c-dd2d16d4fba0","name":"Split Phase Groups"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"=['data.data.event.phaseGroups'].phase.phaseOrder","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1984,912],"id":"58d9b896-8083-485d-adef-0edf53396b93","name":"Sort Phases"},{"parameters":{"fieldToSplitOut":"data.data.phase.sets.nodes[0].games","include":"selectedOtherFields","fieldsToInclude":"data.data.phase.sets.nodes[0].displayScore, data.data.phase.sets.nodes[0].games[0].selections[0].character.name, data.data.phase.sets.nodes[0].games[0].selections[1].character.name, data.data.phase.sets.nodes[0].id, data.data.phase.sets.nodes[0].winnerId, data.data.phase.event.id, data.data.phase.event.tournament.name","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2256,1104],"id":"a50469f0-4e59-4d49-bcce-0454d8aa7372","name":"Split GF Games"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"['data.data.phase.sets.nodes[0].games'].orderNum","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2128,1104],"id":"7b0402fa-0ba5-4c3b-9c3c-6026ed964dcd","name":"Sort Games"},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query PhaseInfo($phaseId: ID!) { phase(id: $phaseId) { id name phaseOrder phaseGroups { nodes { id bracketType } } sets { nodes { id displayScore identifier round completedAt games { orderNum } winnerId } } event { id tournament { name } } } }","variables":"={ \"phaseId\": {{ $json['data.data.event.phaseGroups'].phase.id }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-2560,1104],"id":"82a023a1-1375-46b8-8b8e-79e9cc414e56","name":"Query GF Sets","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query GetEntrant($entrantId: ID!) { entrant(id: $entrantId) { id name } }","variables":"={{ $json[\"data.data.phase.sets.nodes[0].winnerId\"] !== null ? JSON.stringify({ \"entrantId\": $json[\"data.data.phase.sets.nodes[0].winnerId\"] }) : \"{}\" }}\n","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-1584,1200],"id":"baf13622-ff4d-4223-b8b0-18ad3eca8281","name":"Query Entrant by ID","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"08f7949b-ccdd-4ce2-90be-247b219e0644","name":"['data.data.phase.sets.nodes[0].winnerId']","value":"={{ $json.data.data.entrant.id }}","type":"number"},{"id":"77c4edc8-74bf-455d-a44c-dd2bc177f0c3","name":"winnerName","value":"={{ $json.data.data.entrant.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1408,1200],"id":"143f1bce-03d0-453b-b603-0d1abbd76127","name":"Map Entrant to Winner"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a76826e-fe59-4295-950f-d2a947a7d07f","leftValue":"={{ $json['data.data.phase.sets.nodes[0].winnerId'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1776,1200],"id":"e0c1b650-e6b9-4a08-a78a-4568e792b667","name":"Filter Phase Match"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['[\\'data.data.tournaments.nodes\\'].events'].id","field2":"data.data.phase.event.id"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1600,624],"id":"4bbc2703-bc2b-4f69-93aa-3192e913dc3f","name":"Join Events + Phase Data"},{"parameters":{"mode":"combine","fieldsToMatchString":"['data.data.phase.sets.nodes[0].winnerId']","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-608,288],"id":"8020f497-db6e-47c8-acad-bfb1ed22d67c","name":"Join Events + Winners"},{"parameters":{"mode":"combine","fieldsToMatchString":"['data.data.phase.sets.nodes[0].winnerId']","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-736,544],"id":"3ddf91fe-f863-4514-89bb-f7865fa30ec5","name":"Merge Winner Sources"},{"parameters":{"jsCode":"// Get input data\nconst items = $input.all();\n\n// Initialize storage for unique set IDs\nconst seenSetIds = new Set();\nconst result = [];\n\n// Iterate through sorted data\nfor (const item of items) {\n    const setId = item.json[\"data.data.phase.sets.nodes[0].id\"];\n    \n    if (!seenSetIds.has(setId)) {\n        seenSetIds.add(setId);\n        result.push(item);\n    }\n}\n\n// Return filtered results\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1984,1104],"id":"93cb3652-e336-40a3-87ea-671be84e5936","name":"Code Top5 Events"},{"parameters":{"jsCode":"// Define max tournament name length\nconst maxLength = 40;\n\nconst hashtagKeywords = {\n    \"Rivals2\": \"#Rivals2\",\n    \"Rivals of Aether\": \"#RivalsOfAether\",\n    \"Melee\": \"#Melee\",\n    \"Rivals\": \"#Rivals\",\n    \"Smash\": \"#Smash\",\n    \"Ultimate\": \"#Ultimate\",\n    \"Aether\": \"#Aether\"\n};\n\nconst addHashtags = (name) => {\n    let updatedName = name;\n    Object.keys(hashtagKeywords).forEach((word) => {\n        const regex = new RegExp(`\\\\b${word}\\\\b`, \"gi\");\n        updatedName = updatedName.replace(regex, hashtagKeywords[word]);\n    });\n    return updatedName;\n};\n\n// Truncate base name only, then re-attach location so it's never dropped.\nconst truncateName = (baseName, location) => {\n    const locationSuffix = location ? ` (${location})` : '';\n    const maxBase = maxLength - locationSuffix.length;\n\n    let truncated = addHashtags(baseName);\n    if (truncated.length <= maxBase) return truncated + locationSuffix;\n\n    const splitCharacters = [\"-\", \"@\", \"#\", \":\", \"|\"];\n    let segments = [truncated];\n    splitCharacters.forEach((char) => {\n        if (truncated.includes(char)) {\n            segments = truncated.split(char).map(s => s.trim());\n        }\n    });\n\n    let cleanedName = segments[0];\n    for (let i = 1; i < segments.length; i++) {\n        const segment = segments[i];\n        if (Object.keys(hashtagKeywords).some(key => segment.includes(key))) {\n            cleanedName += `, ${segment}`;\n        }\n    }\n\n    if (cleanedName.length > maxBase) {\n        cleanedName = cleanedName.substring(0, maxBase).trim();\n        if (cleanedName.includes(\" \")) {\n            cleanedName = cleanedName.substring(0, cleanedName.lastIndexOf(\" \"));\n        }\n        cleanedName += \"...\";\n    }\n\n    return cleanedName + locationSuffix;\n};\n\nconst characterIcons = {\n    \"Forsburn\": \"\\u2620\\ufe0f\",\n    \"Loxodont\": \"\\ud83d\\udc18\",\n    \"Clairen\": \"\\ud83e\\udd3a\",\n    \"Zetterburn\": \"\\ud83e\\udd81\",\n    \"Wrastor\": \"\\ud83e\\udd85\",\n    \"Fleet\": \"\\ud83e\\udd8a\",\n    \"Maypul\": \"\\ud83c\\udf31\",\n    \"Kragg\": \"\\ud83e\\udeb2\",\n    \"Ranno\": \"\\ud83d\\udc38\",\n    \"Orcane\": \"\\ud83d\\udc0b\",\n    \"Etalus\": \"\\ud83d\\udc3b\",\n    \"Olympia\": \"\\ud83d\\udc8e\",\n    \"La Reina\": \"\\ud83e\\ude91\",\n    \"Absa\": \"\\u26a1\",\n    \"Galvan\": \"\\ud83e\\uddf2\",\n    \"Slade\": \"\\ud83e\\udd88\"\n};\n\nconst raw = $input.first().json.data[0][\"totalEntrants\"];\nconst totalEntrants = Number.isFinite(Number(raw)) && Number(raw) > 0 ? Math.round(Number(raw)) : null;\nconst entrantLine = totalEntrants ? `\\nEntrants yesterday: ${totalEntrants}` : '';\n\nconst tournamentData = Array.from({ length: 5 }, (_, i) => {\n    const tournamentNode = $input.first()?.json?.data?.[i]?.[\"data.data.tournaments.nodes\"] || {};\n    const eventNode = $input.first()?.json?.data?.[i]?.[\"data.data.set.event\"] || {};\n    const winnerName = $input.first()?.json?.data?.[i]?.winnerName || \"\";\n\n    const baseName = eventNode.tournament?.name || tournamentNode.name || \"N/A\";\n\n    const location = tournamentNode.countryCode && tournamentNode.countryCode !== \"US\"\n        ? tournamentNode.countryCode\n        : tournamentNode.addrState || \"\";\n\n    const entrants = $input.first()?.json?.data?.[i]?.[\"['data.data.tournaments.nodes'].events\"]?.numEntrants || 0;\n\n    const eventsNode = $input.first()?.json?.data?.[i]?.[\"['data.data.tournaments.nodes'].events\"] || {};\n    const eventSlug = eventsNode.slug || tournamentNode.events?.[0]?.slug || null;\n\n    let charCounts = {};\n    const gamePattern = /^data\\.data\\.set\\.games\\[\\d+\\]\\.selections$/;\n    const gameData = $input.first()?.json?.data?.[i];\n    if (gameData) {\n        for (const key of Object.keys(gameData)) {\n            if (!gamePattern.test(key)) continue;\n            const sel = gameData[key];\n            if (!sel) continue;\n            const entrantName = sel?.entrant?.name || \"\";\n            if (entrantName === winnerName || entrantName.includes(winnerName.split(\" \").pop())) {\n                const c = sel?.character?.name;\n                if (c) charCounts[c] = (charCounts[c] || 0) + 1;\n            }\n        }\n    }\n    const characterName = Object.entries(charCounts).sort((a, b) => b[1] - a[1])[0]?.[0] || \"\";\n    const icon = characterIcons[characterName] || \"W:\";\n\n    return {\n        originalName: location ? `${baseName} (${location})` : baseName,\n        truncatedName: truncateName(baseName, location),\n        entrants,\n        winner: winnerName ? `   ${icon} ${winnerName}` : \"\",\n        eventSlug\n    };\n});\n\nwhile (tournamentData.length < 5) {\n    tournamentData.push({ originalName: \"N/A\", truncatedName: \"N/A\", entrants: 0, winner: \"\", eventSlug: null });\n}\n\nconst inputString = \"Yesterday in #Rivals2!\";\nlet fullList = \"\\n\\n\";\ntournamentData.forEach(t => {\n    fullList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst finalString = `${inputString}${fullList}${entrantLine}`.trim();\n\nlet mainList = \"\\n\\n\";\ntournamentData.slice(0, 3).forEach(t => {\n    mainList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst mainPostText = `${inputString}${mainList}${entrantLine}`;\n\nlet replyList = \"\";\ntournamentData.slice(3).filter(t => t.truncatedName !== 'N/A').forEach(t => {\n    replyList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst replyText = replyList.trim();\n\nreturn [{ \n    result: finalString, \n    characterCount: finalString.length,\n    mainPostText,\n    replyText,\n    tournamentLinks: tournamentData\n        .filter(t => t.eventSlug && t.truncatedName !== 'N/A')\n        .map(t => ({\n            text: t.truncatedName,\n            url: `https://www.start.gg/${t.eventSlug}`\n        }))\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,0],"id":"07d0105e-c615-4cd7-85bb-d3c441f98437","name":"Assemble Post"},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query SetInfo($setId: ID!) {\n    set(id: $setId) {\n        id\n        winnerId\n        games {\n            selections {\n                character {\n                    name\n                }\n                entrant {\n                    name\n                    id\n                }\n            }\n        }\n        displayScore\n        event {\n            tournament {\n                name\n            }\n            id\n        }\n    }\n}","variables":"={{ $json[\"data.data.phase.sets.nodes[0].id\"] !== null ? JSON.stringify({ \"setId\": $json[\"data.data.phase.sets.nodes[0].id\"] }) : \"{}\" }}","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-1584,1408],"id":"927de1fb-cda2-4ac4-8152-7eee8a285674","name":"Query Set Game Data","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['data.data.phase.sets.nodes[0].winnerId']","field2":"data.data.set.winnerId"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-928,1200],"id":"96f79c3e-0bfb-4a20-b627-31e629561a5a","name":"Enrich GF with Game Data"},{"parameters":{"fieldToSplitOut":"data.data.set.games[0].selections, data.data.set.games[1].selections, data.data.set.games[2].selections, data.data.set.games[].selections, data.data.set.games[].selections, ","include":"selectedOtherFields","fieldsToInclude":"data.data.set.event.tournament.name, data.data.set.event.id, data.data.set.winnerId, data.data.set.winnerId","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1408,1408],"id":"8027af0a-1f67-40c3-852f-5584caabfd0f","name":"Split Game Selections"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9352ecff-ac16-48dd-a6ff-435f91bbd70b","leftValue":"={{ $json['data.data.set.games[0].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"17376203-2890-48f3-b6ec-8adc039f279e","leftValue":"={{ $json['data.data.set.games[1].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"1da72bbd-51af-4303-9bde-53ef65d6c4ad","leftValue":"={{ $json['data.data.set.games[2].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"cd2416a1-1864-4707-9060-5ed7d683a584","leftValue":"={{ $json['data.data.set.games[3].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"cc59f5cf-2e5c-4502-b2d0-1d691e2b1271","leftValue":"={{ $json['data.data.set.games[4].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1216,1408],"id":"4ec680e5-0b8b-49b9-9106-41dd47423a73","name":"Filter Winner Selections"},{"parameters":{"fieldToSplitOut":"['data.data.tournaments.nodes'].events","include":"selectedOtherFields","fieldsToInclude":"={{ $json['data.data.tournaments.nodes'].name }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3456,976],"id":"718dd199-2076-461a-8b43-93d76e6c80fb","name":"Split Event Items"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['data.data.tournaments.nodes'].events[0].tournament.name","field2":"['[\\'data.data.tournaments.nodes\\'].events'].tournament.name"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-3344,768],"id":"a68bde3c-e00d-456e-af00-a3ad270b320a","name":"Merge Event Data"},{"parameters":{"assignments":{"assignments":[{"id":"8fadf185-090d-4dad-9b65-03bd4c2a9275","name":"totalEntrants","value":"={{ Object.values($json)[0] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2480,640],"id":"097c41de-8d34-45cb-b394-d2c72e0f6783","name":"Format Entrant Sum"},{"parameters":{"jsCode":"// Get all input items from the previous node in n8n\nconst items = $input.all();\n\n// Initialize a Set to track unique event IDs\nconst seenEventIds = new Set();\n\n// Initialize an array to store the filtered results\nconst result = [];\n\n// Iterate through all input items (assumed to be sorted beforehand)\nfor (const item of items) {\n    \n    // Extract the event ID (used for uniqueness filtering)\n    const eventId = item.json[\"data.data.event.id\"];\n\n    // If this event ID hasn't been seen before, add it to the result list\n    if (!seenEventIds.has(eventId)) {\n        seenEventIds.add(eventId); // Mark it as seen\n        result.push(item); // Store the first occurrence of this event ID\n    }\n\n    // Stop processing once we have collected 5 unique events\n    if (result.length === 5) {\n        break;  \n    }\n}\n\n// Return the filtered results containing at most 5 unique event IDs\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,1104],"id":"12ac285a-0f9c-4c81-824e-665b7e2ab920","name":"Dedupe & Extract Phase IDs"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"['[\\'data.data.tournaments.nodes\\'].events'].numEntrants","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2720,912],"id":"880f5eb3-2fef-42ed-9811-860f84cfcf0b","name":"Sort by Entrants"},{"parameters":{"content":"Need to adjust these. Not finding multiday events and only looking at last game for winning character. Grand finals reset does something weird too.","height":540,"width":2180},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2864,1040],"id":"59922ff5-355f-4384-b146-420e4d94ffb7","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.server.createSession","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ $json.BlueskyHandle }}"},{"name":"password","value":"={{ $json.BlueskyAppPassword }}"}]},"options":{}},"id":"48b8b4ba-88a3-4d7d-970e-518d2d2242e1","name":"Create Bluesky Session","type":"n8n-nodes-base.httpRequest","position":[1728,672],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"ec07f538-0164-40c5-a199-45e2a8a4604a","name":"BlueskyHandle","type":"string","value":"rivals2statbot.bsky.social"},{"id":"463e906c-c49b-41e0-9176-04bd2c175d0b","name":"BlueskyAppPassword","type":"string","value":"#m;:vBeyRiWE83K"}]},"options":{}},"id":"cea26f37-5c50-47da-91eb-2119c4b21b16","name":"Set Bluesky Credentials","type":"n8n-nodes-base.set","position":[1504,672],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Bluesky Session').item.json.accessJwt}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Create Post Text').item.json.toJsonString() }}","options":{}},"id":"6ff2f497-dda7-4b04-bd16-dc701a346de6","name":"Create Initial Post","type":"n8n-nodes-base.httpRequest","position":[1728,912],"typeVersion":4.2},{"parameters":{"jsCode":"// Build facets for rich text (AT Protocol)\n// Link facets take priority; hashtag facets skip positions that overlap a link span\nfunction buildFacets(text, links) {\n  const facets = [];\n  let searchFrom = 0;  // advances past each matched text to handle duplicate tournament names\n\n  // 1. Link facets for tournament names\n  for (const { text: linkText, url } of links) {\n    let idx = text.indexOf(linkText, searchFrom);\n    let matchedText = linkText;\n    if (idx === -1) {\n      matchedText = linkText.replace(/#([a-zA-Z])/g, '$1');\n      idx = text.indexOf(matchedText, searchFrom);\n    }\n    if (idx === -1) continue;  // not in this post's text, don't advance\n    searchFrom = idx + matchedText.length;\n    const byteStart = Buffer.byteLength(text.substring(0, idx), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(matchedText, 'utf8');\n    facets.push({\n      index: { byteStart, byteEnd },\n      features: [{ $type: 'app.bsky.richtext.facet#link', uri: url }]\n    });\n  }\n\n  // 2. Hashtag facets — skip any that overlap a link facet\n  const regex = /#[a-zA-Z][a-zA-Z0-9_]*/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    const byteStart = Buffer.byteLength(text.substring(0, match.index), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(match[0], 'utf8');\n    const overlaps  = facets.some(f => byteStart < f.index.byteEnd && byteEnd > f.index.byteStart);\n    if (!overlaps) {\n      facets.push({\n        index: { byteStart, byteEnd },\n        features: [{ $type: 'app.bsky.richtext.facet#tag', tag: match[0].slice(1) }]\n      });\n    }\n  }\n\n  return facets;\n}\n\n// Read from Failsafe Truncation (handles per-post 300-char limit)\nconst assemblePost = $('Failsafe Truncation').first().json;\nconst tournamentLinks = assemblePost.tournamentLinks || [];\nconst postText = assemblePost.mainPostText;\n\nconst facets = buildFacets(postText, tournamentLinks);\n\nconst postData = {\n    repo: $('Set Bluesky Credentials').first().json.BlueskyHandle,\n    collection: \"app.bsky.feed.post\",\n    record: {\n        $type: \"app.bsky.feed.post\",\n        text: postText,\n        createdAt: $now,\n        ...(facets.length > 0 && { facets })\n    }\n};\n\nreturn postData;"},"id":"4f882456-dd98-4074-882f-9c59921ab0df","name":"Create Post Text","type":"n8n-nodes-base.code","position":[1504,912],"typeVersion":2},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Bluesky Session').item.json.accessJwt}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Create Reply Text1').item.json.toJsonString() }} ","options":{}},"id":"d82bf869-f1c5-430f-ad8f-8af4c96a15bb","name":"Create Reply1","type":"n8n-nodes-base.httpRequest","position":[1728,1152],"typeVersion":4.2},{"parameters":{"jsCode":"// Build facets for rich text (AT Protocol)\nfunction buildFacets(text, links) {\n  const facets = [];\n  let searchFrom = 0;  // advances past each matched text to handle duplicate tournament names\n\n  for (const { text: linkText, url } of links) {\n    let idx = text.indexOf(linkText, searchFrom);\n    let matchedText = linkText;\n    if (idx === -1) {\n      matchedText = linkText.replace(/#([a-zA-Z])/g, '$1');\n      idx = text.indexOf(matchedText, searchFrom);\n    }\n    if (idx === -1) continue;  // not in this post's text, don't advance\n    searchFrom = idx + matchedText.length;\n    const byteStart = Buffer.byteLength(text.substring(0, idx), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(matchedText, 'utf8');\n    facets.push({\n      index: { byteStart, byteEnd },\n      features: [{ $type: 'app.bsky.richtext.facet#link', uri: url }]\n    });\n  }\n\n  const regex = /#[a-zA-Z][a-zA-Z0-9_]*/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    const byteStart = Buffer.byteLength(text.substring(0, match.index), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(match[0], 'utf8');\n    const overlaps  = facets.some(f => byteStart < f.index.byteEnd && byteEnd > f.index.byteStart);\n    if (!overlaps) {\n      facets.push({\n        index: { byteStart, byteEnd },\n        features: [{ $type: 'app.bsky.richtext.facet#tag', tag: match[0].slice(1) }]\n      });\n    }\n  }\n\n  return facets;\n}\n\n// Read from Failsafe Truncation (handles per-post 300-char limit)\nconst assemblePost = $('Failsafe Truncation').first().json;\nconst tournamentLinks = assemblePost.tournamentLinks || [];\nconst replyText = assemblePost.replyText;\n\nconst facets = buildFacets(replyText, tournamentLinks);\n\nconst futureDate = new Date(Date.now() + 1000);\n\nconst replyPostData = {\n    repo: $('Set Bluesky Credentials').first().json.BlueskyHandle,\n    collection: \"app.bsky.feed.post\",\n    record: {\n        \"$type\": \"app.bsky.feed.post\",\n        text: replyText,\n        reply: {\n            root: {\n                cid: $('Create Initial Post').first().json.cid,\n                uri: $('Create Initial Post').first().json.uri\n            },\n            parent: {\n                cid: $('Create Initial Post').first().json.cid,\n                uri: $('Create Initial Post').first().json.uri\n            }\n        },\n        ...(facets.length > 0 && { facets }),\n        createdAt: futureDate.toISOString()\n    }\n};\n\nreturn replyPostData;"},"id":"e7ce8360-e567-4d2f-bc66-9a76f96f9102","name":"Create Reply Text1","type":"n8n-nodes-base.code","position":[1504,1152],"typeVersion":2},{"parameters":{"operation":"roundDate","date":"={{ $json.currentDate }}","toNearest":"day","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4704,880],"id":"44960094-dccb-462b-b9a1-bddb103fe935","name":"Round to Day"},{"parameters":{"operation":"addToDate","magnitude":"={{ $json.roundedDate }}","timeUnit":"hours","duration":5,"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4480,800],"id":"5f321036-79ff-4e2d-996a-fd6bee4697f0","name":"Add 5 Hours"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"aaf22222-0000-4000-a000-000000000002","leftValue":"={{ $json['data.data.tournaments.nodes'].endAt }}","rightValue":"={{ $('Format Yesterday as Unix').item.json.dayAgoUnix }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3664,880],"id":"ca97fc02-0bbd-4c66-aa4e-405f0dd67663","name":"Filter by endAt"},{"parameters":{"jsCode":"// Grand Finals = highest positive round (winners side always positive in double-elim)\n// If multiple sets at that round (GF + reset), pick the latest completedAt\nreturn $input.all().map(item => {\n  const sets = item.json.data?.data?.phase?.sets?.nodes || [];\n  if (sets.length === 0) return item;\n\n  // Only look at positive rounds (winners/GF side)\n  const winnersSets = sets.filter(s => s.round > 0);\n  if (winnersSets.length === 0) return item;\n\n  // Highest positive round = Grand Finals round\n  const maxRound = Math.max(...winnersSets.map(s => s.round));\n\n  // Among GF-round sets, pick latest completedAt (handles bracket reset)\n  const gfSets = winnersSets.filter(s => s.round === maxRound);\n  const trueGF = gfSets.reduce((latest, s) =>\n    s.completedAt > latest.completedAt ? s : latest\n  );\n\n  const out = JSON.parse(JSON.stringify(item.json));\n  out.data.data.phase.sets.nodes = [trueGF];\n  return { json: out };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2400,1104],"id":"9fe891a6-e90f-4224-b57f-e80274bbfc45","name":"Find True GF"},{"parameters":{"jsCode":"function stripSponsor(winnerLine) {\n  // Strips 'Sponsor | ' prefix: '   🦁 The Strong One | HamPolo' => '   🦁 HamPolo'\n  return winnerLine.replace(/^(   \\S+\\s).*\\|\\s*(.+)$/, '$1$2');\n}\n\nfunction truncateIfNeeded(text) {\n  if (text.length <= 300) return text;\n  return text.split('\\n').map(line =>\n    line.includes(' | ') ? stripSponsor(line) : line\n  ).join('\\n');\n}\n\nconst data = $input.first().json;\nreturn [{\n  ...data,\n  mainPostText: truncateIfNeeded(data.mainPostText),\n  replyText:    truncateIfNeeded(data.replyText)\n}];"},"id":"d526e743-3d2e-4cdb-ac6b-5d667b22545c","name":"Failsafe Truncation","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0]}],"connections":{"Format Today as Unix":{"main":[[{"node":"Merge Date Range","type":"main","index":0}]]},"Get Current DateTime":{"main":[[{"node":"Round to Day","type":"main","index":0}]]},"Subtract 1 Day":{"main":[[{"node":"Format Yesterday as Unix","type":"main","index":0}]]},"Format Yesterday as Unix":{"main":[[{"node":"Merge Date Range","type":"main","index":1}]]},"Merge Date Range":{"main":[[{"node":"Query Tournaments","type":"main","index":0}]]},"Split Tournament Nodes":{"main":[[{"node":"Filter by endAt","type":"main","index":0}]]},"Filter Rivals2 Events":{"main":[[{"node":"Sum Total Entrants","type":"main","index":0},{"node":"Sort by Entrants","type":"main","index":0}]]},"Sum Total Entrants":{"main":[[{"node":"Format Entrant Sum","type":"main","index":0}]]},"Limit to Top 5":{"main":[[{"node":"Query Event Phases","type":"main","index":0},{"node":"Join Events + Phase Data","type":"main","index":0}]]},"Aggregate Tournament Data":{"main":[[{"node":"Assemble Post","type":"main","index":0}]]},"Merge Stats + Events":{"main":[[{"node":"Aggregate Tournament Data","type":"main","index":0}]]},"Run Daily @ 4:21pm":{"main":[[{"node":"Get Current DateTime","type":"main","index":0}]]},"Query Tournaments":{"main":[[{"node":"Split Tournament Nodes","type":"main","index":0}]]},"Query Event Phases":{"main":[[{"node":"Split Phase Groups","type":"main","index":0}]]},"Split Phase Groups":{"main":[[{"node":"Sort Phases","type":"main","index":0}]]},"Sort Phases":{"main":[[{"node":"Dedupe & Extract Phase IDs","type":"main","index":0}]]},"Split GF Games":{"main":[[{"node":"Sort Games","type":"main","index":0}]]},"Sort Games":{"main":[[{"node":"Code Top5 Events","type":"main","index":0}]]},"Query GF Sets":{"main":[[{"node":"Find True GF","type":"main","index":0}]]},"Query Entrant by ID":{"main":[[{"node":"Map Entrant to Winner","type":"main","index":0}]]},"Map Entrant to Winner":{"main":[[{"node":"Enrich GF with Game Data","type":"main","index":0}]]},"Filter Phase Match":{"main":[[{"node":"Query Entrant by ID","type":"main","index":0},{"node":"Query Set Game Data","type":"main","index":0}]]},"Join Events + Phase Data":{"main":[[{"node":"Join Events + Winners","type":"main","index":0}]]},"Join Events + Winners":{"main":[[{"node":"Merge Stats + Events","type":"main","index":1}]]},"Merge Winner Sources":{"main":[[{"node":"Join Events + Winners","type":"main","index":1}]]},"Code Top5 Events":{"main":[[{"node":"Filter Phase Match","type":"main","index":0},{"node":"Join Events + Phase Data","type":"main","index":1},{"node":"Merge Winner Sources","type":"main","index":0}]]},"Assemble Post":{"main":[[{"node":"Failsafe Truncation","type":"main","index":0}]]},"Query Set Game Data":{"main":[[{"node":"Split Game Selections","type":"main","index":0}]]},"Enrich GF with Game Data":{"main":[[{"node":"Merge Winner Sources","type":"main","index":1}]]},"Split Game Selections":{"main":[[{"node":"Filter Winner Selections","type":"main","index":0}]]},"Filter Winner Selections":{"main":[[{"node":"Enrich GF with Game Data","type":"main","index":1}]]},"Split Event Items":{"main":[[{"node":"Merge Event Data","type":"main","index":1}]]},"Merge Event Data":{"main":[[{"node":"Filter Rivals2 Events","type":"main","index":0}]]},"Format Entrant Sum":{"main":[[{"node":"Merge Stats + Events","type":"main","index":0}]]},"Dedupe & Extract Phase IDs":{"main":[[{"node":"Query GF Sets","type":"main","index":0}]]},"Sort by Entrants":{"main":[[{"node":"Limit to Top 5","type":"main","index":0}]]},"Create Bluesky Session":{"main":[[{"node":"Create Post Text","type":"main","index":0}]]},"Set Bluesky Credentials":{"main":[[{"node":"Create Bluesky Session","type":"main","index":0}]]},"Create Initial Post":{"main":[[{"node":"Create Reply Text1","type":"main","index":0}]]},"Create Post Text":{"main":[[{"node":"Create Initial Post","type":"main","index":0}]]},"Create Reply Text1":{"main":[[{"node":"Create Reply1","type":"main","index":0}]]},"Round to Day":{"main":[[{"node":"Subtract 1 Day","type":"main","index":0},{"node":"Add 5 Hours","type":"main","index":0}]]},"Add 5 Hours":{"main":[[{"node":"Format Today as Unix","type":"main","index":0}]]},"Filter by endAt":{"main":[[{"node":"Split Event Items","type":"main","index":0},{"node":"Merge Event Data","type":"main","index":0}]]},"Find True GF":{"main":[[{"node":"Split GF Games","type":"main","index":0}]]},"Failsafe Truncation":{"main":[[{"node":"Set Bluesky Credentials","type":"main","index":0}]]}},"authors":"Trent Nolen","name":null,"description":null,"autosaved":false},"tags":[]}