workflows/Daily ROA2 Reddit Recap.json
{"updatedAt":"2026-03-17T01:16:59.146Z","createdAt":"2026-03-17T00:55:52.870Z","id":"FtKlfGw9OpqFAidR","name":"Daily ROA2 Reddit Recap","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":30}]}},"id":"main-0001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"jsCode":"const now = Math.floor(Date.now() / 1000);\nconst dayAgo = now - (3 * 24 * 60 * 60);\nreturn [{ json: { now, weekAgo: dayAgo } }];"},"id":"main-0003","name":"Get Timestamps","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"query ($afterDate: Timestamp!, $beforeDate: Timestamp!) { tournaments(query: { perPage: 500, filter: { videogameIds: [53945], afterDate: $afterDate, beforeDate: $beforeDate } }) { nodes { id name slug endAt numAttendees events(filter: { videogameId: 53945, type: [1] }) { id name numEntrants } } } }","variables":"={ \"afterDate\": {{ $json.weekAgo }}, \"beforeDate\": {{ $json.now }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"id":"main-0004","name":"Fetch ROA2 Tournaments","type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[448,0],"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"fieldToSplitOut":"data.data.tournaments.nodes","options":{}},"id":"main-0005","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[672,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"filter-entrants","leftValue":"={{ ($json.events || []).reduce((max, e) => Math.max(max, e.numEntrants || 0), 0) }}","rightValue":50,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"main-0006","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[880,0]},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"query EventDetails($eventId: ID!) { event(id: $eventId) { id name slug numEntrants tournament { name slug } standings(query: { perPage: 16, page: 1 }) { nodes { placement entrant { id name participants { player { gamerTag prefix } } } } } } }","variables":"={ \"eventId\": {{ ($json.events || []).reduce((best, e) => (e.numEntrants || 0) > (best.numEntrants || 0) ? e : best, ($json.events || [])[0] || {}).id }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"id":"main-0009","name":"Get Standings","type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[1104,0],"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const rawData = item.json.data;\n  const gql = typeof rawData === 'string' ? JSON.parse(rawData) : rawData;\n  const event = gql?.data?.event;\n  if (!event) continue;\n  const standings = (event.standings?.nodes || []).map(s => ({\n    placement: s.placement,\n    entrantId: s.entrant.id,\n    name: s.entrant.name,\n    tag: s.entrant?.participants?.[0]?.player?.gamerTag || s.entrant.name,\n    prefix: s.entrant?.participants?.[0]?.player?.prefix || ''\n  }));\n  results.push({ json: {\n    eventId: event.id || null,\n    eventSlug: event.slug || '',\n    numEntrants: event.numEntrants || null,\n    tournamentName: event.tournament?.name || '',\n    tournamentSlug: event.tournament?.slug || '',\n    standings\n  }});\n}\nreturn results;"},"id":"main-0010","name":"Process Standings","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,224]},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"query EventSets($eventId: ID!) { event(id: $eventId) { sets(page: 1, perPage: 100, filters: { state: 3 }) { nodes { id fullRoundText winnerId slots { entrant { id name } } } } } }","variables":"={ \"eventId\": {{ $json.eventId }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"id":"main-0011","name":"Get Event Sets","type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[224,224],"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst allStandings = $('Process Standings').all();\nconst results = [];\n\nconst sanitizeName = name => (name || '').replace(/^.+\\|\\s*/, '').trim() || name;\n\nfunction roundScore(rt) {\n  const r = (rt || '').toLowerCase();\n  if (r.includes('bracket reset') || r.includes('true final') || (r.includes('grand final') && r.includes('reset'))) return 300;\n  if (r.includes('grand final')) return 200;\n  const base = r.includes('winner') ? 100 : 0;\n  if (r.includes('final') && !r.includes('semi') && !r.includes('quarter')) return base + 50;\n  if (r.includes('semi')) return base + 40;\n  if (r.includes('quarter')) return base + 30;\n  const m = r.match(/round (\\d+)/);\n  return base + (m ? parseInt(m[1]) : 10);\n}\n\nfor (let i = 0; i < items.length; i++) {\n  const standingsInfo = allStandings[i]?.json;\n  if (!standingsInfo) continue;\n  const { standings, tournamentName, tournamentSlug, eventId, eventSlug, numEntrants } = standingsInfo;\n\n  const rawData = items[i].json.data;\n  const gql = typeof rawData === 'string' ? JSON.parse(rawData) : rawData;\n  const allSets = gql?.data?.event?.sets?.nodes || [];\n  const sets = [...allSets].sort((a, b) => roundScore(a.fullRoundText) - roundScore(b.fullRoundText));\n\n  const entrantMap = {};\n  for (const s of standings) {\n    entrantMap[String(s.entrantId)] = {\n      tag: s.tag, prefix: s.prefix, placement: s.placement,\n      entrantId: s.entrantId, primaryCharacter: null,\n      sentToLosersBy: null, eliminatedBy: null\n    };\n  }\n  const top16 = new Set(Object.keys(entrantMap));\n  let gfSet = null, gfResetSet = null;\n\n  for (const set of sets) {\n    const rt = (set.fullRoundText || '').toLowerCase();\n    const wId = String(set.winnerId);\n    const slots = set.slots || [];\n    if (slots.length < 2) continue;\n    const id1 = String(slots[0].entrant?.id);\n    const id2 = String(slots[1].entrant?.id);\n    const loserId = id1 === wId ? id2 : id1;\n    const rawName = slots.find(sl => String(sl.entrant?.id) === wId)?.entrant?.name || 'Unknown';\n    const wTag = entrantMap[wId]?.tag || sanitizeName(rawName);\n\n    if (rt.includes('bracket reset') || rt.includes('true final') || (rt.includes('grand final') && rt.includes('reset'))) {\n      gfResetSet = set;\n    } else if (rt.includes('grand final')) {\n      gfSet = set;\n    }\n\n    if (!top16.has(loserId)) continue;\n    const loser = entrantMap[loserId];\n    if (!loser) continue;\n\n    const isLosers = rt.includes('loser');\n    const isGrandFinal = rt.includes('grand final') || rt.includes('bracket reset') || rt.includes('true final');\n    if (!isLosers && !isGrandFinal && !loser.sentToLosersBy) loser.sentToLosersBy = wTag;\n    if (isLosers || isGrandFinal) loser.eliminatedBy = wTag;\n  }\n\n  for (const id of Object.keys(entrantMap)) {\n    if (entrantMap[id].placement === 1) {\n      entrantMap[id].eliminatedBy = null;\n      entrantMap[id].sentToLosersBy = null;\n    }\n  }\n\n  let gfSetId = null, gfResetSetId = null;\n  let gfWinnerTag = null, gfLoserTag = null, gfWinnerEntrantId = null, gfLoserEntrantId = null;\n  if (gfSet) gfSetId = String(gfSet.id);\n  if (gfResetSet) gfResetSetId = String(gfResetSet.id);\n\n  const decisiveSet = gfResetSet || gfSet;\n  if (decisiveSet) {\n    const dWId = String(decisiveSet.winnerId);\n    const [s1, s2] = decisiveSet.slots || [];\n    const dId1 = String(s1?.entrant?.id);\n    const dId2 = String(s2?.entrant?.id);\n    const dLId = dId1 === dWId ? dId2 : dId1;\n    gfWinnerEntrantId = dWId;\n    gfLoserEntrantId = dLId;\n    gfWinnerTag = entrantMap[dWId]?.tag || sanitizeName(s1?.entrant?.name || '?');\n    gfLoserTag = entrantMap[dLId]?.tag || sanitizeName(s2?.entrant?.name || '?');\n  }\n\n  results.push({ json: { tournamentName, tournamentSlug, eventId, eventSlug, numEntrants, standings, entrantMap, gfSetId, gfResetSetId, gfWinnerTag, gfLoserTag, gfWinnerEntrantId, gfLoserEntrantId } });\n}\nreturn results;"},"id":"main-0012","name":"Process Tournament Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,224]},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"query SetInfo($setId: ID!, $resetSetId: ID!) { gfSet: set(id: $setId) { id winnerId displayScore slots { entrant { id } standing { stats { score { label value } } } } games { orderNum winnerId stage { name } selections { entrant { id name } character { name } } } } gfReset: set(id: $resetSetId) { id winnerId displayScore slots { entrant { id } standing { stats { score { label value } } } } games { orderNum winnerId stage { name } selections { entrant { id name } character { name } } } } }","variables":"={ \"setId\": {{ $json.gfSetId }}, \"resetSetId\": {{ $json.gfResetSetId || $json.gfSetId }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"id":"main-0017","name":"Get GF Game Data","type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[672,224],"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst allTD = $('Process Tournament Data').all();\nconst results = [];\n\nfunction processSetGames(set, leftId, rightId, entrantMap) {\n  if (!set) return { games: [], score: null };\n  let leftGames = null, rightGames = null;\n  if (set.slots) {\n    for (const slot of set.slots) {\n      const sId = String(slot.entrant?.id);\n      const val = slot.standing?.stats?.score?.value;\n      if (val !== null && val !== undefined) {\n        const games = Math.round(val);\n        if (sId === leftId) leftGames = games;\n        else if (sId === rightId) rightGames = games;\n      }\n    }\n  }\n  let score = null;\n  if (leftGames !== null && rightGames !== null) {\n    const leftStr = leftGames >= 0 ? String(leftGames) : 'DQ';\n    const rightStr = rightGames >= 0 ? String(rightGames) : 'DQ';\n    score = `${leftStr}-${rightStr}`;\n  }\n  const games = [];\n  for (const game of (set.games || [])) {\n    const gc = {};\n    for (const sel of (game.selections || [])) {\n      const sId = String(sel.entrant?.id);\n      gc[sId] = sel.character?.name || null;\n      if (entrantMap[sId] && gc[sId] && !entrantMap[sId].primaryCharacter) entrantMap[sId].primaryCharacter = gc[sId];\n    }\n    const gameWinnerId = game.winnerId ? String(game.winnerId) : null;\n    games.push({ order: game.orderNum, stage: game.stage?.name || null, leftChar: gc[leftId] || null, rightChar: gc[rightId] || null, leftWon: gameWinnerId !== null ? gameWinnerId === leftId : null });\n  }\n  games.sort((a, b) => a.order - b.order);\n  return { games, score };\n}\n\nfor (let i = 0; i < items.length; i++) {\n  const td = allTD[i]?.json;\n  if (!td) continue;\n  const rawData = items[i].json.data;\n  const gql = typeof rawData === 'string' ? JSON.parse(rawData) : rawData;\n  const gfSetData = gql?.data?.gfSet;\n  const gfResetData = gql?.data?.gfReset;\n  const { tournamentName, tournamentSlug, eventId, eventSlug, numEntrants, standings, entrantMap, gfWinnerTag, gfLoserTag, gfWinnerEntrantId, gfLoserEntrantId, gfSetId, gfResetSetId } = td;\n  const leftId = String(gfWinnerEntrantId);\n  const rightId = String(gfLoserEntrantId);\n  const hasReset = gfResetSetId !== null && gfResetSetId !== gfSetId;\n  const { games: gfGames, score: gfScore } = processSetGames(gfSetData, leftId, rightId, entrantMap);\n  let gfResetGames = null, gfResetScore = null;\n  if (hasReset) {\n    const r = processSetGames(gfResetData, leftId, rightId, entrantMap);\n    gfResetGames = r.games; gfResetScore = r.score;\n  }\n  const gfWinnerChar = entrantMap[leftId]?.primaryCharacter || null;\n  const gfLoserChar = entrantMap[rightId]?.primaryCharacter || null;\n  results.push({ json: { tournamentName, tournamentSlug, eventId, eventSlug, numEntrants, standings, entrantMap, gfWinnerTag, gfLoserTag, gfWinnerEntrantId, gfLoserEntrantId, gfGames, gfScore, gfResetGames, gfResetScore, hasReset, gfWinnerChar, gfLoserChar } });\n}\nreturn results;"},"id":"main-0018","name":"Process GF Games","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,224]},{"parameters":{"jsCode":"const allItems = $input.all();\nconst results = [];\n\nconst charMap = {\n  'Zetterburn': 'Zetterburn', 'Ranno': 'Ranno', 'Wrastor': 'Wrastor', 'Kragg': 'Kragg',\n  'Fleet': 'Fleet', 'Maypul': 'Maypul', 'Clairen': 'Clairen', 'Loxodont': 'Loxodont',\n  'Orcane': 'Orcane', 'Forsburn': 'Forsburn', 'Etalus': 'Etalus', 'Olympia': 'Olympia',\n  'Absa': 'Absa', 'Galvan': 'Galvan', 'La Reina': 'LaReina', 'Slade': 'Slade', 'Random': 'Random'\n};\nconst ci = name => { if (!name || !charMap[name]) return ''; return `[${name}](#ROA2-${charMap[name]})`; };\nconst sfx = { 1: 'st', 2: 'nd', 3: 'rd' };\nconst placeLabels = [1,2,3,4,5,5,7,7,9,9,9,9,13,13,13,13];\n\nfor (const item of allItems) {\n  const {\n    tournamentName, tournamentSlug, eventSlug, standings, entrantMap, numEntrants, eventId,\n    gfWinnerTag, gfLoserTag, gfWinnerEntrantId, gfLoserEntrantId,\n    gfGames, gfScore, gfResetGames, gfResetScore, hasReset,\n    gfWinnerChar, gfLoserChar\n  } = item.json;\n\n  const sorted = [...standings].sort((a, b) => a.placement - b.placement).slice(0, 16);\n\n  const rows = sorted.map((s, i) => {\n    const e = entrantMap[String(s.entrantId)] || {};\n    const p = placeLabels[i] || s.placement;\n    const placeStr = `**${p}${sfx[p] || 'th'}**`;\n    const px = s.prefix ? `${s.prefix} ` : '';\n    const icon = ci(e.primaryCharacter);\n    const player = icon ? `${px}**${s.tag}** ${icon}` : `${px}**${s.tag}**`;\n    const stl = e.sentToLosersBy ? `**${e.sentToLosersBy}**` : '---';\n    const elim = e.eliminatedBy ? `**${e.eliminatedBy}**` : '---';\n    return `|${placeStr}|${player}|${stl}|${elim}|`;\n  });\n\n  const bracketUrl = eventSlug ? `https://www.start.gg/${eventSlug}` : `https://www.start.gg/${tournamentSlug}/events`;\n\n  let gfSection = '';\n  if (gfWinnerTag && gfLoserTag && gfGames && gfGames.length > 0) {\n    const wi = ci(gfWinnerChar);\n    const li = ci(gfLoserChar);\n    const winnerFromLosers = entrantMap[String(gfWinnerEntrantId)]?.sentToLosersBy !== null;\n    const loserFromLosers = entrantMap[String(gfLoserEntrantId)]?.sentToLosersBy !== null;\n    const wLabel = winnerFromLosers ? ' (L)' : '';\n    const lLabel = loserFromLosers ? ' (L)' : '';\n    const makeGameRows = (games) => (games || []).map(g => {\n      const stage = g.stage || 'N/A';\n      const leftChar = g.leftChar || gfWinnerChar;\n      const rightChar = g.rightChar || gfLoserChar;\n      const leftStock = g.leftWon === true ? '**W**' : '---';\n      const rightStock = g.leftWon === false ? '**W**' : '---';\n      return `${leftStock}|${ci(leftChar) || '?'}|${stage}|${ci(rightChar) || '?'}|${rightStock}`;\n    }).join('\\n');\n    const makeTable = (score, games) => {\n      const safeGames = games || [];\n      const displayScore = score || (safeGames.length > 0 ? `${safeGames.length}-?` : '?-?');\n      const header = `${wi} ${gfWinnerTag}${wLabel} | |${displayScore}| | ${li} ${gfLoserTag}${lLabel}\\n---:|:--:|:--:|:--:|:---`;\n      const dataRows = safeGames.length === 0 ? `*No games recorded.* | | | | ` : makeGameRows(safeGames);\n      return `${header}\\n${dataRows}`;\n    };\n    if (hasReset) {\n      const gfPart = `**Grand Finals:**\\n\\n${makeTable(gfScore, gfGames)}`;\n      const resetPart = `\\n\\n**Bracket Reset:**\\n\\n${makeTable(gfResetScore, gfResetGames)}`;\n      gfSection = `\\n\\n---\\n\\n#Grand Finals \\u2014 Bracket Reset\\n\\n**${gfWinnerTag}**${wLabel} defeats **${gfLoserTag}**${lLabel}\\n\\n${gfPart}${resetPart}`;\n    } else {\n      gfSection = `\\n\\n---\\n\\n#Grand Finals\\n\\n**${gfWinnerTag}**${wLabel}\\n\\n***vs***\\n\\n**${gfLoserTag}**${lLabel}\\n\\n${makeTable(gfScore, gfGames)}`;\n    }\n  }\n\n  const entrantCount = numEntrants || sorted.length;\n  const title = `Congratulations to the winner of ${tournamentName}!`;\n  const body = `#[Top 8 Bracket](${bracketUrl})\\n\\n---\\n\\nROA2 Singles \\u2014 ${entrantCount} entrants\\n\\n---\\n\\n|**Place**|**Player**|**Sent to Losers by**|**Eliminated by**|\\n:--|:--|:--|:--|\\n${rows.join('\\n')}${gfSection}`;\n\n  results.push({ json: { title, body, eventId, tournamentName } });\n}\nreturn results;"},"id":"main-0013","name":"Format Reddit Post","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,224]},{"parameters":{"workflowId":"7VqEi5YUTsdG94IK","options":{}},"id":"main-0020","name":"Run Approval Subworkflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1328,224]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Timestamps","type":"main","index":0}]]},"Get Timestamps":{"main":[[{"node":"Fetch ROA2 Tournaments","type":"main","index":0}]]},"Fetch ROA2 Tournaments":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Get Standings","type":"main","index":0}]]},"Get Standings":{"main":[[{"node":"Process Standings","type":"main","index":0}]]},"Process Standings":{"main":[[{"node":"Get Event Sets","type":"main","index":0}]]},"Get Event Sets":{"main":[[{"node":"Process Tournament Data","type":"main","index":0}]]},"Process Tournament Data":{"main":[[{"node":"Get GF Game Data","type":"main","index":0}]]},"Get GF Game Data":{"main":[[{"node":"Process GF Games","type":"main","index":0}]]},"Process GF Games":{"main":[[{"node":"Format Reddit Post","type":"main","index":0}]]},"Format Reddit Post":{"main":[[{"node":"Run Approval Subworkflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"d9b247bf-b506-4312-bc05-1ec4bd54dc0c","activeVersionId":"d9b247bf-b506-4312-bc05-1ec4bd54dc0c","triggerCount":1,"shared":[{"updatedAt":"2026-03-17T00:55:52.874Z","createdAt":"2026-03-17T00:55:52.874Z","role":"workflow:owner","workflowId":"FtKlfGw9OpqFAidR","projectId":"u9kYCfFU7pgjjx9U"}],"activeVersion":{"updatedAt":"2026-03-17T01:39:55.000Z","createdAt":"2026-03-17T01:16:59.146Z","versionId":"d9b247bf-b506-4312-bc05-1ec4bd54dc0c","workflowId":"FtKlfGw9OpqFAidR","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":30}]}},"id":"main-0001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"jsCode":"const now = Math.floor(Date.now() / 1000);\nconst dayAgo = now - (3 * 24 * 60 * 60);\nreturn [{ json: { now, weekAgo: dayAgo } }];"},"id":"main-0003","name":"Get Timestamps","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"query ($afterDate: Timestamp!, $beforeDate: Timestamp!) { tournaments(query: { perPage: 500, filter: { videogameIds: [53945], afterDate: $afterDate, beforeDate: $beforeDate } }) { nodes { id name slug endAt numAttendees events(filter: { videogameId: 53945, type: [1] }) { id name numEntrants } } } }","variables":"={ \"afterDate\": {{ $json.weekAgo }}, \"beforeDate\": {{ $json.now }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"id":"main-0004","name":"Fetch ROA2 Tournaments","type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[448,0],"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"fieldToSplitOut":"data.data.tournaments.nodes","options":{}},"id":"main-0005","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[672,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"filter-entrants","leftValue":"={{ ($json.events || []).reduce((max, e) => Math.max(max, e.numEntrants || 0), 0) }}","rightValue":50,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"main-0006","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[880,0]},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"query EventDetails($eventId: ID!) { event(id: $eventId) { id name slug numEntrants tournament { name slug } standings(query: { perPage: 16, page: 1 }) { nodes { placement entrant { id name participants { player { gamerTag prefix } } } } } } }","variables":"={ \"eventId\": {{ ($json.events || []).reduce((best, e) => (e.numEntrants || 0) > (best.numEntrants || 0) ? e : best, ($json.events || [])[0] || {}).id }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"id":"main-0009","name":"Get Standings","type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[1104,0],"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const rawData = item.json.data;\n  const gql = typeof rawData === 'string' ? JSON.parse(rawData) : rawData;\n  const event = gql?.data?.event;\n  if (!event) continue;\n  const standings = (event.standings?.nodes || []).map(s => ({\n    placement: s.placement,\n    entrantId: s.entrant.id,\n    name: s.entrant.name,\n    tag: s.entrant?.participants?.[0]?.player?.gamerTag || s.entrant.name,\n    prefix: s.entrant?.participants?.[0]?.player?.prefix || ''\n  }));\n  results.push({ json: {\n    eventId: event.id || null,\n    eventSlug: event.slug || '',\n    numEntrants: event.numEntrants || null,\n    tournamentName: event.tournament?.name || '',\n    tournamentSlug: event.tournament?.slug || '',\n    standings\n  }});\n}\nreturn results;"},"id":"main-0010","name":"Process Standings","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,224]},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"query EventSets($eventId: ID!) { event(id: $eventId) { sets(page: 1, perPage: 100, filters: { state: 3 }) { nodes { id fullRoundText winnerId slots { entrant { id name } } } } } }","variables":"={ \"eventId\": {{ $json.eventId }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"id":"main-0011","name":"Get Event Sets","type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[224,224],"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst allStandings = $('Process Standings').all();\nconst results = [];\n\nconst sanitizeName = name => (name || '').replace(/^.+\\|\\s*/, '').trim() || name;\n\nfunction roundScore(rt) {\n  const r = (rt || '').toLowerCase();\n  if (r.includes('bracket reset') || r.includes('true final') || (r.includes('grand final') && r.includes('reset'))) return 300;\n  if (r.includes('grand final')) return 200;\n  const base = r.includes('winner') ? 100 : 0;\n  if (r.includes('final') && !r.includes('semi') && !r.includes('quarter')) return base + 50;\n  if (r.includes('semi')) return base + 40;\n  if (r.includes('quarter')) return base + 30;\n  const m = r.match(/round (\\d+)/);\n  return base + (m ? parseInt(m[1]) : 10);\n}\n\nfor (let i = 0; i < items.length; i++) {\n  const standingsInfo = allStandings[i]?.json;\n  if (!standingsInfo) continue;\n  const { standings, tournamentName, tournamentSlug, eventId, eventSlug, numEntrants } = standingsInfo;\n\n  const rawData = items[i].json.data;\n  const gql = typeof rawData === 'string' ? JSON.parse(rawData) : rawData;\n  const allSets = gql?.data?.event?.sets?.nodes || [];\n  const sets = [...allSets].sort((a, b) => roundScore(a.fullRoundText) - roundScore(b.fullRoundText));\n\n  const entrantMap = {};\n  for (const s of standings) {\n    entrantMap[String(s.entrantId)] = {\n      tag: s.tag, prefix: s.prefix, placement: s.placement,\n      entrantId: s.entrantId, primaryCharacter: null,\n      sentToLosersBy: null, eliminatedBy: null\n    };\n  }\n  const top16 = new Set(Object.keys(entrantMap));\n  let gfSet = null, gfResetSet = null;\n\n  for (const set of sets) {\n    const rt = (set.fullRoundText || '').toLowerCase();\n    const wId = String(set.winnerId);\n    const slots = set.slots || [];\n    if (slots.length < 2) continue;\n    const id1 = String(slots[0].entrant?.id);\n    const id2 = String(slots[1].entrant?.id);\n    const loserId = id1 === wId ? id2 : id1;\n    const rawName = slots.find(sl => String(sl.entrant?.id) === wId)?.entrant?.name || 'Unknown';\n    const wTag = entrantMap[wId]?.tag || sanitizeName(rawName);\n\n    if (rt.includes('bracket reset') || rt.includes('true final') || (rt.includes('grand final') && rt.includes('reset'))) {\n      gfResetSet = set;\n    } else if (rt.includes('grand final')) {\n      gfSet = set;\n    }\n\n    if (!top16.has(loserId)) continue;\n    const loser = entrantMap[loserId];\n    if (!loser) continue;\n\n    const isLosers = rt.includes('loser');\n    const isGrandFinal = rt.includes('grand final') || rt.includes('bracket reset') || rt.includes('true final');\n    if (!isLosers && !isGrandFinal && !loser.sentToLosersBy) loser.sentToLosersBy = wTag;\n    if (isLosers || isGrandFinal) loser.eliminatedBy = wTag;\n  }\n\n  for (const id of Object.keys(entrantMap)) {\n    if (entrantMap[id].placement === 1) {\n      entrantMap[id].eliminatedBy = null;\n      entrantMap[id].sentToLosersBy = null;\n    }\n  }\n\n  let gfSetId = null, gfResetSetId = null;\n  let gfWinnerTag = null, gfLoserTag = null, gfWinnerEntrantId = null, gfLoserEntrantId = null;\n  if (gfSet) gfSetId = String(gfSet.id);\n  if (gfResetSet) gfResetSetId = String(gfResetSet.id);\n\n  const decisiveSet = gfResetSet || gfSet;\n  if (decisiveSet) {\n    const dWId = String(decisiveSet.winnerId);\n    const [s1, s2] = decisiveSet.slots || [];\n    const dId1 = String(s1?.entrant?.id);\n    const dId2 = String(s2?.entrant?.id);\n    const dLId = dId1 === dWId ? dId2 : dId1;\n    gfWinnerEntrantId = dWId;\n    gfLoserEntrantId = dLId;\n    gfWinnerTag = entrantMap[dWId]?.tag || sanitizeName(s1?.entrant?.name || '?');\n    gfLoserTag = entrantMap[dLId]?.tag || sanitizeName(s2?.entrant?.name || '?');\n  }\n\n  results.push({ json: { tournamentName, tournamentSlug, eventId, eventSlug, numEntrants, standings, entrantMap, gfSetId, gfResetSetId, gfWinnerTag, gfLoserTag, gfWinnerEntrantId, gfLoserEntrantId } });\n}\nreturn results;"},"id":"main-0012","name":"Process Tournament Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,224]},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"query SetInfo($setId: ID!, $resetSetId: ID!) { gfSet: set(id: $setId) { id winnerId displayScore slots { entrant { id } standing { stats { score { label value } } } } games { orderNum winnerId stage { name } selections { entrant { id name } character { name } } } } gfReset: set(id: $resetSetId) { id winnerId displayScore slots { entrant { id } standing { stats { score { label value } } } } games { orderNum winnerId stage { name } selections { entrant { id name } character { name } } } } }","variables":"={ \"setId\": {{ $json.gfSetId }}, \"resetSetId\": {{ $json.gfResetSetId || $json.gfSetId }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"id":"main-0017","name":"Get GF Game Data","type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[672,224],"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst allTD = $('Process Tournament Data').all();\nconst results = [];\n\nfunction processSetGames(set, leftId, rightId, entrantMap) {\n  if (!set) return { games: [], score: null };\n  let leftGames = null, rightGames = null;\n  if (set.slots) {\n    for (const slot of set.slots) {\n      const sId = String(slot.entrant?.id);\n      const val = slot.standing?.stats?.score?.value;\n      if (val !== null && val !== undefined) {\n        const games = Math.round(val);\n        if (sId === leftId) leftGames = games;\n        else if (sId === rightId) rightGames = games;\n      }\n    }\n  }\n  let score = null;\n  if (leftGames !== null && rightGames !== null) {\n    const leftStr = leftGames >= 0 ? String(leftGames) : 'DQ';\n    const rightStr = rightGames >= 0 ? String(rightGames) : 'DQ';\n    score = `${leftStr}-${rightStr}`;\n  }\n  const games = [];\n  for (const game of (set.games || [])) {\n    const gc = {};\n    for (const sel of (game.selections || [])) {\n      const sId = String(sel.entrant?.id);\n      gc[sId] = sel.character?.name || null;\n      if (entrantMap[sId] && gc[sId] && !entrantMap[sId].primaryCharacter) entrantMap[sId].primaryCharacter = gc[sId];\n    }\n    const gameWinnerId = game.winnerId ? String(game.winnerId) : null;\n    games.push({ order: game.orderNum, stage: game.stage?.name || null, leftChar: gc[leftId] || null, rightChar: gc[rightId] || null, leftWon: gameWinnerId !== null ? gameWinnerId === leftId : null });\n  }\n  games.sort((a, b) => a.order - b.order);\n  return { games, score };\n}\n\nfor (let i = 0; i < items.length; i++) {\n  const td = allTD[i]?.json;\n  if (!td) continue;\n  const rawData = items[i].json.data;\n  const gql = typeof rawData === 'string' ? JSON.parse(rawData) : rawData;\n  const gfSetData = gql?.data?.gfSet;\n  const gfResetData = gql?.data?.gfReset;\n  const { tournamentName, tournamentSlug, eventId, eventSlug, numEntrants, standings, entrantMap, gfWinnerTag, gfLoserTag, gfWinnerEntrantId, gfLoserEntrantId, gfSetId, gfResetSetId } = td;\n  const leftId = String(gfWinnerEntrantId);\n  const rightId = String(gfLoserEntrantId);\n  const hasReset = gfResetSetId !== null && gfResetSetId !== gfSetId;\n  const { games: gfGames, score: gfScore } = processSetGames(gfSetData, leftId, rightId, entrantMap);\n  let gfResetGames = null, gfResetScore = null;\n  if (hasReset) {\n    const r = processSetGames(gfResetData, leftId, rightId, entrantMap);\n    gfResetGames = r.games; gfResetScore = r.score;\n  }\n  const gfWinnerChar = entrantMap[leftId]?.primaryCharacter || null;\n  const gfLoserChar = entrantMap[rightId]?.primaryCharacter || null;\n  results.push({ json: { tournamentName, tournamentSlug, eventId, eventSlug, numEntrants, standings, entrantMap, gfWinnerTag, gfLoserTag, gfWinnerEntrantId, gfLoserEntrantId, gfGames, gfScore, gfResetGames, gfResetScore, hasReset, gfWinnerChar, gfLoserChar } });\n}\nreturn results;"},"id":"main-0018","name":"Process GF Games","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,224]},{"parameters":{"jsCode":"const allItems = $input.all();\nconst results = [];\n\nconst charMap = {\n  'Zetterburn': 'Zetterburn', 'Ranno': 'Ranno', 'Wrastor': 'Wrastor', 'Kragg': 'Kragg',\n  'Fleet': 'Fleet', 'Maypul': 'Maypul', 'Clairen': 'Clairen', 'Loxodont': 'Loxodont',\n  'Orcane': 'Orcane', 'Forsburn': 'Forsburn', 'Etalus': 'Etalus', 'Olympia': 'Olympia',\n  'Absa': 'Absa', 'Galvan': 'Galvan', 'La Reina': 'LaReina', 'Slade': 'Slade', 'Random': 'Random'\n};\nconst ci = name => { if (!name || !charMap[name]) return ''; return `[${name}](#ROA2-${charMap[name]})`; };\nconst sfx = { 1: 'st', 2: 'nd', 3: 'rd' };\nconst placeLabels = [1,2,3,4,5,5,7,7,9,9,9,9,13,13,13,13];\n\nfor (const item of allItems) {\n  const {\n    tournamentName, tournamentSlug, eventSlug, standings, entrantMap, numEntrants, eventId,\n    gfWinnerTag, gfLoserTag, gfWinnerEntrantId, gfLoserEntrantId,\n    gfGames, gfScore, gfResetGames, gfResetScore, hasReset,\n    gfWinnerChar, gfLoserChar\n  } = item.json;\n\n  const sorted = [...standings].sort((a, b) => a.placement - b.placement).slice(0, 16);\n\n  const rows = sorted.map((s, i) => {\n    const e = entrantMap[String(s.entrantId)] || {};\n    const p = placeLabels[i] || s.placement;\n    const placeStr = `**${p}${sfx[p] || 'th'}**`;\n    const px = s.prefix ? `${s.prefix} ` : '';\n    const icon = ci(e.primaryCharacter);\n    const player = icon ? `${px}**${s.tag}** ${icon}` : `${px}**${s.tag}**`;\n    const stl = e.sentToLosersBy ? `**${e.sentToLosersBy}**` : '---';\n    const elim = e.eliminatedBy ? `**${e.eliminatedBy}**` : '---';\n    return `|${placeStr}|${player}|${stl}|${elim}|`;\n  });\n\n  const bracketUrl = eventSlug ? `https://www.start.gg/${eventSlug}` : `https://www.start.gg/${tournamentSlug}/events`;\n\n  let gfSection = '';\n  if (gfWinnerTag && gfLoserTag && gfGames && gfGames.length > 0) {\n    const wi = ci(gfWinnerChar);\n    const li = ci(gfLoserChar);\n    const winnerFromLosers = entrantMap[String(gfWinnerEntrantId)]?.sentToLosersBy !== null;\n    const loserFromLosers = entrantMap[String(gfLoserEntrantId)]?.sentToLosersBy !== null;\n    const wLabel = winnerFromLosers ? ' (L)' : '';\n    const lLabel = loserFromLosers ? ' (L)' : '';\n    const makeGameRows = (games) => (games || []).map(g => {\n      const stage = g.stage || 'N/A';\n      const leftChar = g.leftChar || gfWinnerChar;\n      const rightChar = g.rightChar || gfLoserChar;\n      const leftStock = g.leftWon === true ? '**W**' : '---';\n      const rightStock = g.leftWon === false ? '**W**' : '---';\n      return `${leftStock}|${ci(leftChar) || '?'}|${stage}|${ci(rightChar) || '?'}|${rightStock}`;\n    }).join('\\n');\n    const makeTable = (score, games) => {\n      const safeGames = games || [];\n      const displayScore = score || (safeGames.length > 0 ? `${safeGames.length}-?` : '?-?');\n      const header = `${wi} ${gfWinnerTag}${wLabel} | |${displayScore}| | ${li} ${gfLoserTag}${lLabel}\\n---:|:--:|:--:|:--:|:---`;\n      const dataRows = safeGames.length === 0 ? `*No games recorded.* | | | | ` : makeGameRows(safeGames);\n      return `${header}\\n${dataRows}`;\n    };\n    if (hasReset) {\n      const gfPart = `**Grand Finals:**\\n\\n${makeTable(gfScore, gfGames)}`;\n      const resetPart = `\\n\\n**Bracket Reset:**\\n\\n${makeTable(gfResetScore, gfResetGames)}`;\n      gfSection = `\\n\\n---\\n\\n#Grand Finals \\u2014 Bracket Reset\\n\\n**${gfWinnerTag}**${wLabel} defeats **${gfLoserTag}**${lLabel}\\n\\n${gfPart}${resetPart}`;\n    } else {\n      gfSection = `\\n\\n---\\n\\n#Grand Finals\\n\\n**${gfWinnerTag}**${wLabel}\\n\\n***vs***\\n\\n**${gfLoserTag}**${lLabel}\\n\\n${makeTable(gfScore, gfGames)}`;\n    }\n  }\n\n  const entrantCount = numEntrants || sorted.length;\n  const title = `Congratulations to the winner of ${tournamentName}!`;\n  const body = `#[Top 8 Bracket](${bracketUrl})\\n\\n---\\n\\nROA2 Singles \\u2014 ${entrantCount} entrants\\n\\n---\\n\\n|**Place**|**Player**|**Sent to Losers by**|**Eliminated by**|\\n:--|:--|:--|:--|\\n${rows.join('\\n')}${gfSection}`;\n\n  results.push({ json: { title, body, eventId, tournamentName } });\n}\nreturn results;"},"id":"main-0013","name":"Format Reddit Post","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,224]},{"parameters":{"workflowId":"7VqEi5YUTsdG94IK","options":{}},"id":"main-0020","name":"Run Approval Subworkflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1328,224]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Timestamps","type":"main","index":0}]]},"Get Timestamps":{"main":[[{"node":"Fetch ROA2 Tournaments","type":"main","index":0}]]},"Fetch ROA2 Tournaments":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Get Standings","type":"main","index":0}]]},"Get Standings":{"main":[[{"node":"Process Standings","type":"main","index":0}]]},"Process Standings":{"main":[[{"node":"Get Event Sets","type":"main","index":0}]]},"Get Event Sets":{"main":[[{"node":"Process Tournament Data","type":"main","index":0}]]},"Process Tournament Data":{"main":[[{"node":"Get GF Game Data","type":"main","index":0}]]},"Get GF Game Data":{"main":[[{"node":"Process GF Games","type":"main","index":0}]]},"Process GF Games":{"main":[[{"node":"Format Reddit Post","type":"main","index":0}]]},"Format Reddit Post":{"main":[[{"node":"Run Approval Subworkflow","type":"main","index":0}]]}},"authors":"Trent Nolen","name":"Version d9b247bf","description":"","autosaved":false},"tags":[]}