workflows/Daily Entrants copy.json
{"updatedAt":"2026-03-11T02:34:39.768Z","createdAt":"2026-02-06T21:50:23.815Z","id":"n7uv54FsKN6pUjFy","name":"Daily Entrants copy","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"formatDate","date":"={{ $json.newDate }}","format":"X","outputFieldName":"currentDateUnix","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4320,800],"id":"db8cb71c-af37-432e-847d-839b27f5f315","name":"Format Today as Unix"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4864,880],"id":"6003fe80-3e68-45fd-907d-a8ef6112f4f8","name":"Get Current DateTime"},{"parameters":{"operation":"subtractFromDate","magnitude":"={{ $json.roundedDate }}","duration":1,"outputFieldName":"dayAgo","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4480,960],"id":"f5a2f003-172f-4111-b4d6-c6e8df081ffa","name":"Subtract 1 Day"},{"parameters":{"operation":"formatDate","date":"={{ $json.dayAgo }}","format":"X","outputFieldName":"dayAgoUnix","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4320,960],"id":"7c0a135b-a7b0-4107-aac5-610a75e6239d","name":"Format Yesterday as Unix"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-4144,880],"id":"d1c55fbf-cf36-452d-9357-4ab0930a4e24","name":"Merge Date Range"},{"parameters":{"fieldToSplitOut":"data.data.tournaments.nodes","include":"selectedOtherFields","fieldsToInclude":"={{ $json.data.data.tournaments.nodes[0].name }} {{ $json.data.data.tournaments.nodes[0].events }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3824,880],"id":"ca6c73e5-e4f3-4a25-b1a5-535953356496","name":"Split Tournament Nodes"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b84a0c12-449a-4756-aeeb-017a0f934e38","leftValue":"={{ $json['data.data.tournaments.nodes'].events[0].numEntrants }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3136,768],"id":"1e7a01f4-c808-4edf-aa63-4082f019cace","name":"Filter Rivals2 Events"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"['data.data.tournaments.nodes'].events[0].numEntrants"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-2720,640],"id":"a2512b3c-96ae-4be3-ad0d-17cafcd025be","name":"Sum Total Entrants"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2480,912],"id":"de994fc0-cc41-47c8-a589-87bace5a0c3d","name":"Limit to Top 5"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[160,0],"id":"b72b2c47-6dbd-4feb-971a-cad496145666","name":"Aggregate Tournament Data"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[0,0],"id":"92f753dd-cfe5-4b3d-9851-daeadbcc9a6a","name":"Merge Stats + Events"},{"parameters":{"rule":{"interval":[{"triggerAtHour":17,"triggerAtMinute":21}]}},"id":"093896a3-c87c-4f5f-a2a5-47972696c503","name":"Run Daily @ 4:21pm","type":"n8n-nodes-base.scheduleTrigger","position":[-5024,880],"typeVersion":1.2},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query Tournaments($gameId: [ID]!, $startDate: Timestamp!, $endDate: Timestamp!, $eventType: [Int]!) { tournaments(query: { perPage: 500, filter: { videogameIds: $gameId, afterDate: $startDate, beforeDate: $endDate } }) { nodes { name addrState countryCode endAt events(filter: { videogameId: $gameId, type: $eventType })  { id tournament { name } name slug numEntrants } } } }","variables":"={ \"gameId\": [53945], \"startDate\": {{ $json.dayAgoUnix - 518400 }}, \"endDate\": {{ $json.currentDateUnix }}, \"eventType\": [1]  }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-3968,880],"id":"36e367af-3a92-4f31-b772-1b6c8d0d5336","name":"Query Tournaments","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query Event($eventId: ID!) { event(id: $eventId) { id phases { id } phaseGroups { id phase { phaseOrder id name } } tournament { name } } }","variables":"={ \"eventId\": {{ $json['[\\'data.data.tournaments.nodes\\'].events'].id }}}","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-2320,912],"id":"2adadc7e-c393-4834-9afa-ce22be39d0e0","name":"Query Event Phases","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"fieldToSplitOut":"data.data.event.phaseGroups","include":"selectedOtherFields","fieldsToInclude":"data.data.event.tournament.name, data.data.event.id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2160,912],"id":"4718c881-9a2a-46bb-ad0e-03e1b9067323","name":"Split Phase Groups"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"=['data.data.event.phaseGroups'].phase.phaseOrder","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1984,912],"id":"db5ce27b-93e5-4309-8708-422ec7b7aeb6","name":"Sort Phases"},{"parameters":{"fieldToSplitOut":"data.data.phase.sets.nodes[0].games","include":"selectedOtherFields","fieldsToInclude":"data.data.phase.sets.nodes[0].displayScore, data.data.phase.sets.nodes[0].games[0].selections[0].character.name, data.data.phase.sets.nodes[0].games[0].selections[1].character.name, data.data.phase.sets.nodes[0].id, data.data.phase.sets.nodes[0].winnerId, data.data.phase.event.id, data.data.phase.event.tournament.name","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2256,1104],"id":"46d64209-d03c-4d12-91ea-c093c27c3c3e","name":"Split GF Games"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"['data.data.phase.sets.nodes[0].games'].orderNum","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2128,1104],"id":"a72560b0-993a-4cc3-97bf-72a29799d021","name":"Sort Games"},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query PhaseInfo($phaseId: ID!) { phase(id: $phaseId) { id name phaseOrder phaseGroups { nodes { id bracketType } } sets { nodes { id displayScore identifier round completedAt games { orderNum } winnerId } } event { id tournament { name } } } }","variables":"={ \"phaseId\": {{ $json['data.data.event.phaseGroups'].phase.id }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-2560,1104],"id":"f9f0bbe1-42bf-4bbf-96de-54d6499c0a65","name":"Query GF Sets","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query GetEntrant($entrantId: ID!) { entrant(id: $entrantId) { id name } }","variables":"={{ $json[\"data.data.phase.sets.nodes[0].winnerId\"] !== null ? JSON.stringify({ \"entrantId\": $json[\"data.data.phase.sets.nodes[0].winnerId\"] }) : \"{}\" }}\n","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-1584,1200],"id":"00f8dc4f-ff6e-4058-929e-00f529caeed6","name":"Query Entrant by ID","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"08f7949b-ccdd-4ce2-90be-247b219e0644","name":"['data.data.phase.sets.nodes[0].winnerId']","value":"={{ $json.data.data.entrant.id }}","type":"number"},{"id":"77c4edc8-74bf-455d-a44c-dd2bc177f0c3","name":"winnerName","value":"={{ $json.data.data.entrant.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1408,1200],"id":"d6830a48-cefa-4f81-a26b-bbd5f7963054","name":"Map Entrant to Winner"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a76826e-fe59-4295-950f-d2a947a7d07f","leftValue":"={{ $json['data.data.phase.sets.nodes[0].winnerId'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1776,1200],"id":"7ba17b61-422f-4c81-bbd0-7e58398c9b20","name":"Filter Phase Match"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['[\\'data.data.tournaments.nodes\\'].events'].id","field2":"data.data.phase.event.id"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1600,624],"id":"419238c8-14bd-4636-98fa-415a059c2afd","name":"Join Events + Phase Data"},{"parameters":{"mode":"combine","fieldsToMatchString":"['data.data.phase.sets.nodes[0].winnerId']","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-608,288],"id":"a2b53eaf-cc90-4738-9a49-de0c0288d6e7","name":"Join Events + Winners"},{"parameters":{"mode":"combine","fieldsToMatchString":"['data.data.phase.sets.nodes[0].winnerId']","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-736,544],"id":"b7bb9a52-17dd-4fe9-8b89-6cb8896c7efc","name":"Merge Winner Sources"},{"parameters":{"jsCode":"// Get input data\nconst items = $input.all();\n\n// Initialize storage for unique set IDs\nconst seenSetIds = new Set();\nconst result = [];\n\n// Iterate through sorted data\nfor (const item of items) {\n    const setId = item.json[\"data.data.phase.sets.nodes[0].id\"];\n    \n    if (!seenSetIds.has(setId)) {\n        seenSetIds.add(setId);\n        result.push(item);\n    }\n}\n\n// Return filtered results\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1984,1104],"id":"22e6d0bd-8642-48f8-abfa-2b39ccee488c","name":"Code Top5 Events"},{"parameters":{"jsCode":"// Define max tournament name length\nconst maxLength = 40;\n\nconst hashtagKeywords = {\n    \"Rivals2\": \"#Rivals2\",\n    \"Rivals of Aether\": \"#RivalsOfAether\",\n    \"Melee\": \"#Melee\",\n    \"Rivals\": \"#Rivals\",\n    \"Smash\": \"#Smash\",\n    \"Ultimate\": \"#Ultimate\",\n    \"Aether\": \"#Aether\"\n};\n\nconst addHashtags = (name) => {\n    let updatedName = name;\n    Object.keys(hashtagKeywords).forEach((word) => {\n        const regex = new RegExp(`\\\\b${word}\\\\b`, \"gi\");\n        updatedName = updatedName.replace(regex, hashtagKeywords[word]);\n    });\n    return updatedName;\n};\n\n// Truncate base name only, then re-attach location so it's never dropped.\nconst truncateName = (baseName, location) => {\n    const locationSuffix = location ? ` (${location})` : '';\n    const maxBase = maxLength - locationSuffix.length;\n\n    let truncated = addHashtags(baseName);\n    if (truncated.length <= maxBase) return truncated + locationSuffix;\n\n    const splitCharacters = [\"-\", \"@\", \"#\", \":\", \"|\"];\n    let segments = [truncated];\n    splitCharacters.forEach((char) => {\n        if (truncated.includes(char)) {\n            segments = truncated.split(char).map(s => s.trim());\n        }\n    });\n\n    let cleanedName = segments[0];\n    for (let i = 1; i < segments.length; i++) {\n        const segment = segments[i];\n        if (Object.keys(hashtagKeywords).some(key => segment.includes(key))) {\n            cleanedName += `, ${segment}`;\n        }\n    }\n\n    if (cleanedName.length > maxBase) {\n        cleanedName = cleanedName.substring(0, maxBase).trim();\n        if (cleanedName.includes(\" \")) {\n            cleanedName = cleanedName.substring(0, cleanedName.lastIndexOf(\" \"));\n        }\n        cleanedName += \"...\";\n    }\n\n    return cleanedName + locationSuffix;\n};\n\nconst characterIcons = {\n    \"Forsburn\": \"☠️\",\n    \"Loxodont\": \"🐘\",\n    \"Clairen\": \"🤺\",\n    \"Zetterburn\": \"🦁\",\n    \"Wrastor\": \"🦅\",\n    \"Fleet\": \"🦊\",\n    \"Maypul\": \"🌱\",\n    \"Kragg\": \"🪲\",\n    \"Ranno\": \"🐸\",\n    \"Orcane\": \"🐋\",\n    \"Etalus\": \"🐻\",\n    \"Olympia\": \"💎\",\n    \"La Reina\": \"🪑\",\n    \"Absa\": \"⚡\",\n    \"Galvan\": \"🧲\",\n    \"Slade\": \"🦈\"\n};\n\nconst totalEntrants = $input.first().json.data[0][\"sum_'data_data_tournaments_nodes'_events0_numEntrants\"] || 0;\n\nconst tournamentData = Array.from({ length: 5 }, (_, i) => {\n    const tournamentNode = $input.first()?.json?.data?.[i]?.[\"data.data.tournaments.nodes\"] || {};\n    const eventNode = $input.first()?.json?.data?.[i]?.[\"data.data.set.event\"] || {};\n    const winnerName = $input.first()?.json?.data?.[i]?.winnerName || \"\";\n\n    const baseName = eventNode.tournament?.name || tournamentNode.name || \"N/A\";\n\n    const location = tournamentNode.countryCode && tournamentNode.countryCode !== \"US\"\n        ? tournamentNode.countryCode\n        : tournamentNode.addrState || \"\";\n\n    const entrants = $input.first()?.json?.data?.[i]?.[\"['data.data.tournaments.nodes'].events\"]?.numEntrants || 0;\n\n    const eventsNode = $input.first()?.json?.data?.[i]?.[\"['data.data.tournaments.nodes'].events\"] || {};\n    const eventSlug = eventsNode.slug || tournamentNode.events?.[0]?.slug || null;\n\n    let charCounts = {};\n    let gameIndex = 0;\n    while (true) {\n        const sel = $input.first()?.json?.data?.[i]?.[\"data.data.set.games[\" + gameIndex + \"].selections\"];\n        if (!sel) break;\n        const entrantName = sel?.entrant?.name || \"\";\n        if (entrantName === winnerName || entrantName.includes(winnerName.split(\" \").pop())) {\n            const c = sel?.character?.name;\n            if (c) charCounts[c] = (charCounts[c] || 0) + 1;\n        }\n        gameIndex++;\n    }\n    const characterName = Object.entries(charCounts).sort((a, b) => b[1] - a[1])[0]?.[0] || \"\";\n    const icon = characterIcons[characterName] || \"W:\";\n\n    return {\n        originalName: location ? `${baseName} (${location})` : baseName,\n        truncatedName: truncateName(baseName, location),\n        entrants,\n        winner: winnerName ? `   ${icon} ${winnerName}` : \"\",\n        eventSlug\n    };\n});\n\nwhile (tournamentData.length < 5) {\n    tournamentData.push({ originalName: \"N/A\", truncatedName: \"N/A\", entrants: 0, winner: \"\", eventSlug: null });\n}\n\n// Full result (all 5 tournaments) for character count reference\nconst inputString = \"Yesterday in #Rivals2!\";\nlet fullList = \"\\n\\n\";\ntournamentData.forEach(t => {\n    fullList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst finalString = `${inputString}${fullList}\\nEntrants yesterday: ${totalEntrants}`.trim();\n\n// Main post: first 3 tournaments (split 3/2)\nlet mainList = \"\\n\\n\";\ntournamentData.slice(0, 3).forEach(t => {\n    mainList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst mainPostText = `${inputString}${mainList}\\nEntrants yesterday: ${totalEntrants}`;\n\n// Reply: remaining tournaments\nlet replyList = \"\";\ntournamentData.slice(3).filter(t => t.truncatedName !== 'N/A').forEach(t => {\n    replyList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst replyText = replyList.trim();\n\nreturn [{ \n    result: finalString, \n    characterCount: finalString.length,\n    mainPostText,\n    replyText,\n    tournamentLinks: tournamentData\n        .filter(t => t.eventSlug && t.truncatedName !== 'N/A')\n        .map(t => ({\n            text: t.truncatedName,\n            url: `https://www.start.gg/${t.eventSlug}`\n        }))\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,0],"id":"7a6c54de-1666-47ed-9a50-91491cd59ca6","name":"Assemble Post"},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query SetInfo($setId: ID!) {\n    set(id: $setId) {\n        id\n        winnerId\n        games {\n            selections {\n                character {\n                    name\n                }\n                entrant {\n                    name\n                    id\n                }\n            }\n        }\n        displayScore\n        event {\n            tournament {\n                name\n            }\n            id\n        }\n    }\n}","variables":"={{ $json[\"data.data.phase.sets.nodes[0].id\"] !== null ? JSON.stringify({ \"setId\": $json[\"data.data.phase.sets.nodes[0].id\"] }) : \"{}\" }}","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-1584,1408],"id":"e0c3ad0b-f51d-4c7a-96b4-265f9cb80c6f","name":"Query Set Game Data","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['data.data.phase.sets.nodes[0].winnerId']","field2":"data.data.set.winnerId"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-928,1200],"id":"b7187ab3-b652-4f6f-857a-d41c9fee55c8","name":"Enrich GF with Game Data"},{"parameters":{"fieldToSplitOut":"data.data.set.games[0].selections, data.data.set.games[1].selections, data.data.set.games[2].selections, data.data.set.games[].selections, data.data.set.games[].selections, ","include":"selectedOtherFields","fieldsToInclude":"data.data.set.event.tournament.name, data.data.set.event.id, data.data.set.winnerId, data.data.set.winnerId","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1408,1408],"id":"7ab1b120-be1a-4603-b523-f6ad7d315ef0","name":"Split Game Selections"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9352ecff-ac16-48dd-a6ff-435f91bbd70b","leftValue":"={{ $json['data.data.set.games[0].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"17376203-2890-48f3-b6ec-8adc039f279e","leftValue":"={{ $json['data.data.set.games[1].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"1da72bbd-51af-4303-9bde-53ef65d6c4ad","leftValue":"={{ $json['data.data.set.games[2].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"cd2416a1-1864-4707-9060-5ed7d683a584","leftValue":"={{ $json['data.data.set.games[3].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"cc59f5cf-2e5c-4502-b2d0-1d691e2b1271","leftValue":"={{ $json['data.data.set.games[4].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1216,1408],"id":"4a3a9da7-d9a5-4fe5-92ec-b80c68672e7a","name":"Filter Winner Selections"},{"parameters":{"fieldToSplitOut":"['data.data.tournaments.nodes'].events","include":"selectedOtherFields","fieldsToInclude":"={{ $json['data.data.tournaments.nodes'].name }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3456,976],"id":"cd76a3b0-aa2c-4e7f-abf7-2542c69746d9","name":"Split Event Items"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['data.data.tournaments.nodes'].events[0].tournament.name","field2":"['[\\'data.data.tournaments.nodes\\'].events'].tournament.name"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-3344,768],"id":"264f48db-af45-44db-b9c0-936719772fee","name":"Merge Event Data"},{"parameters":{"assignments":{"assignments":[{"id":"8fadf185-090d-4dad-9b65-03bd4c2a9275","name":"sum_'data_data_tournaments_nodes'_events0_numEntrants","value":"={{ $json['sum_\\'data_data_tournaments_nodes\\'_events0_numEntrants'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2480,640],"id":"7bec7a9c-1191-44f9-98e0-68cf49ee4971","name":"Format Entrant Sum"},{"parameters":{"jsCode":"// Get all input items from the previous node in n8n\nconst items = $input.all();\n\n// Initialize a Set to track unique event IDs\nconst seenEventIds = new Set();\n\n// Initialize an array to store the filtered results\nconst result = [];\n\n// Iterate through all input items (assumed to be sorted beforehand)\nfor (const item of items) {\n    \n    // Extract the event ID (used for uniqueness filtering)\n    const eventId = item.json[\"data.data.event.id\"];\n\n    // If this event ID hasn't been seen before, add it to the result list\n    if (!seenEventIds.has(eventId)) {\n        seenEventIds.add(eventId); // Mark it as seen\n        result.push(item); // Store the first occurrence of this event ID\n    }\n\n    // Stop processing once we have collected 5 unique events\n    if (result.length === 5) {\n        break;  \n    }\n}\n\n// Return the filtered results containing at most 5 unique event IDs\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,1104],"id":"19faf56a-ffb1-4f3e-8a0c-401764b5f7cd","name":"Dedupe & Extract Phase IDs"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"['data.data.tournaments.nodes'].events[0].numEntrants","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2720,912],"id":"556e1a57-37ff-4a9a-ac30-a20cec7022b8","name":"Sort by Entrants"},{"parameters":{"content":"Need to adjust these. Not finding multiday events and only looking at last game for winning character. Grand finals reset does something weird too.","height":540,"width":2180},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2864,1040],"id":"a485a8e4-c83e-4142-8728-0b2cb3094785","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.server.createSession","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ $json.BlueskyHandle }}"},{"name":"password","value":"={{ $json.BlueskyAppPassword }}"}]},"options":{}},"id":"21e7d58b-5e84-4556-86eb-9f43f9e5c076","name":"Create Bluesky Session","type":"n8n-nodes-base.httpRequest","position":[1728,672],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"ec07f538-0164-40c5-a199-45e2a8a4604a","name":"BlueskyHandle","type":"string","value":"rivals2statbot.bsky.social"},{"id":"463e906c-c49b-41e0-9176-04bd2c175d0b","name":"BlueskyAppPassword","type":"string","value":"#m;:vBeyRiWE83K"}]},"options":{}},"id":"5949215a-a718-4532-805b-0f8aede057b4","name":"Set Bluesky Credentials","type":"n8n-nodes-base.set","position":[1504,672],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Bluesky Session').item.json.accessJwt}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Create Post Text').item.json.toJsonString() }}","options":{}},"id":"fa2543dd-bf40-41f2-8c55-62c89b183b55","name":"Create Initial Post","type":"n8n-nodes-base.httpRequest","position":[1728,912],"typeVersion":4.2},{"parameters":{"jsCode":"// Build facets for rich text (AT Protocol)\n// Link facets take priority; hashtag facets skip positions that overlap a link span\nfunction buildFacets(text, links) {\n  const facets = [];\n\n  // 1. Link facets for tournament names\n  for (const { text: linkText, url } of links) {\n    let idx = text.indexOf(linkText);\n    let matchedText = linkText;\n    if (idx === -1) {\n      matchedText = linkText.replace(/#([a-zA-Z])/g, '$1');\n      idx = text.indexOf(matchedText);\n    }\n    if (idx === -1) continue;\n    const byteStart = Buffer.byteLength(text.substring(0, idx), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(matchedText, 'utf8');\n    facets.push({\n      index: { byteStart, byteEnd },\n      features: [{ $type: 'app.bsky.richtext.facet#link', uri: url }]\n    });\n  }\n\n  // 2. Hashtag facets — skip any that overlap a link facet\n  const regex = /#[a-zA-Z][a-zA-Z0-9_]*/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    const byteStart = Buffer.byteLength(text.substring(0, match.index), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(match[0], 'utf8');\n    const overlaps  = facets.some(f => byteStart < f.index.byteEnd && byteEnd > f.index.byteStart);\n    if (!overlaps) {\n      facets.push({\n        index: { byteStart, byteEnd },\n        features: [{ $type: 'app.bsky.richtext.facet#tag', tag: match[0].slice(1) }]\n      });\n    }\n  }\n\n  return facets;\n}\n\n// Read from Failsafe Truncation (handles per-post 300-char limit)\nconst assemblePost = $('Failsafe Truncation').first().json;\nconst tournamentLinks = assemblePost.tournamentLinks || [];\nconst postText = assemblePost.mainPostText;\n\nconst facets = buildFacets(postText, tournamentLinks);\n\nconst postData = {\n    repo: $('Set Bluesky Credentials').first().json.BlueskyHandle,\n    collection: \"app.bsky.feed.post\",\n    record: {\n        $type: \"app.bsky.feed.post\",\n        text: postText,\n        createdAt: $now,\n        ...(facets.length > 0 && { facets })\n    }\n};\n\nreturn postData;"},"id":"ebd9b5b2-661d-4f81-b1e0-15d3358b7aae","name":"Create Post Text","type":"n8n-nodes-base.code","position":[1504,912],"typeVersion":2},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Bluesky Session').item.json.accessJwt}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Create Reply Text1').item.json.toJsonString() }} ","options":{}},"id":"7449b0a5-ab76-4374-9769-6612bfcd1646","name":"Create Reply1","type":"n8n-nodes-base.httpRequest","position":[1728,1152],"typeVersion":4.2},{"parameters":{"jsCode":"// Build facets for rich text (AT Protocol)\nfunction buildFacets(text, links) {\n  const facets = [];\n\n  for (const { text: linkText, url } of links) {\n    let idx = text.indexOf(linkText);\n    let matchedText = linkText;\n    if (idx === -1) {\n      matchedText = linkText.replace(/#([a-zA-Z])/g, '$1');\n      idx = text.indexOf(matchedText);\n    }\n    if (idx === -1) continue;\n    const byteStart = Buffer.byteLength(text.substring(0, idx), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(matchedText, 'utf8');\n    facets.push({\n      index: { byteStart, byteEnd },\n      features: [{ $type: 'app.bsky.richtext.facet#link', uri: url }]\n    });\n  }\n\n  const regex = /#[a-zA-Z][a-zA-Z0-9_]*/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    const byteStart = Buffer.byteLength(text.substring(0, match.index), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(match[0], 'utf8');\n    const overlaps  = facets.some(f => byteStart < f.index.byteEnd && byteEnd > f.index.byteStart);\n    if (!overlaps) {\n      facets.push({\n        index: { byteStart, byteEnd },\n        features: [{ $type: 'app.bsky.richtext.facet#tag', tag: match[0].slice(1) }]\n      });\n    }\n  }\n\n  return facets;\n}\n\n// Read from Failsafe Truncation (handles per-post 300-char limit)\nconst assemblePost = $('Failsafe Truncation').first().json;\nconst tournamentLinks = assemblePost.tournamentLinks || [];\nconst replyText = assemblePost.replyText;\n\nconst facets = buildFacets(replyText, tournamentLinks);\n\nconst futureDate = new Date(Date.now() + 1000);\n\nconst replyPostData = {\n    repo: $('Set Bluesky Credentials').first().json.BlueskyHandle,\n    collection: \"app.bsky.feed.post\",\n    record: {\n        \"$type\": \"app.bsky.feed.post\",\n        text: replyText,\n        reply: {\n            root: {\n                cid: $('Create Initial Post').first().json.cid,\n                uri: $('Create Initial Post').first().json.uri\n            },\n            parent: {\n                cid: $('Create Initial Post').first().json.cid,\n                uri: $('Create Initial Post').first().json.uri\n            }\n        },\n        ...(facets.length > 0 && { facets }),\n        createdAt: futureDate.toISOString()\n    }\n};\n\nreturn replyPostData;"},"id":"b8627cb4-1ffb-44a5-88f3-b50d8eeac1d6","name":"Create Reply Text1","type":"n8n-nodes-base.code","position":[1504,1152],"typeVersion":2},{"parameters":{"operation":"roundDate","date":"={{ $json.currentDate }}","toNearest":"day","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4704,880],"id":"e8322ebf-4443-4c84-a91a-0603121b0e46","name":"Round to Day"},{"parameters":{"operation":"addToDate","magnitude":"={{ $json.roundedDate }}","timeUnit":"hours","duration":5,"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4480,800],"id":"4785443c-e8fc-448c-9e35-786a5d7418b6","name":"Add 5 Hours"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"aaf22222-0000-4000-a000-000000000002","leftValue":"={{ $json['data.data.tournaments.nodes'].endAt }}","rightValue":"={{ $('Format Yesterday as Unix').item.json.dayAgoUnix }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3664,880],"id":"aaf11111-0000-4000-a000-000000000001","name":"Filter by endAt"},{"parameters":{"jsCode":"// Grand Finals = highest positive round (winners side always positive in double-elim)\n// If multiple sets at that round (GF + reset), pick the latest completedAt\nreturn $input.all().map(item => {\n  const sets = item.json.data?.data?.phase?.sets?.nodes || [];\n  if (sets.length === 0) return item;\n\n  // Only look at positive rounds (winners/GF side)\n  const winnersSets = sets.filter(s => s.round > 0);\n  if (winnersSets.length === 0) return item;\n\n  // Highest positive round = Grand Finals round\n  const maxRound = Math.max(...winnersSets.map(s => s.round));\n\n  // Among GF-round sets, pick latest completedAt (handles bracket reset)\n  const gfSets = winnersSets.filter(s => s.round === maxRound);\n  const trueGF = gfSets.reduce((latest, s) =>\n    s.completedAt > latest.completedAt ? s : latest\n  );\n\n  const out = JSON.parse(JSON.stringify(item.json));\n  out.data.data.phase.sets.nodes = [trueGF];\n  return { json: out };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2400,1104],"id":"aaf33333-0000-4000-a000-000000000003","name":"Find True GF"},{"id":"aaf55555-0000-4000-a000-000000000005","name":"Failsafe Truncation","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0],"parameters":{"jsCode":"function stripSponsor(winnerLine) {\n  // Strips 'Sponsor | ' prefix: '   🦁 The Strong One | HamPolo' => '   🦁 HamPolo'\n  return winnerLine.replace(/^(   \\S+\\s).*\\|\\s*(.+)$/, '$1$2');\n}\n\nfunction truncateIfNeeded(text) {\n  if (text.length <= 300) return text;\n  return text.split('\\n').map(line =>\n    line.includes(' | ') ? stripSponsor(line) : line\n  ).join('\\n');\n}\n\nconst data = $input.first().json;\nreturn [{\n  ...data,\n  mainPostText: truncateIfNeeded(data.mainPostText),\n  replyText:    truncateIfNeeded(data.replyText)\n}];"}}],"connections":{"Format Today as Unix":{"main":[[{"node":"Merge Date Range","type":"main","index":0}]]},"Get Current DateTime":{"main":[[{"node":"Round to Day","type":"main","index":0}]]},"Subtract 1 Day":{"main":[[{"node":"Format Yesterday as Unix","type":"main","index":0}]]},"Format Yesterday as Unix":{"main":[[{"node":"Merge Date Range","type":"main","index":1}]]},"Merge Date Range":{"main":[[{"node":"Query Tournaments","type":"main","index":0}]]},"Split Tournament Nodes":{"main":[[{"node":"Filter by endAt","type":"main","index":0}]]},"Filter Rivals2 Events":{"main":[[{"node":"Sum Total Entrants","type":"main","index":0},{"node":"Sort by Entrants","type":"main","index":0}]]},"Sum Total Entrants":{"main":[[{"node":"Format Entrant Sum","type":"main","index":0}]]},"Limit to Top 5":{"main":[[{"node":"Query Event Phases","type":"main","index":0},{"node":"Join Events + Phase Data","type":"main","index":0}]]},"Aggregate Tournament Data":{"main":[[{"node":"Assemble Post","type":"main","index":0}]]},"Merge Stats + Events":{"main":[[{"node":"Aggregate Tournament Data","type":"main","index":0}]]},"Run Daily @ 4:21pm":{"main":[[{"node":"Get Current DateTime","type":"main","index":0}]]},"Query Tournaments":{"main":[[{"node":"Split Tournament Nodes","type":"main","index":0}]]},"Query Event Phases":{"main":[[{"node":"Split Phase Groups","type":"main","index":0}]]},"Split Phase Groups":{"main":[[{"node":"Sort Phases","type":"main","index":0}]]},"Sort Phases":{"main":[[{"node":"Dedupe & Extract Phase IDs","type":"main","index":0}]]},"Split GF Games":{"main":[[{"node":"Sort Games","type":"main","index":0}]]},"Sort Games":{"main":[[{"node":"Code Top5 Events","type":"main","index":0}]]},"Query GF Sets":{"main":[[{"node":"Find True GF","type":"main","index":0}]]},"Query Entrant by ID":{"main":[[{"node":"Map Entrant to Winner","type":"main","index":0}]]},"Map Entrant to Winner":{"main":[[{"node":"Enrich GF with Game Data","type":"main","index":0}]]},"Filter Phase Match":{"main":[[{"node":"Query Entrant by ID","type":"main","index":0},{"node":"Query Set Game Data","type":"main","index":0}]]},"Join Events + Phase Data":{"main":[[{"node":"Join Events + Winners","type":"main","index":0}]]},"Join Events + Winners":{"main":[[{"node":"Merge Stats + Events","type":"main","index":1}]]},"Merge Winner Sources":{"main":[[{"node":"Join Events + Winners","type":"main","index":1}]]},"Code Top5 Events":{"main":[[{"node":"Filter Phase Match","type":"main","index":0},{"node":"Join Events + Phase Data","type":"main","index":1},{"node":"Merge Winner Sources","type":"main","index":0}]]},"Query Set Game Data":{"main":[[{"node":"Split Game Selections","type":"main","index":0}]]},"Enrich GF with Game Data":{"main":[[{"node":"Merge Winner Sources","type":"main","index":1}]]},"Split Game Selections":{"main":[[{"node":"Filter Winner Selections","type":"main","index":0}]]},"Filter Winner Selections":{"main":[[{"node":"Enrich GF with Game Data","type":"main","index":1}]]},"Split Event Items":{"main":[[{"node":"Merge Event Data","type":"main","index":1}]]},"Merge Event Data":{"main":[[{"node":"Filter Rivals2 Events","type":"main","index":0}]]},"Format Entrant Sum":{"main":[[{"node":"Merge Stats + Events","type":"main","index":0}]]},"Dedupe & Extract Phase IDs":{"main":[[{"node":"Query GF Sets","type":"main","index":0}]]},"Sort by Entrants":{"main":[[{"node":"Limit to Top 5","type":"main","index":0}]]},"Create Bluesky Session":{"main":[[{"node":"Create Post Text","type":"main","index":0}]]},"Set Bluesky Credentials":{"main":[[{"node":"Create Bluesky Session","type":"main","index":0}]]},"Create Initial Post":{"main":[[{"node":"Create Reply Text1","type":"main","index":0}]]},"Create Post Text":{"main":[[{"node":"Create Initial Post","type":"main","index":0}]]},"Create Reply Text1":{"main":[[{"node":"Create Reply1","type":"main","index":0}]]},"Round to Day":{"main":[[{"node":"Subtract 1 Day","type":"main","index":0},{"node":"Add 5 Hours","type":"main","index":0}]]},"Add 5 Hours":{"main":[[{"node":"Format Today as Unix","type":"main","index":0}]]},"Filter by endAt":{"main":[[{"node":"Split Event Items","type":"main","index":0},{"node":"Merge Event Data","type":"main","index":0}]]},"Find True GF":{"main":[[{"node":"Split GF Games","type":"main","index":0}]]},"Assemble Post":{"main":[[{"node":"Failsafe Truncation","type":"main","index":0}]]},"Failsafe Truncation":{"main":[[{"node":"Set Bluesky Credentials","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Run Daily @ 4:21pm":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4dd48d8-0128-4acf-a9cb-1c212120b734","activeVersionId":"b4dd48d8-0128-4acf-a9cb-1c212120b734","triggerCount":1,"shared":[{"updatedAt":"2026-02-06T21:50:23.828Z","createdAt":"2026-02-06T21:50:23.828Z","role":"workflow:owner","workflowId":"n7uv54FsKN6pUjFy","projectId":"u9kYCfFU7pgjjx9U"}],"activeVersion":{"updatedAt":"2026-03-11T03:27:20.000Z","createdAt":"2026-03-11T02:34:39.770Z","versionId":"b4dd48d8-0128-4acf-a9cb-1c212120b734","workflowId":"n7uv54FsKN6pUjFy","nodes":[{"parameters":{"operation":"formatDate","date":"={{ $json.newDate }}","format":"X","outputFieldName":"currentDateUnix","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4320,800],"id":"db8cb71c-af37-432e-847d-839b27f5f315","name":"Format Today as Unix"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4864,880],"id":"6003fe80-3e68-45fd-907d-a8ef6112f4f8","name":"Get Current DateTime"},{"parameters":{"operation":"subtractFromDate","magnitude":"={{ $json.roundedDate }}","duration":1,"outputFieldName":"dayAgo","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4480,960],"id":"f5a2f003-172f-4111-b4d6-c6e8df081ffa","name":"Subtract 1 Day"},{"parameters":{"operation":"formatDate","date":"={{ $json.dayAgo }}","format":"X","outputFieldName":"dayAgoUnix","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4320,960],"id":"7c0a135b-a7b0-4107-aac5-610a75e6239d","name":"Format Yesterday as Unix"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-4144,880],"id":"d1c55fbf-cf36-452d-9357-4ab0930a4e24","name":"Merge Date Range"},{"parameters":{"fieldToSplitOut":"data.data.tournaments.nodes","include":"selectedOtherFields","fieldsToInclude":"={{ $json.data.data.tournaments.nodes[0].name }} {{ $json.data.data.tournaments.nodes[0].events }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3824,880],"id":"ca6c73e5-e4f3-4a25-b1a5-535953356496","name":"Split Tournament Nodes"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b84a0c12-449a-4756-aeeb-017a0f934e38","leftValue":"={{ $json['data.data.tournaments.nodes'].events[0].numEntrants }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3136,768],"id":"1e7a01f4-c808-4edf-aa63-4082f019cace","name":"Filter Rivals2 Events"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"['data.data.tournaments.nodes'].events[0].numEntrants"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-2720,640],"id":"a2512b3c-96ae-4be3-ad0d-17cafcd025be","name":"Sum Total Entrants"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2480,912],"id":"de994fc0-cc41-47c8-a589-87bace5a0c3d","name":"Limit to Top 5"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[160,0],"id":"b72b2c47-6dbd-4feb-971a-cad496145666","name":"Aggregate Tournament Data"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[0,0],"id":"92f753dd-cfe5-4b3d-9851-daeadbcc9a6a","name":"Merge Stats + Events"},{"parameters":{"rule":{"interval":[{"triggerAtHour":17,"triggerAtMinute":21}]}},"id":"093896a3-c87c-4f5f-a2a5-47972696c503","name":"Run Daily @ 4:21pm","type":"n8n-nodes-base.scheduleTrigger","position":[-5024,880],"typeVersion":1.2},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query Tournaments($gameId: [ID]!, $startDate: Timestamp!, $endDate: Timestamp!, $eventType: [Int]!) { tournaments(query: { perPage: 500, filter: { videogameIds: $gameId, afterDate: $startDate, beforeDate: $endDate } }) { nodes { name addrState countryCode endAt events(filter: { videogameId: $gameId, type: $eventType })  { id tournament { name } name slug numEntrants } } } }","variables":"={ \"gameId\": [53945], \"startDate\": {{ $json.dayAgoUnix - 518400 }}, \"endDate\": {{ $json.currentDateUnix }}, \"eventType\": [1]  }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-3968,880],"id":"36e367af-3a92-4f31-b772-1b6c8d0d5336","name":"Query Tournaments","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query Event($eventId: ID!) { event(id: $eventId) { id phases { id } phaseGroups { id phase { phaseOrder id name } } tournament { name } } }","variables":"={ \"eventId\": {{ $json['[\\'data.data.tournaments.nodes\\'].events'].id }}}","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-2320,912],"id":"2adadc7e-c393-4834-9afa-ce22be39d0e0","name":"Query Event Phases","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"fieldToSplitOut":"data.data.event.phaseGroups","include":"selectedOtherFields","fieldsToInclude":"data.data.event.tournament.name, data.data.event.id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2160,912],"id":"4718c881-9a2a-46bb-ad0e-03e1b9067323","name":"Split Phase Groups"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"=['data.data.event.phaseGroups'].phase.phaseOrder","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1984,912],"id":"db5ce27b-93e5-4309-8708-422ec7b7aeb6","name":"Sort Phases"},{"parameters":{"fieldToSplitOut":"data.data.phase.sets.nodes[0].games","include":"selectedOtherFields","fieldsToInclude":"data.data.phase.sets.nodes[0].displayScore, data.data.phase.sets.nodes[0].games[0].selections[0].character.name, data.data.phase.sets.nodes[0].games[0].selections[1].character.name, data.data.phase.sets.nodes[0].id, data.data.phase.sets.nodes[0].winnerId, data.data.phase.event.id, data.data.phase.event.tournament.name","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2256,1104],"id":"46d64209-d03c-4d12-91ea-c093c27c3c3e","name":"Split GF Games"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"['data.data.phase.sets.nodes[0].games'].orderNum","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2128,1104],"id":"a72560b0-993a-4cc3-97bf-72a29799d021","name":"Sort Games"},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query PhaseInfo($phaseId: ID!) { phase(id: $phaseId) { id name phaseOrder phaseGroups { nodes { id bracketType } } sets { nodes { id displayScore identifier round completedAt games { orderNum } winnerId } } event { id tournament { name } } } }","variables":"={ \"phaseId\": {{ $json['data.data.event.phaseGroups'].phase.id }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-2560,1104],"id":"f9f0bbe1-42bf-4bbf-96de-54d6499c0a65","name":"Query GF Sets","credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query GetEntrant($entrantId: ID!) { entrant(id: $entrantId) { id name } }","variables":"={{ $json[\"data.data.phase.sets.nodes[0].winnerId\"] !== null ? JSON.stringify({ \"entrantId\": $json[\"data.data.phase.sets.nodes[0].winnerId\"] }) : \"{}\" }}\n","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-1584,1200],"id":"00f8dc4f-ff6e-4058-929e-00f529caeed6","name":"Query Entrant by ID","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"08f7949b-ccdd-4ce2-90be-247b219e0644","name":"['data.data.phase.sets.nodes[0].winnerId']","value":"={{ $json.data.data.entrant.id }}","type":"number"},{"id":"77c4edc8-74bf-455d-a44c-dd2bc177f0c3","name":"winnerName","value":"={{ $json.data.data.entrant.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1408,1200],"id":"d6830a48-cefa-4f81-a26b-bbd5f7963054","name":"Map Entrant to Winner"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a76826e-fe59-4295-950f-d2a947a7d07f","leftValue":"={{ $json['data.data.phase.sets.nodes[0].winnerId'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1776,1200],"id":"7ba17b61-422f-4c81-bbd0-7e58398c9b20","name":"Filter Phase Match"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['[\\'data.data.tournaments.nodes\\'].events'].id","field2":"data.data.phase.event.id"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1600,624],"id":"419238c8-14bd-4636-98fa-415a059c2afd","name":"Join Events + Phase Data"},{"parameters":{"mode":"combine","fieldsToMatchString":"['data.data.phase.sets.nodes[0].winnerId']","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-608,288],"id":"a2b53eaf-cc90-4738-9a49-de0c0288d6e7","name":"Join Events + Winners"},{"parameters":{"mode":"combine","fieldsToMatchString":"['data.data.phase.sets.nodes[0].winnerId']","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-736,544],"id":"b7bb9a52-17dd-4fe9-8b89-6cb8896c7efc","name":"Merge Winner Sources"},{"parameters":{"jsCode":"// Get input data\nconst items = $input.all();\n\n// Initialize storage for unique set IDs\nconst seenSetIds = new Set();\nconst result = [];\n\n// Iterate through sorted data\nfor (const item of items) {\n    const setId = item.json[\"data.data.phase.sets.nodes[0].id\"];\n    \n    if (!seenSetIds.has(setId)) {\n        seenSetIds.add(setId);\n        result.push(item);\n    }\n}\n\n// Return filtered results\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1984,1104],"id":"22e6d0bd-8642-48f8-abfa-2b39ccee488c","name":"Code Top5 Events"},{"parameters":{"jsCode":"// Define max tournament name length\nconst maxLength = 40;\n\nconst hashtagKeywords = {\n    \"Rivals2\": \"#Rivals2\",\n    \"Rivals of Aether\": \"#RivalsOfAether\",\n    \"Melee\": \"#Melee\",\n    \"Rivals\": \"#Rivals\",\n    \"Smash\": \"#Smash\",\n    \"Ultimate\": \"#Ultimate\",\n    \"Aether\": \"#Aether\"\n};\n\nconst addHashtags = (name) => {\n    let updatedName = name;\n    Object.keys(hashtagKeywords).forEach((word) => {\n        const regex = new RegExp(`\\\\b${word}\\\\b`, \"gi\");\n        updatedName = updatedName.replace(regex, hashtagKeywords[word]);\n    });\n    return updatedName;\n};\n\n// Truncate base name only, then re-attach location so it's never dropped.\nconst truncateName = (baseName, location) => {\n    const locationSuffix = location ? ` (${location})` : '';\n    const maxBase = maxLength - locationSuffix.length;\n\n    let truncated = addHashtags(baseName);\n    if (truncated.length <= maxBase) return truncated + locationSuffix;\n\n    const splitCharacters = [\"-\", \"@\", \"#\", \":\", \"|\"];\n    let segments = [truncated];\n    splitCharacters.forEach((char) => {\n        if (truncated.includes(char)) {\n            segments = truncated.split(char).map(s => s.trim());\n        }\n    });\n\n    let cleanedName = segments[0];\n    for (let i = 1; i < segments.length; i++) {\n        const segment = segments[i];\n        if (Object.keys(hashtagKeywords).some(key => segment.includes(key))) {\n            cleanedName += `, ${segment}`;\n        }\n    }\n\n    if (cleanedName.length > maxBase) {\n        cleanedName = cleanedName.substring(0, maxBase).trim();\n        if (cleanedName.includes(\" \")) {\n            cleanedName = cleanedName.substring(0, cleanedName.lastIndexOf(\" \"));\n        }\n        cleanedName += \"...\";\n    }\n\n    return cleanedName + locationSuffix;\n};\n\nconst characterIcons = {\n    \"Forsburn\": \"☠️\",\n    \"Loxodont\": \"🐘\",\n    \"Clairen\": \"🤺\",\n    \"Zetterburn\": \"🦁\",\n    \"Wrastor\": \"🦅\",\n    \"Fleet\": \"🦊\",\n    \"Maypul\": \"🌱\",\n    \"Kragg\": \"🪲\",\n    \"Ranno\": \"🐸\",\n    \"Orcane\": \"🐋\",\n    \"Etalus\": \"🐻\",\n    \"Olympia\": \"💎\",\n    \"La Reina\": \"🪑\",\n    \"Absa\": \"⚡\",\n    \"Galvan\": \"🧲\",\n    \"Slade\": \"🦈\"\n};\n\nconst totalEntrants = $input.first().json.data[0][\"sum_'data_data_tournaments_nodes'_events0_numEntrants\"] || 0;\n\nconst tournamentData = Array.from({ length: 5 }, (_, i) => {\n    const tournamentNode = $input.first()?.json?.data?.[i]?.[\"data.data.tournaments.nodes\"] || {};\n    const eventNode = $input.first()?.json?.data?.[i]?.[\"data.data.set.event\"] || {};\n    const winnerName = $input.first()?.json?.data?.[i]?.winnerName || \"\";\n\n    const baseName = eventNode.tournament?.name || tournamentNode.name || \"N/A\";\n\n    const location = tournamentNode.countryCode && tournamentNode.countryCode !== \"US\"\n        ? tournamentNode.countryCode\n        : tournamentNode.addrState || \"\";\n\n    const entrants = $input.first()?.json?.data?.[i]?.[\"['data.data.tournaments.nodes'].events\"]?.numEntrants || 0;\n\n    const eventsNode = $input.first()?.json?.data?.[i]?.[\"['data.data.tournaments.nodes'].events\"] || {};\n    const eventSlug = eventsNode.slug || tournamentNode.events?.[0]?.slug || null;\n\n    let charCounts = {};\n    let gameIndex = 0;\n    while (true) {\n        const sel = $input.first()?.json?.data?.[i]?.[\"data.data.set.games[\" + gameIndex + \"].selections\"];\n        if (!sel) break;\n        const entrantName = sel?.entrant?.name || \"\";\n        if (entrantName === winnerName || entrantName.includes(winnerName.split(\" \").pop())) {\n            const c = sel?.character?.name;\n            if (c) charCounts[c] = (charCounts[c] || 0) + 1;\n        }\n        gameIndex++;\n    }\n    const characterName = Object.entries(charCounts).sort((a, b) => b[1] - a[1])[0]?.[0] || \"\";\n    const icon = characterIcons[characterName] || \"W:\";\n\n    return {\n        originalName: location ? `${baseName} (${location})` : baseName,\n        truncatedName: truncateName(baseName, location),\n        entrants,\n        winner: winnerName ? `   ${icon} ${winnerName}` : \"\",\n        eventSlug\n    };\n});\n\nwhile (tournamentData.length < 5) {\n    tournamentData.push({ originalName: \"N/A\", truncatedName: \"N/A\", entrants: 0, winner: \"\", eventSlug: null });\n}\n\n// Full result (all 5 tournaments) for character count reference\nconst inputString = \"Yesterday in #Rivals2!\";\nlet fullList = \"\\n\\n\";\ntournamentData.forEach(t => {\n    fullList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst finalString = `${inputString}${fullList}\\nEntrants yesterday: ${totalEntrants}`.trim();\n\n// Main post: first 3 tournaments (split 3/2)\nlet mainList = \"\\n\\n\";\ntournamentData.slice(0, 3).forEach(t => {\n    mainList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst mainPostText = `${inputString}${mainList}\\nEntrants yesterday: ${totalEntrants}`;\n\n// Reply: remaining tournaments\nlet replyList = \"\";\ntournamentData.slice(3).filter(t => t.truncatedName !== 'N/A').forEach(t => {\n    replyList += `${t.truncatedName} - ${t.entrants} entrants\\n${t.winner}\\n`;\n});\nconst replyText = replyList.trim();\n\nreturn [{ \n    result: finalString, \n    characterCount: finalString.length,\n    mainPostText,\n    replyText,\n    tournamentLinks: tournamentData\n        .filter(t => t.eventSlug && t.truncatedName !== 'N/A')\n        .map(t => ({\n            text: t.truncatedName,\n            url: `https://www.start.gg/${t.eventSlug}`\n        }))\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,0],"id":"7a6c54de-1666-47ed-9a50-91491cd59ca6","name":"Assemble Post"},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"=query SetInfo($setId: ID!) {\n    set(id: $setId) {\n        id\n        winnerId\n        games {\n            selections {\n                character {\n                    name\n                }\n                entrant {\n                    name\n                    id\n                }\n            }\n        }\n        displayScore\n        event {\n            tournament {\n                name\n            }\n            id\n        }\n    }\n}","variables":"={{ $json[\"data.data.phase.sets.nodes[0].id\"] !== null ? JSON.stringify({ \"setId\": $json[\"data.data.phase.sets.nodes[0].id\"] }) : \"{}\" }}","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[-1584,1408],"id":"e0c3ad0b-f51d-4c7a-96b4-265f9cb80c6f","name":"Query Set Game Data","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['data.data.phase.sets.nodes[0].winnerId']","field2":"data.data.set.winnerId"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-928,1200],"id":"b7187ab3-b652-4f6f-857a-d41c9fee55c8","name":"Enrich GF with Game Data"},{"parameters":{"fieldToSplitOut":"data.data.set.games[0].selections, data.data.set.games[1].selections, data.data.set.games[2].selections, data.data.set.games[].selections, data.data.set.games[].selections, ","include":"selectedOtherFields","fieldsToInclude":"data.data.set.event.tournament.name, data.data.set.event.id, data.data.set.winnerId, data.data.set.winnerId","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1408,1408],"id":"7ab1b120-be1a-4603-b523-f6ad7d315ef0","name":"Split Game Selections"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9352ecff-ac16-48dd-a6ff-435f91bbd70b","leftValue":"={{ $json['data.data.set.games[0].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"17376203-2890-48f3-b6ec-8adc039f279e","leftValue":"={{ $json['data.data.set.games[1].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"1da72bbd-51af-4303-9bde-53ef65d6c4ad","leftValue":"={{ $json['data.data.set.games[2].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"cd2416a1-1864-4707-9060-5ed7d683a584","leftValue":"={{ $json['data.data.set.games[3].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}},{"id":"cc59f5cf-2e5c-4502-b2d0-1d691e2b1271","leftValue":"={{ $json['data.data.set.games[4].selections'].entrant.id }}","rightValue":"={{ $json['data.data.set.winnerId'] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1216,1408],"id":"4a3a9da7-d9a5-4fe5-92ec-b80c68672e7a","name":"Filter Winner Selections"},{"parameters":{"fieldToSplitOut":"['data.data.tournaments.nodes'].events","include":"selectedOtherFields","fieldsToInclude":"={{ $json['data.data.tournaments.nodes'].name }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3456,976],"id":"cd76a3b0-aa2c-4e7f-abf7-2542c69746d9","name":"Split Event Items"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"['data.data.tournaments.nodes'].events[0].tournament.name","field2":"['[\\'data.data.tournaments.nodes\\'].events'].tournament.name"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-3344,768],"id":"264f48db-af45-44db-b9c0-936719772fee","name":"Merge Event Data"},{"parameters":{"assignments":{"assignments":[{"id":"8fadf185-090d-4dad-9b65-03bd4c2a9275","name":"sum_'data_data_tournaments_nodes'_events0_numEntrants","value":"={{ $json['sum_\\'data_data_tournaments_nodes\\'_events0_numEntrants'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2480,640],"id":"7bec7a9c-1191-44f9-98e0-68cf49ee4971","name":"Format Entrant Sum"},{"parameters":{"jsCode":"// Get all input items from the previous node in n8n\nconst items = $input.all();\n\n// Initialize a Set to track unique event IDs\nconst seenEventIds = new Set();\n\n// Initialize an array to store the filtered results\nconst result = [];\n\n// Iterate through all input items (assumed to be sorted beforehand)\nfor (const item of items) {\n    \n    // Extract the event ID (used for uniqueness filtering)\n    const eventId = item.json[\"data.data.event.id\"];\n\n    // If this event ID hasn't been seen before, add it to the result list\n    if (!seenEventIds.has(eventId)) {\n        seenEventIds.add(eventId); // Mark it as seen\n        result.push(item); // Store the first occurrence of this event ID\n    }\n\n    // Stop processing once we have collected 5 unique events\n    if (result.length === 5) {\n        break;  \n    }\n}\n\n// Return the filtered results containing at most 5 unique event IDs\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,1104],"id":"19faf56a-ffb1-4f3e-8a0c-401764b5f7cd","name":"Dedupe & Extract Phase IDs"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"['data.data.tournaments.nodes'].events[0].numEntrants","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2720,912],"id":"556e1a57-37ff-4a9a-ac30-a20cec7022b8","name":"Sort by Entrants"},{"parameters":{"content":"Need to adjust these. Not finding multiday events and only looking at last game for winning character. Grand finals reset does something weird too.","height":540,"width":2180},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2864,1040],"id":"a485a8e4-c83e-4142-8728-0b2cb3094785","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.server.createSession","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ $json.BlueskyHandle }}"},{"name":"password","value":"={{ $json.BlueskyAppPassword }}"}]},"options":{}},"id":"21e7d58b-5e84-4556-86eb-9f43f9e5c076","name":"Create Bluesky Session","type":"n8n-nodes-base.httpRequest","position":[1728,672],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"ec07f538-0164-40c5-a199-45e2a8a4604a","name":"BlueskyHandle","type":"string","value":"rivals2statbot.bsky.social"},{"id":"463e906c-c49b-41e0-9176-04bd2c175d0b","name":"BlueskyAppPassword","type":"string","value":"#m;:vBeyRiWE83K"}]},"options":{}},"id":"5949215a-a718-4532-805b-0f8aede057b4","name":"Set Bluesky Credentials","type":"n8n-nodes-base.set","position":[1504,672],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Bluesky Session').item.json.accessJwt}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Create Post Text').item.json.toJsonString() }}","options":{}},"id":"fa2543dd-bf40-41f2-8c55-62c89b183b55","name":"Create Initial Post","type":"n8n-nodes-base.httpRequest","position":[1728,912],"typeVersion":4.2},{"parameters":{"jsCode":"// Build facets for rich text (AT Protocol)\n// Link facets take priority; hashtag facets skip positions that overlap a link span\nfunction buildFacets(text, links) {\n  const facets = [];\n\n  // 1. Link facets for tournament names\n  for (const { text: linkText, url } of links) {\n    let idx = text.indexOf(linkText);\n    let matchedText = linkText;\n    if (idx === -1) {\n      matchedText = linkText.replace(/#([a-zA-Z])/g, '$1');\n      idx = text.indexOf(matchedText);\n    }\n    if (idx === -1) continue;\n    const byteStart = Buffer.byteLength(text.substring(0, idx), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(matchedText, 'utf8');\n    facets.push({\n      index: { byteStart, byteEnd },\n      features: [{ $type: 'app.bsky.richtext.facet#link', uri: url }]\n    });\n  }\n\n  // 2. Hashtag facets — skip any that overlap a link facet\n  const regex = /#[a-zA-Z][a-zA-Z0-9_]*/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    const byteStart = Buffer.byteLength(text.substring(0, match.index), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(match[0], 'utf8');\n    const overlaps  = facets.some(f => byteStart < f.index.byteEnd && byteEnd > f.index.byteStart);\n    if (!overlaps) {\n      facets.push({\n        index: { byteStart, byteEnd },\n        features: [{ $type: 'app.bsky.richtext.facet#tag', tag: match[0].slice(1) }]\n      });\n    }\n  }\n\n  return facets;\n}\n\n// Read from Failsafe Truncation (handles per-post 300-char limit)\nconst assemblePost = $('Failsafe Truncation').first().json;\nconst tournamentLinks = assemblePost.tournamentLinks || [];\nconst postText = assemblePost.mainPostText;\n\nconst facets = buildFacets(postText, tournamentLinks);\n\nconst postData = {\n    repo: $('Set Bluesky Credentials').first().json.BlueskyHandle,\n    collection: \"app.bsky.feed.post\",\n    record: {\n        $type: \"app.bsky.feed.post\",\n        text: postText,\n        createdAt: $now,\n        ...(facets.length > 0 && { facets })\n    }\n};\n\nreturn postData;"},"id":"ebd9b5b2-661d-4f81-b1e0-15d3358b7aae","name":"Create Post Text","type":"n8n-nodes-base.code","position":[1504,912],"typeVersion":2},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Bluesky Session').item.json.accessJwt}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Create Reply Text1').item.json.toJsonString() }} ","options":{}},"id":"7449b0a5-ab76-4374-9769-6612bfcd1646","name":"Create Reply1","type":"n8n-nodes-base.httpRequest","position":[1728,1152],"typeVersion":4.2},{"parameters":{"jsCode":"// Build facets for rich text (AT Protocol)\nfunction buildFacets(text, links) {\n  const facets = [];\n\n  for (const { text: linkText, url } of links) {\n    let idx = text.indexOf(linkText);\n    let matchedText = linkText;\n    if (idx === -1) {\n      matchedText = linkText.replace(/#([a-zA-Z])/g, '$1');\n      idx = text.indexOf(matchedText);\n    }\n    if (idx === -1) continue;\n    const byteStart = Buffer.byteLength(text.substring(0, idx), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(matchedText, 'utf8');\n    facets.push({\n      index: { byteStart, byteEnd },\n      features: [{ $type: 'app.bsky.richtext.facet#link', uri: url }]\n    });\n  }\n\n  const regex = /#[a-zA-Z][a-zA-Z0-9_]*/g;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    const byteStart = Buffer.byteLength(text.substring(0, match.index), 'utf8');\n    const byteEnd   = byteStart + Buffer.byteLength(match[0], 'utf8');\n    const overlaps  = facets.some(f => byteStart < f.index.byteEnd && byteEnd > f.index.byteStart);\n    if (!overlaps) {\n      facets.push({\n        index: { byteStart, byteEnd },\n        features: [{ $type: 'app.bsky.richtext.facet#tag', tag: match[0].slice(1) }]\n      });\n    }\n  }\n\n  return facets;\n}\n\n// Read from Failsafe Truncation (handles per-post 300-char limit)\nconst assemblePost = $('Failsafe Truncation').first().json;\nconst tournamentLinks = assemblePost.tournamentLinks || [];\nconst replyText = assemblePost.replyText;\n\nconst facets = buildFacets(replyText, tournamentLinks);\n\nconst futureDate = new Date(Date.now() + 1000);\n\nconst replyPostData = {\n    repo: $('Set Bluesky Credentials').first().json.BlueskyHandle,\n    collection: \"app.bsky.feed.post\",\n    record: {\n        \"$type\": \"app.bsky.feed.post\",\n        text: replyText,\n        reply: {\n            root: {\n                cid: $('Create Initial Post').first().json.cid,\n                uri: $('Create Initial Post').first().json.uri\n            },\n            parent: {\n                cid: $('Create Initial Post').first().json.cid,\n                uri: $('Create Initial Post').first().json.uri\n            }\n        },\n        ...(facets.length > 0 && { facets }),\n        createdAt: futureDate.toISOString()\n    }\n};\n\nreturn replyPostData;"},"id":"b8627cb4-1ffb-44a5-88f3-b50d8eeac1d6","name":"Create Reply Text1","type":"n8n-nodes-base.code","position":[1504,1152],"typeVersion":2},{"parameters":{"operation":"roundDate","date":"={{ $json.currentDate }}","toNearest":"day","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4704,880],"id":"e8322ebf-4443-4c84-a91a-0603121b0e46","name":"Round to Day"},{"parameters":{"operation":"addToDate","magnitude":"={{ $json.roundedDate }}","timeUnit":"hours","duration":5,"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-4480,800],"id":"4785443c-e8fc-448c-9e35-786a5d7418b6","name":"Add 5 Hours"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"aaf22222-0000-4000-a000-000000000002","leftValue":"={{ $json['data.data.tournaments.nodes'].endAt }}","rightValue":"={{ $('Format Yesterday as Unix').item.json.dayAgoUnix }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3664,880],"id":"aaf11111-0000-4000-a000-000000000001","name":"Filter by endAt"},{"parameters":{"jsCode":"// Grand Finals = highest positive round (winners side always positive in double-elim)\n// If multiple sets at that round (GF + reset), pick the latest completedAt\nreturn $input.all().map(item => {\n  const sets = item.json.data?.data?.phase?.sets?.nodes || [];\n  if (sets.length === 0) return item;\n\n  // Only look at positive rounds (winners/GF side)\n  const winnersSets = sets.filter(s => s.round > 0);\n  if (winnersSets.length === 0) return item;\n\n  // Highest positive round = Grand Finals round\n  const maxRound = Math.max(...winnersSets.map(s => s.round));\n\n  // Among GF-round sets, pick latest completedAt (handles bracket reset)\n  const gfSets = winnersSets.filter(s => s.round === maxRound);\n  const trueGF = gfSets.reduce((latest, s) =>\n    s.completedAt > latest.completedAt ? s : latest\n  );\n\n  const out = JSON.parse(JSON.stringify(item.json));\n  out.data.data.phase.sets.nodes = [trueGF];\n  return { json: out };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2400,1104],"id":"aaf33333-0000-4000-a000-000000000003","name":"Find True GF"},{"id":"aaf55555-0000-4000-a000-000000000005","name":"Failsafe Truncation","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0],"parameters":{"jsCode":"function stripSponsor(winnerLine) {\n  // Strips 'Sponsor | ' prefix: '   🦁 The Strong One | HamPolo' => '   🦁 HamPolo'\n  return winnerLine.replace(/^(   \\S+\\s).*\\|\\s*(.+)$/, '$1$2');\n}\n\nfunction truncateIfNeeded(text) {\n  if (text.length <= 300) return text;\n  return text.split('\\n').map(line =>\n    line.includes(' | ') ? stripSponsor(line) : line\n  ).join('\\n');\n}\n\nconst data = $input.first().json;\nreturn [{\n  ...data,\n  mainPostText: truncateIfNeeded(data.mainPostText),\n  replyText:    truncateIfNeeded(data.replyText)\n}];"}}],"connections":{"Format Today as Unix":{"main":[[{"node":"Merge Date Range","type":"main","index":0}]]},"Get Current DateTime":{"main":[[{"node":"Round to Day","type":"main","index":0}]]},"Subtract 1 Day":{"main":[[{"node":"Format Yesterday as Unix","type":"main","index":0}]]},"Format Yesterday as Unix":{"main":[[{"node":"Merge Date Range","type":"main","index":1}]]},"Merge Date Range":{"main":[[{"node":"Query Tournaments","type":"main","index":0}]]},"Split Tournament Nodes":{"main":[[{"node":"Filter by endAt","type":"main","index":0}]]},"Filter Rivals2 Events":{"main":[[{"node":"Sum Total Entrants","type":"main","index":0},{"node":"Sort by Entrants","type":"main","index":0}]]},"Sum Total Entrants":{"main":[[{"node":"Format Entrant Sum","type":"main","index":0}]]},"Limit to Top 5":{"main":[[{"node":"Query Event Phases","type":"main","index":0},{"node":"Join Events + Phase Data","type":"main","index":0}]]},"Aggregate Tournament Data":{"main":[[{"node":"Assemble Post","type":"main","index":0}]]},"Merge Stats + Events":{"main":[[{"node":"Aggregate Tournament Data","type":"main","index":0}]]},"Run Daily @ 4:21pm":{"main":[[{"node":"Get Current DateTime","type":"main","index":0}]]},"Query Tournaments":{"main":[[{"node":"Split Tournament Nodes","type":"main","index":0}]]},"Query Event Phases":{"main":[[{"node":"Split Phase Groups","type":"main","index":0}]]},"Split Phase Groups":{"main":[[{"node":"Sort Phases","type":"main","index":0}]]},"Sort Phases":{"main":[[{"node":"Dedupe & Extract Phase IDs","type":"main","index":0}]]},"Split GF Games":{"main":[[{"node":"Sort Games","type":"main","index":0}]]},"Sort Games":{"main":[[{"node":"Code Top5 Events","type":"main","index":0}]]},"Query GF Sets":{"main":[[{"node":"Find True GF","type":"main","index":0}]]},"Query Entrant by ID":{"main":[[{"node":"Map Entrant to Winner","type":"main","index":0}]]},"Map Entrant to Winner":{"main":[[{"node":"Enrich GF with Game Data","type":"main","index":0}]]},"Filter Phase Match":{"main":[[{"node":"Query Entrant by ID","type":"main","index":0},{"node":"Query Set Game Data","type":"main","index":0}]]},"Join Events + Phase Data":{"main":[[{"node":"Join Events + Winners","type":"main","index":0}]]},"Join Events + Winners":{"main":[[{"node":"Merge Stats + Events","type":"main","index":1}]]},"Merge Winner Sources":{"main":[[{"node":"Join Events + Winners","type":"main","index":1}]]},"Code Top5 Events":{"main":[[{"node":"Filter Phase Match","type":"main","index":0},{"node":"Join Events + Phase Data","type":"main","index":1},{"node":"Merge Winner Sources","type":"main","index":0}]]},"Query Set Game Data":{"main":[[{"node":"Split Game Selections","type":"main","index":0}]]},"Enrich GF with Game Data":{"main":[[{"node":"Merge Winner Sources","type":"main","index":1}]]},"Split Game Selections":{"main":[[{"node":"Filter Winner Selections","type":"main","index":0}]]},"Filter Winner Selections":{"main":[[{"node":"Enrich GF with Game Data","type":"main","index":1}]]},"Split Event Items":{"main":[[{"node":"Merge Event Data","type":"main","index":1}]]},"Merge Event Data":{"main":[[{"node":"Filter Rivals2 Events","type":"main","index":0}]]},"Format Entrant Sum":{"main":[[{"node":"Merge Stats + Events","type":"main","index":0}]]},"Dedupe & Extract Phase IDs":{"main":[[{"node":"Query GF Sets","type":"main","index":0}]]},"Sort by Entrants":{"main":[[{"node":"Limit to Top 5","type":"main","index":0}]]},"Create Bluesky Session":{"main":[[{"node":"Create Post Text","type":"main","index":0}]]},"Set Bluesky Credentials":{"main":[[{"node":"Create Bluesky Session","type":"main","index":0}]]},"Create Initial Post":{"main":[[{"node":"Create Reply Text1","type":"main","index":0}]]},"Create Post Text":{"main":[[{"node":"Create Initial Post","type":"main","index":0}]]},"Create Reply Text1":{"main":[[{"node":"Create Reply1","type":"main","index":0}]]},"Round to Day":{"main":[[{"node":"Subtract 1 Day","type":"main","index":0},{"node":"Add 5 Hours","type":"main","index":0}]]},"Add 5 Hours":{"main":[[{"node":"Format Today as Unix","type":"main","index":0}]]},"Filter by endAt":{"main":[[{"node":"Split Event Items","type":"main","index":0},{"node":"Merge Event Data","type":"main","index":0}]]},"Find True GF":{"main":[[{"node":"Split GF Games","type":"main","index":0}]]},"Assemble Post":{"main":[[{"node":"Failsafe Truncation","type":"main","index":0}]]},"Failsafe Truncation":{"main":[[{"node":"Set Bluesky Credentials","type":"main","index":0}]]}},"authors":"Trent Nolen","name":"Version b4dd48d8","description":"","autosaved":false},"tags":[{"updatedAt":"2025-10-19T02:01:25.366Z","createdAt":"2025-10-19T02:01:25.366Z","id":"WjYjrAQMMnwIYj0J","name":"Active"}]}