workflows/Gather BlueSky Replies.json
{"updatedAt":"2026-03-20T23:54:38.717Z","createdAt":"2026-03-20T23:18:00.461Z","id":"N7POBrlzHZHzFFqo","name":"Gather BlueSky Replies","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"gbr-0001","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-96]},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"id":"gbr-0002","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,112]},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.server.createSession","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"rivals2statbot.bsky.social"},{"name":"password","value":"#m;:vBeyRiWE83K"}]},"options":{}},"id":"gbr-0003","name":"Create Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0]},{"parameters":{"url":"https://bsky.social/xrpc/app.bsky.feed.getAuthorFeed","sendQuery":true,"queryParameters":{"parameters":[{"name":"actor","value":"={{ $json.did }}"},{"name":"limit","value":"100"},{"name":"filter","value":"posts_no_replies"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Session').item.json.accessJwt }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"cursor","value":"={{ $response.body.cursor }}"}]},"limitPagesFetched":true,"maxRequests":20,"requestInterval":500}}}},"id":"gbr-0004","name":"Get Author Feed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,0]},{"parameters":{"fieldToSplitOut":"feed","options":{}},"id":"gbr-0005","name":"Split Out Posts","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[704,0]},{"parameters":{"url":"https://bsky.social/xrpc/app.bsky.feed.getPostThread","sendQuery":true,"queryParameters":{"parameters":[{"name":"uri","value":"={{ $json.post.uri }}"},{"name":"depth","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Session').item.json.accessJwt }}"}]},"options":{}},"id":"gbr-0006","name":"Get Post Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,0]},{"parameters":{"jsCode":"const botDid = $('Create Session').first().json.did;\nconst postUri = $json.thread?.post?.uri;\nconst replies = $json.thread?.replies || [];\n\nconst items = [];\nfor (const reply of replies) {\n  const r = reply.post;\n  if (!r) continue;\n  if (r.author?.did === botDid) continue; // skip self-replies\n  const text = r.record?.text || '';\n  if (!text.trim()) continue; // skip empty replies\n  items.push({ json: {\n    reply_uri: r.uri,\n    reply_cid: r.cid,\n    reply_text: text,\n    author_did: r.author?.did,\n    author_handle: r.author?.handle,\n    post_uri: postUri,\n    created_at: r.record?.createdAt\n  }});\n}\nreturn items;"},"id":"gbr-0007","name":"Extract Replies","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,0]},{"parameters":{"assignments":{"assignments":[{"id":"cat-01","name":"reply_uri","value":"={{ $('Extract Replies').item.json.reply_uri }}","type":"string"},{"id":"cat-02","name":"reply_cid","value":"={{ $('Extract Replies').item.json.reply_cid }}","type":"string"},{"id":"cat-03","name":"reply_text","value":"={{ $('Extract Replies').item.json.reply_text }}","type":"string"},{"id":"cat-04","name":"author_did","value":"={{ $('Extract Replies').item.json.author_did }}","type":"string"},{"id":"cat-05","name":"author_handle","value":"={{ $('Extract Replies').item.json.author_handle }}","type":"string"},{"id":"cat-06","name":"post_uri","value":"={{ $('Extract Replies').item.json.post_uri }}","type":"string"},{"id":"cat-07","name":"created_at","value":"={{ $('Extract Replies').item.json.created_at }}","type":"string"},{"id":"cat-08","name":"category","value":"={{ ['error','praise','other'].includes($json.message.content.trim().toLowerCase()) ? $json.message.content.trim().toLowerCase() : 'other' }}","type":"string"}],"assignments[7]":{"value":"={{ ['error','praise','other'].includes($json.output.trim().toLowerCase()) ? $json.output.trim().toLowerCase() : 'other' }}"}},"options":{}},"id":"gbr-0009","name":"Set Category","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1616,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bluesky_replies (reply_uri, reply_cid, reply_text, author_did, author_handle, post_uri, category, created_at)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8::timestamp)\nON CONFLICT (reply_uri) DO NOTHING","options":{}},"id":"gbr-0010","name":"Insert Reply","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1808,0],"credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $json.reply_text }}","options":{"systemMessage":"You are a reply classifier for a Rivals of Aether 2 tournament stats bot. Classify the reply as exactly one of: error, praise, other.\n- error: reports incorrect data, missing info, bugs, wrong scores, complaints about the bot\n- praise: positive reactions, thanks, excitement, appreciation\n- other: questions, neutral comments, off-topic\nRespond with only the single lowercase word: error, praise, or other. Do not explain.","maxIterations":1}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1296,0],"id":"5d906738-bc84-45c9-8c5e-cc09f19eb029","name":"AI Agent"},{"parameters":{"model":"qwen3:8b","options":{}},"id":"gbr-0011","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1232,240],"credentials":{"ollamaApi":{"id":"fSOLfY1sr7gjQ52q","name":"Ollama account"}}},{"parameters":{"resource":"user","actor":"did:plc:yq4j73mkyzhhtmpr3nr2ueu3"},"type":"@muench-dev/n8n-nodes-bluesky.bluesky","typeVersion":2,"position":[416,-256],"id":"20faf59e-2a56-4204-9e98-a0b958cec78c","name":"Get detailed profile view of an actor","credentials":{"blueskyApi":{"id":"QPGGEIIpgB13gOeW","name":"Bluesky account"}}},{"parameters":{"resource":"feed","actor":"did:plc:yq4j73mkyzhhtmpr3nr2ueu3"},"type":"@muench-dev/n8n-nodes-bluesky.bluesky","typeVersion":2,"position":[640,-256],"id":"51090a1c-a0ed-459c-879e-27cd21c9416a","name":"Retrieve feed with posts by a single user","credentials":{"blueskyApi":{"id":"QPGGEIIpgB13gOeW","name":"Bluesky account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Create Session","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Create Session","type":"main","index":0}]]},"Create Session":{"main":[[{"node":"Get Author Feed","type":"main","index":0}]]},"Get Author Feed":{"main":[[{"node":"Split Out Posts","type":"main","index":0}]]},"Split Out Posts":{"main":[[{"node":"Get Post Thread","type":"main","index":0}]]},"Get Post Thread":{"main":[[{"node":"Extract Replies","type":"main","index":0}]]},"Set Category":{"main":[[{"node":"Insert Reply","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Extract Replies":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Set Category","type":"main","index":0}]]},"Get detailed profile view of an actor":{"main":[[{"node":"Retrieve feed with posts by a single user","type":"main","index":0}]]},"Retrieve feed with posts by a single user":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true},"staticData":{"node:Each 60 minutes":{"recurrenceRules":[]}},"meta":{"templateId":"2570","templateCredsSetupCompleted":true},"pinData":{},"versionId":"7aca9a50-bfd3-4d0f-a335-9647e6955d96","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-03-20T23:18:00.466Z","createdAt":"2026-03-20T23:18:00.466Z","role":"workflow:owner","workflowId":"N7POBrlzHZHzFFqo","projectId":"u9kYCfFU7pgjjx9U"}],"activeVersion":null,"tags":[]}