workflows/My workflow.json
{"createdAt":"2025-10-26T05:10:58.225Z","updatedAt":"2025-10-26T05:19:46.000Z","id":"paeU0vNQtBZaboxi","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"79eedf9b-a516-4b7d-9120-1154cf799c8a","name":"Schedule Trigger"},{"parameters":{"promptType":"define","text":"={{ $json.Website }}","options":{"systemMessage":"Search these websites for upcoming Statement of Qualifications (SOQs), Request for Proposals (RFPs), Request for Qualifications (RFQs), bond projects, or potential leads on upcoming roadway or pedestrian projects. Do not include any projects that are currently in design or construction.\n\nYou will need to iterate through pages."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[448,0],"id":"c6a3e4d9-8a6e-4286-8405-e5d9500dff62","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[400,224],"id":"bd54884f-0ded-4b3a-86a5-70a063940c3a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"1BAWK7kQwiuUBVYR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"getAll","tableId":"Lead Websites"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,0],"id":"9e0270a2-b607-4244-8db1-dc4d09eb49fc","name":"Get many rows","credentials":{"supabaseApi":{"id":"F8UF5MRQZsqgXZ1y","name":"Supabase account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"0","tableName":"n8n_chat_histories2","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[584,224],"id":"c612ce7b-9197-4412-841e-fac0130b0d49","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories2","mode":"list","cachedResultName":"n8n_chat_histories2"},"deleteCommand":"delete","where":{"values":[{"column":"id","condition":"IS NOT NULL"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,0],"id":"c7321fbf-43e2-4254-b515-2e076ba7a76b","name":"Delete table or rows","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get many rows":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"00d1c592-5eaa-4da7-bc85-5575923cbc08","triggerCount":0,"shared":[{"createdAt":"2025-10-26T05:10:58.230Z","updatedAt":"2025-10-26T05:10:58.230Z","role":"workflow:owner","workflowId":"paeU0vNQtBZaboxi","projectId":"u9kYCfFU7pgjjx9U"}],"tags":[]}