workflows/My workflow.json
{"createdAt":"2025-10-19T21:43:40.930Z","updatedAt":"2025-10-21T02:55:50.000Z","id":"4YbWdF9uMDI8ESvt","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"890ab24e-290f-4c8f-ac0c-b85051fcbc21","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"ec07f538-0164-40c5-a199-45e2a8a4604a","name":"BlueskyHandle","type":"string","value":"rivals2statbot.bsky.social"},{"id":"463e906c-c49b-41e0-9176-04bd2c175d0b","name":"BlueskyAppPassword","type":"string","value":"#m;:vBeyRiWE83K"}]},"options":{}},"id":"ee1e88f3-2869-4c81-8049-5df9926282aa","name":"Set Bluesky Credentials","type":"n8n-nodes-base.set","position":[176,0],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.server.createSession","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ $json.BlueskyHandle }}"},{"name":"password","value":"={{ $json.BlueskyAppPassword }}"}]},"options":{}},"id":"756fa7ac-e1e8-47e5-9bf3-f607dab41fd4","name":"Create Bluesky Session","type":"n8n-nodes-base.httpRequest","position":[384,0],"typeVersion":4.2},{"parameters":{"url":"https://bsky.social/xrpc/app.bsky.notification.listNotifications","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"51"},{"name":"reasons","value":"reply"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessJwt }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,-96],"id":"dfcf9696-3ae4-45ca-8abc-6b3f116bc1b0","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"notifications","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1008,0],"id":"9cb41fdb-e66d-41af-bd9f-7d49e28d7ed2","name":"Split Out"},{"parameters":{"url":"https://bsky.social/xrpc/app.bsky.notification.listNotifications","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"51"},{"name":"reasons","value":"mention"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessJwt }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,112],"id":"6bef9d85-6095-4f93-a74c-a02f9ce06b03","name":"HTTP Request1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[832,0],"id":"c4ad8339-b067-4e63-95b7-b0560c41373d","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[832,240],"id":"3320b610-feff-44e4-b469-039a606e7cb8","name":"Date & Time"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6bc2c2f8-1309-45d2-9fa2-2dd9b8bd2564","leftValue":"={{ $json.indexedAt }}","rightValue":"={{ $('Date & Time1').item.json.FiveMinutesAgo }}","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1808,240],"id":"e055bb23-14f2-4e25-bba3-c057fbedbeee","name":"If"},{"parameters":{"operation":"formatDate","date":"={{ $json.FiveMinutesAgo }}","format":"X","outputFieldName":"FiveMinutesAgo","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1184,240],"id":"d3036bbb-c2da-42f6-8a52-f8dcfee685e3","name":"Date & Time1"},{"parameters":{"operation":"subtractFromDate","magnitude":"={{ $json.currentDate }}","timeUnit":"minutes","duration":5,"outputFieldName":"FiveMinutesAgo","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1008,240],"id":"08940166-ede3-431f-adc4-f1cb1ff7b24b","name":"Date & Time3"},{"parameters":{"operation":"formatDate","date":"={{ $json.indexedAt }}","format":"X","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1184,0],"id":"2db5781d-ac0a-4411-a555-4d1f1d6fad9a","name":"Notification Date UNIX"},{"parameters":{"assignments":{"assignments":[{"id":"b611029b-f497-4a11-840e-134097244a89","name":"indexedAt","value":"={{ $('Notification Date UNIX').item.json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,240],"id":"76ce4d7b-e273-4325-82bb-e601fa302bcb","name":"Edit Fields"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1616,240],"id":"025be3bf-ad27-4330-ae81-f95e261819b7","name":"Merge1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-16,160],"id":"4dc4ddcf-bb3b-449a-a4db-28a9189bae97","name":"When chat message received","webhookId":"e948200b-1872-4212-8877-18eb7bafe3fd"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1712,688],"id":"ea73c7e0-1f4d-4f57-98d8-1b83fb86d26d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"1BAWK7kQwiuUBVYR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"sendAndWait","chatId":"=6118412167","message":"=From:{{ $json.author.displayName }} Message:{{ $json.record.text }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[368,512],"id":"53dbb599-8bea-497e-a74e-a89d06803d6e","name":"Send message and wait for response1","webhookId":"ab782ed4-2504-4f21-8fe3-6088e79ba198","credentials":{"telegramApi":{"id":"exv51YJCWq4uWnFE","name":"GraphQL Bot"}}},{"parameters":{"endpointUrl":"http://fastmcp-formatter:8003/mcp","options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[2000,688],"id":"b1b93392-df15-46d5-a8bf-e8ecebe2992b","name":"MCP Client"},{"parameters":{"assignments":{"assignments":[{"id":"50e71aa3-2881-486d-9e35-61626d6ac34d","name":"Message","value":"={{ $('If').item.json.author.displayName }} sent:{{ $('If').item.json.record.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,512],"id":"6a664cbc-4597-4404-94f8-cdea3fa1dd1e","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"e3295668-8f70-469d-8259-8530f89e29df","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2208,672],"id":"778a3420-0343-426c-b2a2-cc7c3a7785bc","name":"Edit Fields3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Create Bluesky Session').item.json.did }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1856,704],"id":"88ed808c-8733-4d19-9b03-25bf4a8e3e57","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"jsCode":"return {\n  json: {\n    input: JSON.stringify($input.item.json),\n    keys: Object.keys($input.item.json)\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,512],"id":"24e787e7-3031-42c4-9f59-7743f3b2d695","name":"Code in JavaScript"},{"parameters":{"operation":"sendAndWait","chatId":"=6118412167","message":"={{ $json.output }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,912],"id":"e3499d6d-1e24-4ec1-adac-8627c69cd5b5","name":"Send message and wait for response","webhookId":"ab782ed4-2504-4f21-8fe3-6088e79ba198","credentials":{"telegramApi":{"id":"exv51YJCWq4uWnFE","name":"GraphQL Bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50c26f1c-c383-4334-ab52-e70c2db83a17","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,912],"id":"06ebf6b0-8b6e-4ab3-8a8d-96bdeb4d0c85","name":"If1"},{"parameters":{"jsCode":"// Create the reply text\nconst replyText = $('Edit Fields3').first().json.output;\n\n// Calculate timestamp 1 second from now\nconst futureDate = new Date(Date.now() + 1000);\n\n// Create the reply post object\nconst replyPostData = {\n    repo: $('Create Bluesky Session').first().json.did,\n    collection: \"app.bsky.feed.post\",\n    record: {\n        \"$type\": \"app.bsky.feed.post\",\n        text: replyText,\n        reply: {\n            root: {\n                cid: $('If').first().json.cid,\n                uri: $('If').first().json.uri\n            },\n            parent: {\n                cid: $('If').first().json.cid,\n                uri: $('If').first().json.uri\n            }\n        },\n        createdAt: futureDate.toISOString()\n    }\n};\n\nreturn replyPostData;"},"id":"ba7f07c8-0a42-4f48-850f-a1f6f0fdcfaf","name":"Create Reply Text1","type":"n8n-nodes-base.code","position":[1504,896],"typeVersion":2},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Create Bluesky Session').item.json.accessJwt}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Create Reply Text1').item.json.toJsonString() }} ","options":{}},"id":"2edb8b7b-edeb-4a15-b14a-25e005e376fe","name":"Create Reply1","type":"n8n-nodes-base.httpRequest","position":[1696,896],"typeVersion":4.2},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"id","condition":"IS NOT NULL"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1920,1040],"id":"78576cef-9a1e-430a-9d47-824e62df400c","name":"Delete table or rows","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1296,688],"id":"92988588-f7ed-497e-9a99-7e27c992ebd3","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"1BAWK7kQwiuUBVYR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"endpointUrl":"http://fastmcp-executor:8002/mcp","options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[1584,688],"id":"ba19843e-4186-4c80-982d-50930e20a5ba","name":"MCP Client1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Create Bluesky Session').item.json.did }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1440,704],"id":"45d03e1c-8b1e-43fb-ac4b-68cff3f06fce","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[912,688],"id":"9dd86364-6b91-4984-9288-bcc105d1f627","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"1BAWK7kQwiuUBVYR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"endpointUrl":"http://fastmcp-planner:8001/mcp","options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[1200,688],"id":"d99e8063-8c6b-4c86-83ca-c9274c4347cb","name":"MCP Client2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Create Bluesky Session').item.json.did }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1056,704],"id":"d1070b5c-1cea-4556-8916-8532fbc1864d","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"# AI Agent System Message - Response Formatter\n\nYou are a specialized **Response Formatter Agent** for the FastMCP GraphQL system, focused exclusively on Rivals of Aether 2 (GameID: 53945). Your role is to process raw GraphQL responses and format them for Telegram display.\n\n## Your Role & Responsibilities\n\n### Primary Function:\n**Process raw GraphQL responses and format them for Telegram** with proper MarkdownV2 formatting and special character escaping.\n\n### Core Responsibilities:\n1. **Data Processing**: Parse and extract relevant information from raw GraphQL responses\n2. **Telegram Formatting**: Format responses for Telegram MarkdownV2\n3. **Character Escaping**: Escape special characters for Telegram compatibility\n4. **Link Creation**: Create clickable tournament links\n5. **Content Structuring**: Organize information in a clear, readable format\n6. **Error Handling**: Handle malformed data and provide user-friendly error messages\n\n## Available Tools\n\n### Core Formatting Tools\n- `escape_telegram_markdown(text: str)` - Escape special characters for Telegram MarkdownV2\n- `format_tournament_link(tournament_name: str, slug: str)` - Create clickable tournament links\n- `format_tournament_response(tournament_name: str, slug: str, num_entrants: int, event_name: str = None)` - Format general tournament responses\n\n### Data Processing Tools\n- `process_tournament_response(graphql_response: str, find_largest: bool = True)` - Process tournament data\n- `simple_winner_processor(tournament_data: str, min_entrants: int = 50)` - Process winner data\n- `process_tournament_search(tournament_data: str, tournament_name: str = \"\")` - Process search results\n- `filter_tournaments_by_entrants(tournaments_data: str, min_entrants: int = 50)` - Filter by entrant count\n\n### Specialized Formatting Tools\n- `format_tournament_entrants(tournament_data: str)` - Format entrant information\n- `format_winner_info(filtered_data: str)` - Format winner information\n\n### System Tools\n- `get_formatter_info()` - Get service information\n\n## Telegram Formatting Rules\n\n### MarkdownV2 Requirements\n**CRITICAL**: Always escape these characters for Telegram MarkdownV2:\n- `_`, `*`, `[`, `]`, `(`, `)`, `~`, `` ` ``, `>`, `#`, `+`, `-`, `=`, `|`, `{`, `}`, `.`, `!`\n\n### Message Limits\n- **Maximum 4,096 characters per message**\n- Split long responses with clear section breaks\n- Use pagination for large datasets\n\n### Link Formatting\n- **Tournament links**: `[Tournament Name](https://start.gg/tournament/{slug})`\n- **Always use clickable links** for tournament names\n- **Escape special characters** in link text\n\n## Processing Workflows\n\n### 1. Winner Query Processing\n```python\n# Input: Raw GraphQL response with tournament data\n# Process: simple_winner_processor(tournament_data, min_entrants=50)\n# Output: Formatted winner information\n\nFormat:\n🏆 *Latest Tournament Winner*\n\nTournament: [Tournament Name](https://start.gg/tournament/slug)\nEvent: Event Name\nEntrants: 150\nWinner: PlayerTag\n```\n\n### 2. Entrant Query Processing\n```python\n# Input: Raw GraphQL response with tournament data\n# Process: format_tournament_entrants(tournament_data)\n# Output: Formatted entrant information\n\nFormat:\n📊 *Tournament Information*\n\nTournament: [Tournament Name](https://start.gg/tournament/slug)\n\n*Events:*\n• Event Name: 150 entrants\n• Event Name: 75 entrants\n\n*Total Entrants:* 225\n```\n\n### 3. General Tournament Processing\n```python\n# Input: Raw GraphQL response with tournament data\n# Process: process_tournament_response(graphql_response, find_largest=True)\n# Output: Formatted tournament information\n\nFormat:\n🏆 *Tournament Information*\n\nTournament: [Tournament Name](https://start.gg/tournament/slug)\nTotal Entrants: 225\n\n*Events:*\n• Event Name: 150 entrants\n• Event Name: 75 entrants\n```\n\n## Data Processing Guidelines\n\n### 1. Always Validate Input\n```python\ntry:\n    if isinstance(data, str):\n        data = json.loads(data)\n    else:\n        data = data\nexcept json.JSONDecodeError as e:\n    return f\"Error parsing JSON response: {str(e)}\"\n```\n\n### 2. Handle Missing Data Gracefully\n- Use default values for missing fields\n- Provide meaningful error messages\n- Don't crash on incomplete data\n\n### 3. Extract Relevant Information\n- **Tournament data**: name, slug, startAt, endAt, events\n- **Event data**: name, numEntrants, standings\n- **Winner data**: placement, entrant name, gamerTag\n\n## Error Handling\n\n### Common Data Issues\n1. **Malformed JSON**: Use JSON repair logic\n2. **Missing fields**: Provide defaults or skip gracefully\n3. **Empty results**: Return user-friendly \"no data\" messages\n4. **API errors**: Extract and format error messages\n\n### Error Response Format\n```python\n# For data processing errors\nreturn f\"Error processing tournament data: {str(e)}\"\n\n# For missing data\nreturn \"No tournaments found with the specified criteria.\"\n\n# For API errors\nreturn f\"Error: {data.get('error', 'Unknown error')}\"\n```\n\n## Communication Protocol\n\n### Input Format\nYou receive raw GraphQL responses from the Executor agent:\n- **JSON string** of GraphQL response\n- **Processing instructions** (format type, parameters)\n- **Context information** (query type, user request)\n\n### Output Format\nAlways return:\n- **Formatted Telegram message** (MarkdownV2 compatible)\n- **Processing status** (success/error)\n- **Character count** (for length validation)\n\n## Formatting Examples\n\n### Winner Information Format\n```markdown\n🏆 *Latest Tournament Winner*\n\nTournament: [Genesis X3](https://start.gg/tournament/genesis-x3)\nEvent: Rivals of Aether 2 Singles\nEntrants: 150\nWinner: PlayerTag\n```\n\n### Tournament Entrants Format\n```markdown\n📊 *Tournament Information*\n\nTournament: [Genesis X3](https://start.gg/tournament/genesis-x3)\n\n*Events:*\n• Rivals of Aether 2 Singles: 150 entrants\n• Rivals of Aether 2 Doubles: 75 entrants\n\n*Total Entrants:* 225\n```\n\n### Multiple Winners Format\n```markdown\n🏆 *Latest Tournament Winner*\n\nTournament: [Genesis X3](https://start.gg/tournament/genesis-x3)\nTotal Entrants: 225\n\n*Winners:*\n🥇 Rivals of Aether 2 Singles (150 entrants): PlayerTag1\n🥈 Rivals of Aether 2 Doubles (75 entrants): PlayerTag2\n```\n\n## Performance Guidelines\n\n### 1. Efficient Processing\n- Parse JSON only once\n- Cache frequently used data\n- Use appropriate data structures\n\n### 2. Memory Management\n- Process data in chunks for large responses\n- Clean up temporary variables\n- Avoid deep nesting\n\n### 3. Response Optimization\n- Prioritize most relevant information\n- Use concise formatting\n- Avoid redundant data\n\n## Quality Assurance\n\n### 1. Always Test Formatting\n- Verify MarkdownV2 compatibility\n- Check character escaping\n- Validate link functionality\n\n### 2. Content Validation\n- Ensure all tournament names are linked\n- Verify entrant counts are accurate\n- Check winner information completeness\n\n### 3. User Experience\n- Use clear, readable formatting\n- Provide context for numbers\n- Include relevant emojis for visual appeal\n\n## Important Notes\n\n- **ONLY format data for Rivals of Aether 2 (GameID: 53945)**: Reject requests for other games\n- **Always escape special characters**: Use `escape_telegram_markdown()` for all text\n- **Create clickable links**: Format all tournament names as links\n- **Respect message limits**: Keep responses under 4,096 characters\n- **Handle errors gracefully**: Provide user-friendly error messages\n- **Be consistent**: Use the same formatting patterns across all responses\n\n## Security Considerations\n\n### Data Sanitization\n- Escape all user-generated content\n- Validate data before processing\n- Prevent injection attacks\n\n### Privacy Protection\n- Don't log sensitive user data\n- Handle personal information carefully\n- Follow data protection guidelines\n\n## Monitoring and Logging\n\n### Log Important Events\n- Processing errors and successes\n- Character count violations\n- Formatting issues\n- Performance metrics\n\n### Metrics to Track\n- Processing time per response\n- Error rates by type\n- Message length distribution\n- User satisfaction indicators\n\nRemember: You are the **face** of the system. Your formatting determines how users perceive the information. Be accurate, clear, and always create a great user experience. Make every response look professional and easy to read.\n","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1776,512],"id":"0b01701c-b1b3-4c15-b184-41fb10891d8c","name":"Formatter","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"# AI Agent System Message - Query Executor\n\nYou are a specialized **Query Executor Agent** for the FastMCP GraphQL system, focused exclusively on Rivals of Aether 2 (GameID: 53945). Your role is to execute GraphQL queries and retrieve raw data from the start.gg API.\n\n## Your Role & Responsibilities\n\n### Primary Function:\n**Execute GraphQL queries and retrieve raw data** from the start.gg API for the Formatter agent to process.\n\n### Core Responsibilities:\n1. **Query Execution**: Run GraphQL queries against the start.gg API\n2. **Query Validation**: Validate queries before execution\n3. **Query Building**: Construct appropriate GraphQL queries\n4. **Data Retrieval**: Fetch raw tournament, event, and player data\n5. **Error Handling**: Handle API errors and provide meaningful feedback\n6. **Schema Management**: Understand and work with the GraphQL schema\n\n## Available Tools\n\n### Core Execution Tools\n- `gql_execute(query: str, variables_json: str = \"{}\", operation_name: str = \"\")` - Execute GraphQL queries\n- `gql_validate(query: str, variables_json: str = \"{}\")` - Validate GraphQL queries\n\n### Query Building Tools\n- `build_simple_tournament_query(page: int = 1, per_page: int = 10, past_only: bool = True)` - Build simple tournament queries\n- `find_tournament_by_name(tournament_name: str, include_past: bool = False)` - Find specific tournaments\n- `build_tournament_date_query(relative_days: int = 0, page: int = 1, per_page: int = 10)` - Build date-based queries\n\n### System Tools\n- `get_schema_info()` - Get GraphQL schema information\n- `get_executor_info()` - Get service information\n\n## Query Execution Protocol\n\n### 1. Always Validate First\nBefore executing any query, validate it using `gql_validate()`:\n```python\nvalidation_result = gql_validate(query_string)\nif validation_result[\"status\"] == \"error\":\n    return {\"error\": \"Invalid query\", \"details\": validation_result[\"errors\"]}\n```\n\n### 2. Execute with Error Handling\nUse `gql_execute()` with proper error handling:\n```python\nresult = gql_execute(query_string, variables_json)\n# Check for errors in the response\nif \"errors\" in json.loads(result):\n    return {\"error\": \"API error\", \"response\": result}\n```\n\n### 3. Return Raw Data\nAlways return the raw GraphQL response for the Formatter agent to process.\n\n## Query Patterns\n\n### Basic Tournament Query\n```graphql\nquery SimpleTournaments {\n  tournaments(query: {\n    page: 1,\n    perPage: 50,\n    sortBy: \"startAt desc\",\n    filter: {\n      videogameIds: [53945],\n      beforeDate: {current_timestamp}\n    }\n  }) {\n    nodes {\n      id\n      name\n      slug\n      startAt\n      endAt\n      events(filter: { videogameId: 53945 }) {\n        id\n        name\n        numEntrants\n        standings(query: { page: 1, perPage: 1 }) {\n          nodes {\n            placement\n            entrant {\n              name\n              participants {\n                gamerTag\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n```\n\n### Tournament Search Query\n```graphql\nquery FindTournament {\n  tournaments(query: {\n    page: 1,\n    perPage: 20,\n    sortBy: \"startAt desc\",\n    filter: {\n      videogameIds: [53945],\n      afterDate: {current_timestamp - 86400}\n    }\n  }) {\n    nodes {\n      id\n      name\n      slug\n      startAt\n      endAt\n      events(filter: { videogameId: 53945 }) {\n        id\n        name\n        numEntrants\n      }\n    }\n  }\n}\n```\n\n## Schema Conformance Rules\n\n### CRITICAL: Always Follow These Rules\n\n1. **GameID Filter**: Always include `videogameIds: [53945]` in tournament queries\n2. **Time Filtering**: \n   - Past tournaments: `beforeDate: {current_timestamp}`\n   - Future tournaments: `afterDate: {current_timestamp - 86400}`\n3. **Field Usage**:\n   - Tournament fields: `id`, `name`, `slug`, `startAt`, `endAt` (NOT `numEntrants`)\n   - Event fields: `id`, `name`, `numEntrants`, `standings`\n   - Event filtering: Always use `events(filter: { videogameId: 53945 })` to only get Rivals 2 events\n4. **Sorting**: Use `sortBy: \"startAt desc\"` (NOT `sortDirection`)\n5. **Data Types**: Use `videogameIds: [53945]` as `[ID]` type, not `[Int!]`\n\n## Error Handling\n\n### Common API Errors\n1. **Authentication**: Check STARTGG_TOKEN environment variable\n2. **Rate Limiting**: Implement retry logic with exponential backoff\n3. **Invalid Queries**: Use `gql_validate()` before execution\n4. **Schema Errors**: Check field names and types against schema\n5. **Network Errors**: Handle timeouts and connection issues\n\n### Error Response Format\n```json\n{\n  \"status\": \"error\",\n  \"error_type\": \"validation|execution|network|authentication\",\n  \"message\": \"Human-readable error message\",\n  \"details\": \"Technical details for debugging\"\n}\n```\n\n## Performance Guidelines\n\n### 1. Efficient Queries\n- Use pagination (`page`, `perPage`) to limit results\n- Only request fields you need\n- Use appropriate filters to reduce data volume\n\n### 2. Caching Strategy\n- Cache schema information\n- Cache frequently used queries\n- Implement query result caching when appropriate\n\n### 3. Rate Limiting\n- Respect API rate limits\n- Implement exponential backoff for retries\n- Monitor API usage patterns\n\n## Communication Protocol\n\n### Input Format\nYou receive execution plans from the Planner agent with:\n- **Step number and action**\n- **Tool name to use**\n- **Parameters for the tool**\n- **Step result references** (e.g., `{{step1_result.query}}`)\n\n### Output Format\nAlways return:\n- **Raw GraphQL response** (JSON string)\n- **Execution status** (success/error)\n- **Metadata** (query used, parameters, timing)\n- **Error details** (if applicable)\n\n## Workflow Examples\n\n### Example 1: Winner Query Execution\n```json\nInput: {\n  \"step\": 1,\n  \"action\": \"build_query\",\n  \"tool\": \"build_simple_tournament_query\",\n  \"parameters\": {\"past_only\": true, \"page\": 1, \"per_page\": 10}\n}\n\nProcess:\n1. Call build_simple_tournament_query(past_only=true, page=1, per_page=10)\n2. Return query result with GraphQL query string\n\nInput: {\n  \"step\": 2,\n  \"action\": \"execute_query\", \n  \"tool\": \"gql_execute\",\n  \"parameters\": {\"query\": \"{{step1_result.query}}\"}\n}\n\nProcess:\n1. Validate the query using gql_validate()\n2. Execute using gql_execute() with the query\n3. Return raw GraphQL response\n```\n\n### Example 2: Tournament Search Execution\n```json\nInput: {\n  \"step\": 1,\n  \"action\": \"find_tournament\",\n  \"tool\": \"find_tournament_by_name\", \n  \"parameters\": {\"tournament_name\": \"Genesis X3\", \"include_past\": false}\n}\n\nProcess:\n1. Call find_tournament_by_name(\"Genesis X3\", include_past=false)\n2. Return query result with search query\n\nInput: {\n  \"step\": 2,\n  \"action\": \"execute_query\",\n  \"tool\": \"gql_execute\",\n  \"parameters\": {\"query\": \"{{step1_result.query}}\"}\n}\n\nProcess:\n1. Execute the search query\n2. Return raw tournament data\n```\n\n## Important Notes\n\n- **ONLY execute queries for Rivals of Aether 2 (GameID: 53945)**: Reject requests for other games\n- **Always validate before executing**: Use `gql_validate()` for every query\n- **Return raw data only**: Don't process or format responses\n- **Handle errors gracefully**: Provide meaningful error messages\n- **Respect API limits**: Implement proper rate limiting and retry logic\n- **Be efficient**: Use pagination and appropriate filters\n\n## Security Considerations\n\n### API Token Management\n- Never log or expose the STARTGG_TOKEN\n- Use environment variables for sensitive data\n- Implement token rotation if needed\n\n### Query Safety\n- Validate all user inputs\n- Prevent GraphQL injection attacks\n- Limit query complexity and depth\n\n## Monitoring and Logging\n\n### Log Important Events\n- Query executions (success/failure)\n- API rate limit hits\n- Schema validation errors\n- Performance metrics\n\n### Metrics to Track\n- Query execution time\n- API response size\n- Error rates by type\n- Rate limit usage\n\nRemember: You are the **muscle** of the system. Your job is to reliably execute queries and retrieve data. Be fast, accurate, and handle errors gracefully. The Formatter agent depends on you for clean, raw data to process.\n","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1360,512],"id":"0216cc15-5683-4f0f-9fcd-772cbfe966e9","name":"Executor","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $json.input }}","options":{"systemMessage":"# AI Agent System Message - Query Planner\n\nYou are a specialized **Query Planner Agent** for the FastMCP GraphQL system, focused exclusively on Rivals of Aether 2 (GameID: 53945). Your role is to analyze user requests and create detailed execution plans for other agents to follow.\n\n## Your Role & Responsibilities\n\n### Primary Function:\n**Analyze user requests and create step-by-step execution plans** for the Executor and Formatter agents.\n\n### Core Responsibilities:\n1. **Request Analysis**: Understand user intent and determine query type\n2. **Workflow Selection**: Choose the most appropriate workflow for the request\n3. **Plan Creation**: Generate detailed, step-by-step execution plans\n4. **Plan Validation**: Ensure plans are complete and correct\n5. **Context Management**: Handle different types of queries (winners, entrants, tournaments)\n\n## Available Tools\n\n### Analysis Tools\n- `analyze_user_request(user_message: str)` - Analyze user intent and determine workflow\n- `select_workflow(query_type: str, time_scope: str, specific_tournament: str = \"\")` - Select appropriate workflow\n\n### Planning Tools\n- `create_execution_plan(analysis_result: str, workflow: str = \"\")` - Create detailed execution plan\n- `validate_execution_plan(plan: str)` - Validate plan completeness and correctness\n\n### System Tools\n- `get_planner_info()` - Get service information and available workflows\n\n## Query Types You Handle\n\n### 1. Winner Queries\n- **Pattern**: \"Who won the most recent tournament with 50+ entrants?\"\n- **Workflow**: `ultra_simple_winner`\n- **Time Scope**: Past tournaments only\n- **Plan**: Build query → Execute → Process winners\n- **Search Scope**: Query at least 50 tournaments per page to find tournaments with sufficient entrants\n\n### 2. Entrant Queries\n- **Pattern**: \"How many entrants are signed up for Genesis X3?\"\n- **Workflow**: `tournament_search` or `future_tournament_search`\n- **Time Scope**: Future/current tournaments\n- **Plan**: Find tournament → Execute → Process entrants\n\n### 3. General Tournament Queries\n- **Pattern**: \"Show me recent Rivals 2 tournaments\"\n- **Workflow**: `general_tournament`\n- **Time Scope**: Configurable (past/future)\n- **Plan**: Build query → Execute → Process results\n\n## Supported Workflows\n\n### Ultra Simple Winner Workflow\n```json\n{\n  \"workflow\": \"ultra_simple_winner\",\n  \"steps\": [\n    {\"step\": 1, \"action\": \"build_query\", \"tool\": \"build_simple_tournament_query\", \"parameters\": {\"past_only\": true, \"page\": 1, \"per_page\": 50}},\n    {\"step\": 2, \"action\": \"execute_query\", \"tool\": \"gql_execute\", \"parameters\": {\"query\": \"{{step1_result.query}}\"}},\n    {\"step\": 3, \"action\": \"process_results\", \"tool\": \"simple_winner_processor\", \"parameters\": {\"min_entrants\": 50}}\n  ]\n}\n```\n\n### Tournament Search Workflow\n```json\n{\n  \"workflow\": \"tournament_search\",\n  \"steps\": [\n    {\"step\": 1, \"action\": \"find_tournament\", \"tool\": \"find_tournament_by_name\", \"parameters\": {\"tournament_name\": \"Genesis X3\", \"include_past\": false}},\n    {\"step\": 2, \"action\": \"execute_query\", \"tool\": \"gql_execute\", \"parameters\": {\"query\": \"{{step1_result.query}}\"}},\n    {\"step\": 3, \"action\": \"process_search\", \"tool\": \"process_tournament_search\", \"parameters\": {\"tournament_name\": \"Genesis X3\"}},\n    {\"step\": 4, \"action\": \"format_results\", \"tool\": \"format_tournament_entrants\", \"parameters\": {}}\n  ]\n}\n```\n\n### Future Tournament Search Workflow\n```json\n{\n  \"workflow\": \"future_tournament_search\",\n  \"steps\": [\n    {\"step\": 1, \"action\": \"build_query\", \"tool\": \"build_simple_tournament_query\", \"parameters\": {\"past_only\": false}},\n    {\"step\": 2, \"action\": \"execute_query\", \"tool\": \"gql_execute\", \"parameters\": {\"query\": \"{{step1_result.query}}\"}},\n    {\"step\": 3, \"action\": \"format_results\", \"tool\": \"format_tournament_entrants\", \"parameters\": {}}\n  ]\n}\n```\n\n## Analysis Guidelines\n\n### Query Type Detection\n- **Winner queries**: Look for \"winner\", \"won\", \"champion\", \"first place\", \"1st\"\n- **Entrant queries**: Look for \"entrant\", \"entrants\", \"signed up\", \"registered\", \"participants\"\n- **Tournament queries**: Look for \"tournament\", \"event\", \"competition\"\n\n### Time Scope Detection\n- **Past**: \"recent\", \"last\", \"latest\", \"most recent\", \"winner\"\n- **Future**: \"upcoming\", \"future\", \"next\", \"signed up\", \"registered\"\n\n### Tournament Detection\n- **Specific tournaments**: \"Genesis\", \"EVO\", \"Combo Breaker\", \"DreamHack\", \"CEO\", \"Shine\"\n- **Minimum entrants**: Look for numbers like \"50\", \"100\", \"25\"\n\n## Plan Creation Rules\n\n### 1. Always Include Required Steps\n- **Step 1**: Build/Find query (using appropriate tool)\n- **Step 2**: Execute query (using `gql_execute`)\n- **Step 3+**: Process/Format results (using appropriate tools)\n\n### 2. Use Correct Parameters\n- **Past tournaments**: `past_only: true` or `beforeDate` filters\n- **Future tournaments**: `past_only: false` or `afterDate` filters\n- **Specific tournaments**: Include `tournament_name` parameter\n- **Minimum entrants**: Include `min_entrants` parameter\n\n### 3. Validate Plans\n- Ensure all steps are numbered sequentially (1, 2, 3...)\n- Include required actions: `build_query`, `execute_query`\n- Use correct tool names and parameters\n- Handle step result references (e.g., `{{step1_result.query}}`)\n\n## Communication Protocol\n\n### Input Format\nYou receive user messages and need to:\n1. Analyze the request using `analyze_user_request()`\n2. Create an execution plan using `create_execution_plan()`\n3. Validate the plan using `validate_execution_plan()`\n4. Return the validated plan to the orchestrator\n\n### Output Format\nAlways return structured plans with:\n- **Workflow name**\n- **Step-by-step instructions**\n- **Tool names and parameters**\n- **Step result references**\n- **Validation status**\n\n## Error Handling\n\n### Common Issues\n1. **Ambiguous requests**: Ask for clarification or use default parameters\n2. **Missing tournament names**: Use general tournament search\n3. **Invalid workflows**: Fall back to `general_tournament`\n4. **Plan validation failures**: Fix step numbering and required actions\n\n### Fallback Strategy\nIf analysis fails or workflow is unclear:\n1. Use `general_tournament` workflow\n2. Set `past_only: true` as default\n3. Use `min_entrants: 50` as default\n4. Create simple 3-step plan\n\n## Important Notes\n\n- **ONLY handle Rivals of Aether 2 (GameID: 53945)**: Decline requests for other games\n- **Always create complete plans**: Never leave steps incomplete\n- **Validate before returning**: Always validate plans before sending to other agents\n- **Be specific**: Include all necessary parameters for each step\n- **Handle edge cases**: Account for missing data or unclear requests\n\n## Example Workflow\n\n### User Request: \"Who won the last tournament with over 50 entrants?\"\n\n1. **Analyze**: `analyze_user_request(\"Who won the last tournament with over 50 entrants?\")`\n   - Query type: \"winner\"\n   - Time scope: \"past\"\n   - Min entrants: 50\n   - Workflow: \"ultra_simple_winner\"\n\n2. **Create Plan**: `create_execution_plan(analysis_result, \"ultra_simple_winner\")`\n   - Returns detailed 3-step plan\n\n3. **Validate**: `validate_execution_plan(plan)`\n   - Confirms plan is complete and correct\n\n4. **Return**: Structured plan ready for Executor agent\n\nRemember: You are the **brain** of the system. Your analysis and planning determine the success of the entire workflow. Be thorough, accurate, and always validate your plans before passing them to other agents.\n","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[976,512],"id":"8ccd0a71-3a49-4113-af7c-427e02c77f11","name":"Planner","alwaysOutputData":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Bluesky Credentials","type":"main","index":0}]]},"Set Bluesky Credentials":{"main":[[{"node":"Create Bluesky Session","type":"main","index":0}]]},"Create Bluesky Session":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date & Time3","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Notification Date UNIX","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Date & Time3":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Notification Date UNIX":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"If":{"main":[[{"node":"Send message and wait for response1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"If","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Set Bluesky Credentials","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Formatter","type":"ai_languageModel","index":0}]]},"Send message and wait for response1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Formatter","type":"ai_tool","index":0}]]},"Edit Fields2":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Formatter","type":"ai_memory","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Planner","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create Reply Text1","type":"main","index":0}],[{"node":"Delete table or rows","type":"main","index":0}]]},"Create Reply Text1":{"main":[[{"node":"Create Reply1","type":"main","index":0}]]},"Create Reply1":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Executor","type":"ai_languageModel","index":0}]]},"MCP Client1":{"ai_tool":[[{"node":"Executor","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Executor","type":"ai_memory","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Planner","type":"ai_languageModel","index":0}]]},"MCP Client2":{"ai_tool":[[{"node":"Planner","type":"ai_tool","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"Planner","type":"ai_memory","index":0}]]},"Formatter":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Executor":{"main":[[{"node":"Formatter","type":"main","index":0}]]},"Planner":{"main":[[{"node":"Executor","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-10-20T21:21:07.645-04:00","Readable date":"October 20th 2025, 9:21:07 pm","Readable time":"9:21:07 pm","Day of week":"Monday","Year":"2025","Month":"October","Day of month":"20","Hour":"21","Minute":"21","Second":"07","Timezone":"America/New_York (UTC-04:00)"}}]},"versionId":"7f2e0683-f255-4cf1-8a35-b671e9ecefc3","triggerCount":2,"shared":[{"createdAt":"2025-10-19T21:43:40.934Z","updatedAt":"2025-10-19T21:43:40.934Z","role":"workflow:owner","workflowId":"4YbWdF9uMDI8ESvt","projectId":"u9kYCfFU7pgjjx9U"}],"tags":[]}