workflows/My workflow 2.json
{"createdAt":"2025-10-22T02:38:50.685Z","updatedAt":"2025-10-22T03:02:43.000Z","id":"RKWziowZDdnW5NeE","name":"My workflow 2","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1872,-176],"id":"5357eb55-4442-452b-8e9e-4a94d96c8cc3","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"80cc47d6-6cb3-444e-8713-aa3c1f3c70b6","name":"GitHub","type":"n8n-nodes-base.github","position":[-928,-96],"typeVersion":1,"alwaysOutputData":true,"webhookId":"82bd9854-4909-4a2b-8073-df1e0da99960","credentials":{"githubApi":{"id":"YVsyP3mavMwNL8bt","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"FalxeAxiomKSC"},{"name":"repo.name","value":"n8n-backup"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"9eda3939-8b30-43bc-bf11-7aa931e9f96a","name":"Globals","type":"n8n-nodes-base.set","position":[-1632,-176],"typeVersion":1},{"parameters":{"options":{}},"id":"dc8c1e1d-5d2f-4365-bf87-3445fb871070","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-1168,-176],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"b1dfbe33-3988-4874-9f41-eb7f440d9765","name":"If","type":"n8n-nodes-base.if","position":[-736,-96],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"23490fc1-bba4-4a77-998b-8a97c2d69f91","name":"If1","type":"n8n-nodes-base.if","position":[160,192],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"fcdcfc25-e737-4b03-9b5e-00fc143f292d","name":"Code","type":"n8n-nodes-base.code","position":[-176,-112],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"56c8488c-0129-4dbb-9bc6-95e660f07bcb","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[-544,64],"typeVersion":1,"webhookId":"ad4d21c4-a1f9-407b-a0ae-c12010815c6c","credentials":{"githubApi":{"id":"YVsyP3mavMwNL8bt","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"acae934a-87fa-4348-ae9d-4f6e128ed073","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[528,384],"typeVersion":1,"webhookId":"e193b25d-ac98-49f7-85ad-5acbe8dc2a7e","credentials":{"githubApi":{"id":"YVsyP3mavMwNL8bt","name":"GitHub account"}}},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"8111999f-7efd-42d5-8f5f-3bc5b8f06433","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[688,416],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"48f7785d-7096-45c9-b48f-201d98bc3068","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[304,192],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"6983755c-e02f-41b3-be01-3ca6798e5c3c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-432,96],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"d60d8e43-4519-464f-856f-5f429d20aadc","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-736,-192],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"89e13c50-834d-4909-befc-5f982482dc6d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-224,-208],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"a56a2965-eb15-497e-a432-e37d6011fd2d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1456,-272],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"f8c7df74-20df-4175-abcf-41c8d48acd02","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-1712,-32],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"befa1115-c39e-41d3-9ac1-7ffeb2497158","name":"n8n","type":"n8n-nodes-base.n8n","position":[-1392,-176],"typeVersion":1,"credentials":{"n8nApi":{"id":"l0Yz2bcZQEZS048q","name":"n8n account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1e282af5-9bd7-49c6-8ae9-ecac54221029","triggerCount":1,"shared":[{"createdAt":"2025-10-22T02:38:50.690Z","updatedAt":"2025-10-22T02:38:50.690Z","role":"workflow:owner","workflowId":"RKWziowZDdnW5NeE","projectId":"u9kYCfFU7pgjjx9U"}],"tags":[]}