workflows/RoA2 Events Poller.json
{"updatedAt":"2026-03-31T01:57:54.169Z","createdAt":"2026-03-31T01:55:19.252Z","id":"447oNUgGJE1NEVSt","name":"RoA2 Events Poller","active":false,"isArchived":false,"nodes":[{"id":"node-001","name":"Poll Every 6 Hours","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}}},{"id":"node-002","name":"Calculate Date Window","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"parameters":{"jsCode":"const now = Math.floor(Date.now() / 1000);\nconst sevenDaysAhead = now + (7 * 86400);\nreturn [{ json: { afterDate: now, beforeDate: sevenDaysAhead } }];"}},{"id":"node-003","name":"Fetch Upcoming Tournaments","type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[480,0],"parameters":{"variables":"={ \"afterDate\": {{ $json.afterDate }}, \"beforeDate\": {{ $json.beforeDate }} }","responseFormat":"string"},"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"id":"node-004","name":"Split Tournament Nodes","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[720,0],"parameters":{"fieldToSplitOut":"data.data.tournaments.nodes","options":{}}},{"id":"node-005","name":"Filter 32+ Entrants","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[960,0],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-001","leftValue":"={{ $json.numAttendees }}","rightValue":32,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"}}},{"id":"node-006","name":"Prepare Event Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,0],"parameters":{"jsCode":"return [{ json: {\n  event_id: String($json.id),\n  tournament_name: $json.name || '',\n  slug: $json.slug || '',\n  start_at: $json.startAt || 0,\n  reg_closes_at: $json.registrationClosesAt || 0,\n  num_attendees: $json.numAttendees || 0,\n  city: $json.city || '',\n  addr_state: $json.addrState || '',\n  country_code: $json.countryCode || ''\n}}];"}},{"id":"node-007","name":"Upsert to Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1440,0],"parameters":{"operation":"insert","schema":{"__rl":true,"value":"public","mode":"name"},"table":{"__rl":true,"value":"upcoming_roa2_events","mode":"name"},"mappingMode":"autoMapInputData","options":{"skipOnConflict":true,"queryBatching":"independently"}},"credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"id":"node-008","name":"Aggregate All","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1680,0],"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"events","options":{}}},{"id":"node-009","name":"Query Unposted Events","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1920,0],"parameters":{"operation":"executeQuery","query":"SELECT event_id, tournament_name, slug, start_at, reg_closes_at, num_attendees, city, addr_state, country_code FROM upcoming_roa2_events WHERE bluesky_posted = false AND start_at > EXTRACT(EPOCH FROM NOW()) ORDER BY start_at ASC","options":{}},"credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"id":"node-010","name":"Format Bluesky Post Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,0],"parameters":{"jsCode":"// Post format — update this to customize\nconst e = $json;\nconst startDate = new Date(e.start_at * 1000).toLocaleDateString('en-US', { weekday:'short', month:'short', day:'numeric', year:'numeric' });\nconst regCloseDate = e.reg_closes_at ? new Date(e.reg_closes_at * 1000).toLocaleDateString('en-US', { month:'short', day:'numeric' }) : null;\nconst parts = [e.city, e.addr_state];\nif (e.country_code && e.country_code !== 'US') parts.push(e.country_code);\nconst location = parts.filter(Boolean).join(', ');\nconst link = `https://www.start.gg/${e.slug}`;\nconst lines = [\n  '🏆 Upcoming RoA2 Tournament!',\n  '',\n  e.tournament_name,\n  `📅 ${startDate}${location ? '  📍 ' + location : ''}`,\n  `👥 ${e.num_attendees} entrants registered`,\n];\nif (regCloseDate) lines.push(``, `Register by ${regCloseDate}!`);\nlines.push(`🔗 ${link}`);\nconst postText = lines.join('\\n');\nreturn [{ json: { ...e, postText, link } }];"}},{"id":"node-011","name":"Set Bluesky Credentials","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2400,0],"parameters":{"assignments":{"assignments":[{"id":"bsky-001","name":"BlueskyHandle","type":"string","value":"rivals2statbot.bsky.social"},{"id":"bsky-002","name":"BlueskyAppPassword","type":"string","value":"#m;:vBeyRiWE83K"}]},"options":{}}},{"id":"node-012","name":"Create Bluesky Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,0],"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.server.createSession","sendBody":true,"bodyParameters":{"parameters":[{"name":"identifier","value":"={{ $json.BlueskyHandle }}"},{"name":"password","value":"={{ $json.BlueskyAppPassword }}"}]},"options":{}}},{"id":"node-013","name":"Build Bluesky Record","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,0],"parameters":{"jsCode":"const postText = $('Format Bluesky Post Text').item.json.postText;\nconst eventId = $('Format Bluesky Post Text').item.json.event_id;\nconst session = $('Create Bluesky Session').item.json;\nreturn [{ json: {\n  accessJwt: session.accessJwt,\n  event_id: eventId,\n  recordBody: JSON.stringify({\n    repo: session.did,\n    collection: 'app.bsky.feed.post',\n    record: {\n      '$type': 'app.bsky.feed.post',\n      text: postText,\n      createdAt: new Date().toISOString()\n    }\n  })\n}}];"}},{"id":"node-014","name":"Post to Bluesky","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3120,0],"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessJwt }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.recordBody }}","options":{}}},{"id":"node-015","name":"Mark Bluesky Posted","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3360,0],"parameters":{"operation":"executeQuery","query":"UPDATE upcoming_roa2_events SET bluesky_posted = true WHERE event_id = $1","options":{"queryParameters":"={{ [$('Build Bluesky Record').item.json.event_id] }}"}},"credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}}],"connections":{"Poll Every 6 Hours":{"main":[[{"node":"Calculate Date Window","type":"main","index":0}]]},"Calculate Date Window":{"main":[[{"node":"Fetch Upcoming Tournaments","type":"main","index":0}]]},"Fetch Upcoming Tournaments":{"main":[[{"node":"Split Tournament Nodes","type":"main","index":0}]]},"Split Tournament Nodes":{"main":[[{"node":"Filter 32+ Entrants","type":"main","index":0}]]},"Filter 32+ Entrants":{"main":[[{"node":"Prepare Event Data","type":"main","index":0}]]},"Prepare Event Data":{"main":[[{"node":"Upsert to Postgres","type":"main","index":0}]]},"Upsert to Postgres":{"main":[[{"node":"Aggregate All","type":"main","index":0}]]},"Aggregate All":{"main":[[{"node":"Query Unposted Events","type":"main","index":0}]]},"Query Unposted Events":{"main":[[{"node":"Format Bluesky Post Text","type":"main","index":0}]]},"Format Bluesky Post Text":{"main":[[{"node":"Set Bluesky Credentials","type":"main","index":0}]]},"Set Bluesky Credentials":{"main":[[{"node":"Create Bluesky Session","type":"main","index":0}]]},"Create Bluesky Session":{"main":[[{"node":"Build Bluesky Record","type":"main","index":0}]]},"Build Bluesky Record":{"main":[[{"node":"Post to Bluesky","type":"main","index":0}]]},"Post to Bluesky":{"main":[[{"node":"Mark Bluesky Posted","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"0c54e07b-38aa-4656-b308-01b576b33e4e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-31T01:55:19.255Z","createdAt":"2026-03-31T01:55:19.255Z","role":"workflow:owner","workflowId":"447oNUgGJE1NEVSt","projectId":"u9kYCfFU7pgjjx9U"}],"activeVersion":null,"tags":[]}