workflows/RoA2 Reddit Digest.json
{"updatedAt":"2026-03-31T02:02:31.099Z","createdAt":"2026-03-31T01:58:42.240Z","id":"aldxMcYqhdtqAxpG","name":"RoA2 Reddit Digest","active":false,"isArchived":false,"nodes":[{"id":"rd-001","name":"Mon + Thu at 10am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 10 * * 1,4"}]}}},{"id":"rd-002","name":"Query Upcoming Events","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,0],"parameters":{"operation":"executeQuery","query":"SELECT event_id, tournament_name, slug, start_at, reg_closes_at, num_attendees, city, addr_state, country_code FROM upcoming_roa2_events WHERE reddit_posted = false AND start_at > EXTRACT(EPOCH FROM NOW()) ORDER BY start_at ASC LIMIT 20","options":{}},"credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}},{"id":"rd-005","name":"Format Reddit Digest","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,-80],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Build digest post — user can customize format\nconst items = $input.all();\nif (items.length === 0) return []; // No events this cycle\n\nconst events = items.map(i => i.json);\nconst today = new Date();\nconst endDate = new Date(today.getTime() + 7 * 86400 * 1000);\nconst dateRange = `${today.toLocaleDateString('en-US',{month:'short',day:'numeric'})}–${endDate.toLocaleDateString('en-US',{month:'short',day:'numeric',year:'numeric'})}`;\n\nconst title = `Upcoming Rivals of Aether 2 Tournaments — ${dateRange}`;\n\nconst rows = events.map(e => {\n  const date = new Date(e.start_at * 1000).toLocaleDateString('en-US',{weekday:'short',month:'short',day:'numeric'});\n  const loc = [e.city, e.addr_state].filter(Boolean).join(', ') || (e.country_code && e.country_code !== 'US' ? e.country_code : 'Online');\n  const link = `https://www.start.gg/${e.slug}`;\n  return `| [${e.tournament_name}](${link}) | ${date} | ${loc} | ${e.num_attendees} |`;\n}).join('\\n');\n\nconst body = [\n  `Here are the upcoming Rivals of Aether 2 tournaments with **32+ entrants** in the next 7 days:`,\n  ``,\n  `| Tournament | Date | Location | Entrants |`,\n  `|---|---|---|---|`,\n  rows,\n  ``,\n  `---`,\n  `*Auto-posted. Comment below or DM if any corrections needed.*`\n].join('\\n');\n\nconst eventIds = events.map(e => e.event_id);\nreturn [{ json: { title, body, eventIds } }];"}},{"id":"rd-006","name":"Create Test Post","type":"n8n-nodes-base.reddit","typeVersion":1,"position":[1200,-80],"parameters":{"subreddit":"r/R2SBTest","title":"={{ $json.title }}","text":"={{ $json.body }}"},"credentials":{"redditOAuth2Api":{"id":"Sw4nk0bntkt3ohAI","name":"Reddit account"}}},{"id":"rd-007","name":"Get Test Post URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,-80],"parameters":{"jsCode":"const r = $json;\nconst testUrl = r?.data?.url || r?.url || r?.json?.data?.url || \"https://www.reddit.com/r/R2SBTest/\";\nreturn [{ json: { testUrl } }];"}},{"id":"rd-008","name":"Send for Approval","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1680,-80],"parameters":{"operation":"sendAndWait","chatId":"6118412167","message":"=📋 *RoA2 Reddit Digest* is ready for review\n\n{{ $('Format Reddit Digest').item.json.eventIds.length }} events listed\n\nTest post: {{ $json.testUrl }}","approvalOptions":{"values":{"approvalType":"double","disapproveLabel":"❌ Skip"}},"options":{}},"credentials":{"telegramApi":{"id":"exv51YJCWq4uWnFE","name":"GraphQL Bot"}}},{"id":"rd-009","name":"IF Approved","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,-80],"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"rd-cond-002","leftValue":"={{ $json.data.approved }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"rd-010","name":"Post to Production","type":"n8n-nodes-base.reddit","typeVersion":1,"position":[2160,-160],"parameters":{"subreddit":"r/RivalsOfAether","title":"={{ $('Format Reddit Digest').item.json.title }}","text":"={{ $('Format Reddit Digest').item.json.body }}"},"credentials":{"redditOAuth2Api":{"id":"Sw4nk0bntkt3ohAI","name":"Reddit account"}}},{"id":"rd-011","name":"Mark Reddit Posted","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2400,-160],"parameters":{"operation":"executeQuery","query":"UPDATE upcoming_roa2_events SET reddit_posted = true WHERE event_id = ANY($1::text[])","options":{"queryParameters":"={{ [$('Format Reddit Digest').item.json.eventIds] }}"}},"credentials":{"postgres":{"id":"8gFzPH7b79rJlDPN","name":"Postgres account"}}}],"connections":{"Mon + Thu at 10am":{"main":[[{"node":"Query Upcoming Events","type":"main","index":0}]]},"Format Reddit Digest":{"main":[[{"node":"Create Test Post","type":"main","index":0}]]},"Create Test Post":{"main":[[{"node":"Get Test Post URL","type":"main","index":0}]]},"Get Test Post URL":{"main":[[{"node":"Send for Approval","type":"main","index":0}]]},"Send for Approval":{"main":[[{"node":"IF Approved","type":"main","index":0}]]},"IF Approved":{"main":[[{"node":"Post to Production","type":"main","index":0}]]},"Post to Production":{"main":[[{"node":"Mark Reddit Posted","type":"main","index":0}]]},"Query Upcoming Events":{"main":[[{"node":"Format Reddit Digest","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"f1e6b29a-58bf-45fa-9855-9f1aae8c45a8","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-31T01:58:42.243Z","createdAt":"2026-03-31T01:58:42.243Z","role":"workflow:owner","workflowId":"aldxMcYqhdtqAxpG","projectId":"u9kYCfFU7pgjjx9U"}],"activeVersion":null,"tags":[]}