workflows/ROA2 Approval Subworkflow.json
{"updatedAt":"2026-03-17T01:40:35.699Z","createdAt":"2026-03-17T00:53:16.438Z","id":"7VqEi5YUTsdG94IK","name":"ROA2 Approval Subworkflow","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"sub-0001","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"jsCode":"const sd = $getWorkflowStaticData('global');\nif (!sd.postedIds) sd.postedIds = [];\nconst eventId = String($json.eventId);\nif (sd.postedIds.includes(eventId)) return []; // already posted\nreturn [$input.item];"},"id":"sub-0002","name":"Check Dedup","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"subreddit":"r/R2SBTest","title":"={{ $('Execute Workflow Trigger').item.json.title }}","text":"={{ $('Execute Workflow Trigger').item.json.body }}"},"id":"sub-0003","name":"Create Test Post","type":"n8n-nodes-base.reddit","typeVersion":1,"position":[448,0],"credentials":{"redditOAuth2Api":{"id":"Sw4nk0bntkt3ohAI","name":"Reddit account"}}},{"parameters":{"jsCode":"const r = $json;\nconst testUrl = r?.data?.url || r?.url || r?.json?.data?.url || 'https://www.reddit.com/r/R2SBTest/';\nreturn [{ json: { testUrl } }];"},"id":"sub-0004","name":"Get Test Post URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"subreddit":"r/RivalsofAether","title":"={{ $('Execute Workflow Trigger').item.json.title }}","text":"={{ $('Execute Workflow Trigger').item.json.body }}"},"id":"sub-0008","name":"Post to Production","type":"n8n-nodes-base.reddit","typeVersion":1,"position":[1552,-96],"credentials":{"redditOAuth2Api":{"id":"Sw4nk0bntkt3ohAI","name":"Reddit account"}}},{"parameters":{"jsCode":"const sd = $getWorkflowStaticData('global');\nif (!sd.postedIds) sd.postedIds = [];\nconst eventId = String($('Execute Workflow Trigger').item.json.eventId);\nif (!sd.postedIds.includes(eventId)) sd.postedIds.push(eventId);\nreturn [{ json: { success: true, postedEventId: eventId } }];"},"id":"sub-0009","name":"Mark as Posted","type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,-96]},{"parameters":{"operation":"sendAndWait","chatId":"6118412167","message":"=🏆 *{{ $('Execute Workflow Trigger').item.json.tournamentName }}* is ready for review\n\nTest post: {{ $('Get Test Post URL').item.json.testUrl }}","approvalOptions":{"values":{"approvalType":"double","disapproveLabel":"❌ Skip"}},"options":{}},"id":"sub-0010","name":"Send and Wait for Approval","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,0],"webhookId":"cbf27fb3-1f04-4cb2-af15-4ab3710b28f8","credentials":{"telegramApi":{"id":"exv51YJCWq4uWnFE","name":"GraphQL Bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.data.approved }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"f48dec1e-ab72-4ee0-b14f-a95227d53bd7"}],"combinator":"and"},"renameOutput":true,"outputKey":"true"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"afe440a0-c4e9-4e50-852c-72ec923109c1","leftValue":"={{ $json.data.approved }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"false"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1088,0],"id":"a94b53d2-287d-4123-ba57-d31b95969937","name":"Switch"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Check Dedup","type":"main","index":0}]]},"Check Dedup":{"main":[[{"node":"Create Test Post","type":"main","index":0}]]},"Create Test Post":{"main":[[{"node":"Get Test Post URL","type":"main","index":0}]]},"Post to Production":{"main":[[{"node":"Mark as Posted","type":"main","index":0}]]},"Get Test Post URL":{"main":[[{"node":"Send and Wait for Approval","type":"main","index":0}]]},"Send and Wait for Approval":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Post to Production","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"global":{"postedIds":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"title":"Congratulations to the winner of EU Grind Cord tournament #3!","body":"#[Top 8 Bracket](https://www.start.gg/tournament/eu-grind-cord-tournament-3/event/rivals-of-aether-ii-singles)\n\n---\n\nROA2 Singles — 51 entrants\n\n---\n\n|**Place**|**Player**|**Sent to Losers by**|**Eliminated by**|\n:--|:--|:--|:--|\n|**1st**|**Genarog** [Fleet](#ROA2-Fleet)|---|---|\n|**2nd**|**stuge** [Orcane](#ROA2-Orcane)|---|**Genarog**|\n|**3rd**|NEP **Neylax**|**stuge**|**Genarog**|\n|**4th**|**DonCascone**|**Neylax**|**Neylax**|\n|**5th**|LS99 **Forskeren**|**Genarog**|**DonCascone**|\n|**5th**|**Metabenn**|**DonCascone**|**Neylax**|\n|**7th**|**Midmol**|**TheGamerPabu**|**Metabenn**|\n|**7th**|**Vyre (Tsunazoz)**|**Genarog**|**DonCascone**|\n|**9th**|esports **fishingman57**|**Genarog**|**Midmol**|\n|**9th**|AoC **Guthix**|**Raven**|**DonCascone**|\n|**9th**|plan-B **Raven**|**Forskeren**|**Metabenn**|\n|**9th**|**TheGamerPabu**|**stuge**|**Vyre (Tsunazoz)**|\n|**13th**|**treehugger**|**fishingman57**|**Vyre (Tsunazoz)**|\n|**13th**|**Myst**|**Forskeren**|**Guthix**|\n|**13th**|**NeqoZ**|**Neylax**|**Metabenn**|\n|**13th**|Dagiset // T4E **Lily**|**stuge**|**Midmol**|\n\n---\n\n#Grand Finals — Bracket Reset\n\n**Genarog** defeats **stuge**\n\n**Grand Finals:**\n\n[Fleet](#ROA2-Fleet) Genarog | |3-0| | [Orcane](#ROA2-Orcane) stuge\n---:|:--:|:--:|:--:|:---\n**W**|[Fleet](#ROA2-Fleet)|N/A|[Orcane](#ROA2-Orcane)|---\n**W**|[Fleet](#ROA2-Fleet)|N/A|[Orcane](#ROA2-Orcane)|---\n**W**|[Fleet](#ROA2-Fleet)|N/A|[Orcane](#ROA2-Orcane)|---\n\n**Bracket Reset:**\n\n[Fleet](#ROA2-Fleet) Genarog | |3-2| | [Orcane](#ROA2-Orcane) stuge\n---:|:--:|:--:|:--:|:---\n---|[Fleet](#ROA2-Fleet)|N/A|[Orcane](#ROA2-Orcane)|**W**\n**W**|[Fleet](#ROA2-Fleet)|N/A|[Orcane](#ROA2-Orcane)|---\n**W**|[Fleet](#ROA2-Fleet)|N/A|[Orcane](#ROA2-Orcane)|---\n---|[Fleet](#ROA2-Fleet)|N/A|[Orcane](#ROA2-Orcane)|**W**\n**W**|[Fleet](#ROA2-Fleet)|N/A|[Orcane](#ROA2-Orcane)|---","eventId":1580337,"tournamentName":"EU Grind Cord tournament #3"},"pairedItem":{"item":0}},{"json":{"title":"Congratulations to the winner of Hitfall 4.5!","body":"#[Top 8 Bracket](https://www.start.gg/tournament/hitfall-4-5/event/roa2-singles)\n\n---\n\nROA2 Singles — 57 entrants\n\n---\n\n|**Place**|**Player**|**Sent to Losers by**|**Eliminated by**|\n:--|:--|:--|:--|\n|**1st**|RBE **humanlime** [Wrastor](#ROA2-Wrastor)|---|---|\n|**2nd**|**Yoda Cage** [Absa](#ROA2-Absa)|**humanlime**|**humanlime**|\n|**3rd**|**HyperFlame**|**humanlime**|**Yoda Cage**|\n|**4th**|**nard**|**Yoda Cage**|**HyperFlame**|\n|**5th**|**Cora**|**HyperFlame**|**nard**|\n|**5th**|**Lucius**|**humanlime**|**HyperFlame**|\n|**7th**|TCS **elkiies**|**humanlime**|**Cora**|\n|**7th**|The Strong One **HamPolo**|**Yoda Cage**|**Lucius**|\n|**9th**|**Thulium**|**nard**|**Lucius**|\n|**9th**|**OreoCookie**|**elkiies**|**Cora**|\n|**9th**|**Searing Arrow**|**nard**|**elkiies**|\n|**9th**|SSS **LittleBoi**|**Cora**|**HamPolo**|\n|**13th**|KornDog **Goose**|**Thulium**|**LittleBoi**|\n|**13th**|**Iota**|**HamPolo**|**Lucius**|\n|**13th**|Dairy **malk**|**Yoda Cage**|**OreoCookie**|\n|**13th**|**GeekyDave**|**LittleBoi**|**Searing Arrow**|\n\n---\n\n#Grand Finals\n\n**humanlime**\n\n***vs***\n\n**Yoda Cage** (L)\n\n[Wrastor](#ROA2-Wrastor) humanlime | |3-0| | [Absa](#ROA2-Absa) Yoda Cage (L)\n---:|:--:|:--:|:--:|:---\n**W**|[Wrastor](#ROA2-Wrastor)|N/A|[Absa](#ROA2-Absa)|---\n**W**|[Wrastor](#ROA2-Wrastor)|N/A|[Absa](#ROA2-Absa)|---\n**W**|[Wrastor](#ROA2-Wrastor)|N/A|[Absa](#ROA2-Absa)|---","eventId":1523765,"tournamentName":"Hitfall 4.5"},"pairedItem":{"item":1}}]},"versionId":"d585d9f5-4e07-486d-8d2a-93f54e8bde31","activeVersionId":"69a5dfd7-a48e-4792-98be-dfff062c2981","triggerCount":0,"shared":[{"updatedAt":"2026-03-17T00:53:16.442Z","createdAt":"2026-03-17T00:53:16.442Z","role":"workflow:owner","workflowId":"7VqEi5YUTsdG94IK","projectId":"u9kYCfFU7pgjjx9U"}],"activeVersion":{"updatedAt":"2026-03-17T01:12:56.000Z","createdAt":"2026-03-17T01:11:38.691Z","versionId":"69a5dfd7-a48e-4792-98be-dfff062c2981","workflowId":"7VqEi5YUTsdG94IK","nodes":[{"parameters":{},"id":"sub-0001","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"jsCode":"const sd = $getWorkflowStaticData('global');\nif (!sd.postedIds) sd.postedIds = [];\nconst eventId = String($json.eventId);\nif (sd.postedIds.includes(eventId)) return []; // already posted\nreturn [$input.item];"},"id":"sub-0002","name":"Check Dedup","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"subreddit":"r/R2SBTest","title":"={{ $('Execute Workflow Trigger').item.json.title }}","text":"={{ $('Execute Workflow Trigger').item.json.body }}"},"id":"sub-0003","name":"Create Test Post","type":"n8n-nodes-base.reddit","typeVersion":1,"position":[448,0],"credentials":{"redditOAuth2Api":{"id":"Sw4nk0bntkt3ohAI","name":"Reddit account"}}},{"parameters":{"jsCode":"const r = $json;\nconst testUrl = r?.data?.url || r?.url || r?.json?.data?.url || 'https://www.reddit.com/r/R2SBTest/';\nreturn [{ json: { testUrl } }];"},"id":"sub-0004","name":"Get Test Post URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"if-approve","leftValue":"={{ $json.data }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"sub-0007","name":"IF Approved","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1088,0]},{"parameters":{"subreddit":"r/RivalsOfAether","title":"={{ $('Execute Workflow Trigger').item.json.title }}","text":"={{ $('Execute Workflow Trigger').item.json.body }}"},"id":"sub-0008","name":"Post to Production","type":"n8n-nodes-base.reddit","typeVersion":1,"position":[1344,-96],"credentials":{"redditOAuth2Api":{"id":"Sw4nk0bntkt3ohAI","name":"Reddit account"}},"disabled":true},{"parameters":{"jsCode":"const sd = $getWorkflowStaticData('global');\nif (!sd.postedIds) sd.postedIds = [];\nconst eventId = String($('Execute Workflow Trigger').item.json.eventId);\nif (!sd.postedIds.includes(eventId)) sd.postedIds.push(eventId);\nreturn [{ json: { success: true, postedEventId: eventId } }];"},"id":"sub-0009","name":"Mark as Posted","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-96],"disabled":true},{"parameters":{"operation":"sendAndWait","chatId":"6118412167","message":"=🏆 *{{ $('Execute Workflow Trigger').item.json.tournamentName }}* is ready for review\n\nTest post: {{ $('Get Test Post URL').item.json.testUrl }}","approvalOptions":{"values":{"approvalType":"double","disapproveLabel":"❌ Skip"}},"options":{}},"id":"sub-0010","name":"Send and Wait for Approval","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,0],"webhookId":"cbf27fb3-1f04-4cb2-af15-4ab3710b28f8","credentials":{"telegramApi":{"id":"exv51YJCWq4uWnFE","name":"GraphQL Bot"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Check Dedup","type":"main","index":0}]]},"Check Dedup":{"main":[[{"node":"Create Test Post","type":"main","index":0}]]},"Create Test Post":{"main":[[{"node":"Get Test Post URL","type":"main","index":0}]]},"IF Approved":{"main":[[{"node":"Post to Production","type":"main","index":0}]]},"Post to Production":{"main":[[{"node":"Mark as Posted","type":"main","index":0}]]},"Get Test Post URL":{"main":[[{"node":"Send and Wait for Approval","type":"main","index":0}]]},"Send and Wait for Approval":{"main":[[{"node":"IF Approved","type":"main","index":0}]]}},"authors":"Trent Nolen","name":"Version 69a5dfd7","description":"","autosaved":false},"tags":[]}