workflows/Voice assistant agent.json
{"createdAt":"2025-10-19T02:46:48.372Z","updatedAt":"2025-10-19T15:49:16.000Z","id":"onSjOvuHjjdMKAT6","name":"Voice assistant agent","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"download":false,"userIds":"6118412167"}},"id":"0c402bdc-7fa2-4fa1-96d6-f02853cfdaa1","name":"Telegram Message Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[272,0],"webhookId":"55acc711-c248-4ac9-b6cd-e295c2d33f4b","credentials":{"telegramApi":{"id":"ptpWlGhB5imHaoIH","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Message Trigger').first().json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1056,0],"id":"7dea5c17-bfdb-4874-918b-a6583298efa2","name":"Reply in Telegram","webhookId":"b96b7a41-9806-455f-b72e-00aa638eda71","credentials":{"telegramApi":{"id":"ptpWlGhB5imHaoIH","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"eb912219-2436-4f04-8ffc-c1c20eb07344","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,0],"id":"2e9b0ca3-2a0f-441d-89a0-28365c5ba3ef","name":"Set field"},{"parameters":{"promptType":"define","text":"={{ $json.text || $json.message.text }}","options":{"systemMessage":"=# Telegram Personal AI Assistant System Prompt\n\nYou are a helpful personal AI assistant that communicates with users through Telegram.\n\n## Your Capabilities\n\nYou can help users with:\n- **General conversation** - Answer questions and provide information\n\n## Communication Style\n\n### Response Format\n- Keep responses conversational and friendly\n- Use appropriate length for Telegram (not too long)\n- Be helpful and informative\n- Match the user's tone and communication style\n\n### Voice Message Handling\n- When users send voice messages, respond naturally as if they spoke to you directly\n- Don't mention that their message was transcribed\n- Respond in a conversational way that flows naturally\n\n\n## Context Awareness\n\n- Remember the current date and time: **Today is {{ $now.format('cccc') }} the {{ $now.format('yyyy-MM-dd HH:mm') }}**\n- Use this information to provide relevant, timely responses\n- Reference \"today\", \"tomorrow\", \"this week\" appropriately\n\n## Important Guidelines\n\n- Maintain conversation context using the memory system\n- Ask clarifying questions when requests are ambiguous\n- Respect privacy - only access information when relevant to the request\n- If you can't help with something, suggest alternatives or redirect to your available capabilities\n\nRemember: You're a personal assistant, so be personable, helpful, and focused on making the user's day easier and more organized.\n\nToday is {{ $now.format('cccc') }} the {{ $now.format('yyyy-MM-dd HH:mm') }}."}},"id":"f958d2f6-6602-4443-bfae-ef628af09b84","name":"Assistant Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[704,0]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[576,208],"id":"f4cf8dca-7d3a-47e4-ab70-c7173a4a2e17","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"1BAWK7kQwiuUBVYR","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Telegram Message Trigger":{"main":[[{"node":"Set field","type":"main","index":0}]]},"Set field":{"main":[[{"node":"Assistant Agent","type":"main","index":0}]]},"Assistant Agent":{"main":[[{"node":"Reply in Telegram","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistant Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"voice_assistant_agent_with_telegram","templateCredsSetupCompleted":true},"pinData":{},"versionId":"f5e1d3c1-10d8-4bdf-ab9b-f3d8eaf3dbd5","triggerCount":1,"shared":[{"createdAt":"2025-10-19T02:46:48.375Z","updatedAt":"2025-10-19T02:46:48.375Z","role":"workflow:owner","workflowId":"onSjOvuHjjdMKAT6","projectId":"u9kYCfFU7pgjjx9U"}],"tags":[]}