workflows/Weekly ROA2 Reddit Recap.json
{"updatedAt":"2026-03-16T04:25:53.035Z","createdAt":"2026-03-15T22:27:54.980Z","id":"1IGKjLUBzuUV2AGm","name":"Weekly ROA2 Reddit Recap","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"id":"a1b2c3d4-0001-0001-0001-000000000001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"rc1","name":"client_id","value":"YOUR_REDDIT_CLIENT_ID","type":"string"},{"id":"rc2","name":"client_secret","value":"YOUR_REDDIT_CLIENT_SECRET","type":"string"},{"id":"rc3","name":"username","value":"YOUR_REDDIT_USERNAME","type":"string"},{"id":"rc4","name":"password","value":"YOUR_REDDIT_PASSWORD","type":"string"}]},"options":{}},"id":"a1b2c3d4-0002-0002-0002-000000000002","name":"Set Reddit Credentials","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0]},{"parameters":{"jsCode":"const now = Math.floor(Date.now() / 1000);\nconst lookback = now - (4 * 24 * 60 * 60);\nreturn [{ json: { now, weekAgo: lookback } }];"},"id":"a1b2c3d4-0003-0003-0003-000000000003","name":"Get Timestamps","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"query ($afterDate: Timestamp!, $beforeDate: Timestamp!) { tournaments(query: { perPage: 500, filter: { videogameIds: [53945], afterDate: $afterDate, beforeDate: $beforeDate } }) { nodes { id name slug endAt numAttendees events(filter: { videogameId: 53945, type: [1] }) { id name numEntrants } } } }","variables":"={ \"afterDate\": {{ $json.weekAgo }}, \"beforeDate\": {{ $json.now }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"id":"a1b2c3d4-0004-0004-0004-000000000004","name":"Fetch ROA2 Tournaments","type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[672,0],"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"fieldToSplitOut":"data.data.tournaments.nodes","options":{"disableDotNotation":false,"destinationFieldName":"","includeBinary":false}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[896,0],"id":"580dca33-d5fa-43da-b3c9-fac7a59e9dc8","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1603c293-37d7-4973-8ce4-862e88a9e742","leftValue":"={{ Math.max(...($json.events || []).map(e => e.numEntrants || 0)) }}","rightValue":50,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[1120,0],"id":"8d23ab22-d20e-4a9e-bfff-f79c87576e36","name":"Filter"},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"query EventDetails($eventId: ID!) { event(id: $eventId) { id name slug numEntrants tournament { name slug } standings(query: { perPage: 16, page: 1 }) { nodes { placement entrant { id name participants { player { gamerTag prefix } } } } } } }","variables":"={ \"eventId\": {{ ($json.events || []).reduce((best, e) => (e.numEntrants || 0) > (best.numEntrants || 0) ? e : best, ($json.events || [])[0] || {}).id }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"id":"a1b2c3d4-0009-0009-0009-000000000009","name":"Get Standings","type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[1344,0],"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const rawData = item.json.data;\n  const gql = typeof rawData === 'string' ? JSON.parse(rawData) : rawData;\n  const event = gql?.data?.event;\n  if (!event) continue;\n  const standings = (event.standings?.nodes || []).map(s => ({\n    placement: s.placement,\n    entrantId: s.entrant.id,\n    name: s.entrant.name,\n    tag: s.entrant?.participants?.[0]?.player?.gamerTag || s.entrant.name,\n    prefix: s.entrant?.participants?.[0]?.player?.prefix || ''\n  }));\n  results.push({ json: {\n    eventId: event.id || null,\n    eventSlug: event.slug || '',\n    numEntrants: event.numEntrants || null,\n    tournamentName: event.tournament?.name || '',\n    tournamentSlug: event.tournament?.slug || '',\n    standings\n  }});\n}\nreturn results;"},"id":"a1b2c3d4-0010-0010-0010-000000000010","name":"Process Standings","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,224]},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"query EventSets($eventId: ID!) { event(id: $eventId) { sets(page: 1, perPage: 100, filters: { state: 3 }) { nodes { id fullRoundText round completedAt winnerId slots { entrant { id name } } } } } }","variables":"={ \"eventId\": {{ $json.eventId }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"id":"a1b2c3d4-0011-0011-0011-000000000011","name":"Get Event Sets","type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[224,224],"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst allStandings = $('Process Standings').all();\nconst results = [];\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.postedIds) sd.postedIds = [];\n\nconst sanitizeName = name => (name || '').replace(/^.+\\|\\s*/, '').trim() || name;\n\nfunction roundScore(rt) {\n  const r = (rt || '').toLowerCase();\n  if (r.includes('bracket reset') || r.includes('true final') || (r.includes('grand final') && r.includes('reset'))) return 300;\n  if (r.includes('grand final')) return 200;\n  const base = r.includes('winner') ? 100 : 0;\n  if (r.includes('final') && !r.includes('semi') && !r.includes('quarter')) return base + 50;\n  if (r.includes('semi')) return base + 40;\n  if (r.includes('quarter')) return base + 30;\n  const m = r.match(/round (\\d+)/);\n  return base + (m ? parseInt(m[1]) : 10);\n}\n\nfor (let i = 0; i < items.length; i++) {\n  const standingsInfo = allStandings[i]?.json;\n  if (!standingsInfo) continue;\n  const { standings, tournamentName, tournamentSlug, eventId, eventSlug, numEntrants } = standingsInfo;\n\n  if (sd.postedIds.includes(String(eventId))) continue;\n\n  const rawData = items[i].json.data;\n  const gql = typeof rawData === 'string' ? JSON.parse(rawData) : rawData;\n  const allSets = gql?.data?.event?.sets?.nodes || [];\n  const sets = [...allSets].sort((a, b) => roundScore(a.fullRoundText) - roundScore(b.fullRoundText));\n\n  const entrantMap = {};\n  for (const s of standings) {\n    entrantMap[String(s.entrantId)] = {\n      tag: s.tag, prefix: s.prefix, placement: s.placement,\n      entrantId: s.entrantId, primaryCharacter: null,\n      sentToLosersBy: null, eliminatedBy: null\n    };\n  }\n  const top16 = new Set(Object.keys(entrantMap));\n  let gfSet = null;\n  let gfResetSet = null;\n\n  for (const set of sets) {\n    const rt = (set.fullRoundText || '').toLowerCase();\n    const wId = String(set.winnerId);\n    const slots = set.slots || [];\n    if (slots.length < 2) continue;\n    const id1 = String(slots[0].entrant?.id);\n    const id2 = String(slots[1].entrant?.id);\n    const loserId = id1 === wId ? id2 : id1;\n    const rawName = slots.find(sl => String(sl.entrant?.id) === wId)?.entrant?.name || 'Unknown';\n    const wTag = entrantMap[wId]?.tag || sanitizeName(rawName);\n\n    if (rt.includes('bracket reset') || rt.includes('true final') || (rt.includes('grand final') && rt.includes('reset'))) {\n      gfResetSet = set;\n    } else if (rt.includes('grand final')) {\n      gfSet = set;\n    }\n\n    if (!top16.has(loserId)) continue;\n    const loser = entrantMap[loserId];\n    if (!loser) continue;\n\n    const isLosers = rt.includes('loser');\n    const isGrandFinal = rt.includes('grand final') || rt.includes('bracket reset') || rt.includes('true final');\n\n    if (!isLosers && !isGrandFinal && !loser.sentToLosersBy) {\n      loser.sentToLosersBy = wTag;\n    }\n    if (isLosers || isGrandFinal) {\n      loser.eliminatedBy = wTag;\n    }\n  }\n\n  for (const id of Object.keys(entrantMap)) {\n    if (entrantMap[id].placement === 1) {\n      entrantMap[id].eliminatedBy = null;\n      entrantMap[id].sentToLosersBy = null;\n    }\n  }\n\n  let gfSetId = null, gfResetSetId = null;\n  let gfWinnerTag = null, gfLoserTag = null, gfWinnerEntrantId = null, gfLoserEntrantId = null;\n\n  if (gfSet) gfSetId = String(gfSet.id);\n  if (gfResetSet) gfResetSetId = String(gfResetSet.id);\n\n  const decisiveSet = gfResetSet || gfSet;\n  if (decisiveSet) {\n    const dWId = String(decisiveSet.winnerId);\n    const [s1, s2] = decisiveSet.slots || [];\n    const dId1 = String(s1?.entrant?.id);\n    const dId2 = String(s2?.entrant?.id);\n    const dLId = dId1 === dWId ? dId2 : dId1;\n    gfWinnerEntrantId = dWId;\n    gfLoserEntrantId = dLId;\n    gfWinnerTag = entrantMap[dWId]?.tag || sanitizeName(s1?.entrant?.name || '?');\n    gfLoserTag = entrantMap[dLId]?.tag || sanitizeName(s2?.entrant?.name || '?');\n  }\n\n  results.push({ json: {\n    tournamentName, tournamentSlug, eventId, eventSlug, numEntrants, standings, entrantMap,\n    gfSetId, gfResetSetId, gfWinnerTag, gfLoserTag, gfWinnerEntrantId, gfLoserEntrantId\n  }});\n}\nreturn results;"},"id":"a1b2c3d4-0012-0012-0012-000000000012","name":"Process Tournament Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,224]},{"parameters":{"authentication":"headerAuth","endpoint":"https://api.start.gg/gql/alpha","query":"query SetInfo($setId: ID!, $resetSetId: ID!) { gfSet: set(id: $setId) { id winnerId displayScore slots { entrant { id } standing { stats { score { label value } } } } games { orderNum winnerId stage { name } selections { entrant { id name } character { name } } } } gfReset: set(id: $resetSetId) { id winnerId displayScore slots { entrant { id } standing { stats { score { label value } } } } games { orderNum winnerId stage { name } selections { entrant { id name } character { name } } } } }","variables":"={ \"setId\": {{ $json.gfSetId }}, \"resetSetId\": {{ $json.gfResetSetId || $json.gfSetId }} }","responseFormat":"string","headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{$env.STARTGG_TOKEN}}"}]}},"id":"a1b2c3d4-0017-0017-0017-000000000017","name":"Get GF Game Data","type":"n8n-nodes-base.graphql","typeVersion":1.1,"position":[672,224],"credentials":{"httpHeaderAuth":{"id":"OHPOzv5xBBYipCbV","name":"Header Auth account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst allTD = $('Process Tournament Data').all();\nconst results = [];\n\nfunction processSetGames(set, leftId, rightId, entrantMap) {\n  if (!set) return { games: [], score: null };\n\n  let leftGames = null, rightGames = null;\n  if (set.slots) {\n    for (const slot of set.slots) {\n      const sId = String(slot.entrant?.id);\n      const val = slot.standing?.stats?.score?.value;\n      if (val !== null && val !== undefined) {\n        const games = Math.round(val);\n        if (sId === leftId) leftGames = games;\n        else if (sId === rightId) rightGames = games;\n      }\n    }\n  }\n\n  let score = null;\n  if (leftGames !== null && rightGames !== null) {\n    const leftStr = leftGames >= 0 ? String(leftGames) : 'DQ';\n    const rightStr = rightGames >= 0 ? String(rightGames) : 'DQ';\n    score = `${leftStr}-${rightStr}`;\n  }\n\n  const games = [];\n  for (const game of (set.games || [])) {\n    const gc = {};\n    for (const sel of (game.selections || [])) {\n      const sId = String(sel.entrant?.id);\n      gc[sId] = sel.character?.name || null;\n      if (entrantMap[sId] && gc[sId] && !entrantMap[sId].primaryCharacter) {\n        entrantMap[sId].primaryCharacter = gc[sId];\n      }\n    }\n    const gameWinnerId = game.winnerId ? String(game.winnerId) : null;\n    games.push({\n      order: game.orderNum,\n      stage: game.stage?.name || null,\n      leftChar: gc[leftId] || null,\n      rightChar: gc[rightId] || null,\n      leftWon: gameWinnerId !== null ? gameWinnerId === leftId : null\n    });\n  }\n  games.sort((a, b) => a.order - b.order);\n  return { games, score };\n}\n\nfor (let i = 0; i < items.length; i++) {\n  const td = allTD[i]?.json;\n  if (!td) continue;\n\n  const rawData = items[i].json.data;\n  const gql = typeof rawData === 'string' ? JSON.parse(rawData) : rawData;\n  const gfSetData = gql?.data?.gfSet;\n  const gfResetData = gql?.data?.gfReset;\n\n  const { tournamentName, tournamentSlug, eventId, eventSlug, numEntrants, standings, entrantMap,\n          gfWinnerTag, gfLoserTag, gfWinnerEntrantId, gfLoserEntrantId,\n          gfSetId, gfResetSetId } = td;\n\n  const leftId = String(gfWinnerEntrantId);\n  const rightId = String(gfLoserEntrantId);\n  const hasReset = gfResetSetId !== null && gfResetSetId !== gfSetId;\n\n  const { games: gfGames, score: gfScore } = processSetGames(gfSetData, leftId, rightId, entrantMap);\n\n  let gfResetGames = null, gfResetScore = null;\n  if (hasReset) {\n    const resetResult = processSetGames(gfResetData, leftId, rightId, entrantMap);\n    gfResetGames = resetResult.games;\n    gfResetScore = resetResult.score;\n  }\n\n  const gfWinnerChar = entrantMap[leftId]?.primaryCharacter || null;\n  const gfLoserChar = entrantMap[rightId]?.primaryCharacter || null;\n\n  results.push({ json: {\n    tournamentName, tournamentSlug, eventId, eventSlug, numEntrants, standings, entrantMap,\n    gfWinnerTag, gfLoserTag, gfWinnerEntrantId, gfLoserEntrantId,\n    gfGames, gfScore, gfResetGames, gfResetScore, hasReset,\n    gfWinnerChar, gfLoserChar\n  }});\n}\nreturn results;"},"id":"a1b2c3d4-0018-0018-0018-000000000018","name":"Process GF Games","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,224]},{"parameters":{"jsCode":"const allItems = $input.all();\nconst results = [];\n\nconst charMap = {\n  'Zetterburn': 'Zetterburn', 'Ranno': 'Ranno', 'Wrastor': 'Wrastor', 'Kragg': 'Kragg',\n  'Fleet': 'Fleet', 'Maypul': 'Maypul', 'Clairen': 'Clairen', 'Loxodont': 'Loxodont',\n  'Orcane': 'Orcane', 'Forsburn': 'Forsburn', 'Etalus': 'Etalus', 'Olympia': 'Olympia',\n  'Absa': 'Absa', 'Galvan': 'Galvan', 'La Reina': 'LaReina', 'Slade': 'Slade', 'Random': 'Random'\n};\nconst ci = name => { if (!name || !charMap[name]) return ''; return `[${name}](#ROA2-${charMap[name]})`; };\nconst sfx = { 1: 'st', 2: 'nd', 3: 'rd' };\nconst placeLabels = [1,2,3,4,5,5,7,7,9,9,9,9,13,13,13,13];\n\nfor (const item of allItems) {\n  const {\n    tournamentName, tournamentSlug, eventSlug, standings, entrantMap, numEntrants,\n    gfWinnerTag, gfLoserTag, gfWinnerEntrantId, gfLoserEntrantId,\n    gfGames, gfScore, gfResetGames, gfResetScore, hasReset,\n    gfWinnerChar, gfLoserChar\n  } = item.json;\n\n  const sorted = [...standings].sort((a, b) => a.placement - b.placement).slice(0, 16);\n\n  const rows = sorted.map((s, i) => {\n    const e = entrantMap[String(s.entrantId)] || {};\n    const p = placeLabels[i] || s.placement;\n    const placeStr = `**${p}${sfx[p] || 'th'}**`;\n    const px = s.prefix ? `${s.prefix} ` : '';\n    const icon = ci(e.primaryCharacter);\n    const player = icon ? `${px}**${s.tag}** ${icon}` : `${px}**${s.tag}**`;\n    const stl = e.sentToLosersBy ? `**${e.sentToLosersBy}**` : '---';\n    const elim = e.eliminatedBy ? `**${e.eliminatedBy}**` : '---';\n    return `|${placeStr}|${player}|${stl}|${elim}|`;\n  });\n\n  const bracketUrl = eventSlug\n    ? `https://www.start.gg/${eventSlug}`\n    : `https://www.start.gg/${tournamentSlug}/events`;\n\n  let gfSection = '';\n  if (gfWinnerTag && gfLoserTag && gfGames && gfGames.length > 0) {\n    const wi = ci(gfWinnerChar);\n    const li = ci(gfLoserChar);\n\n    const winnerFromLosers = entrantMap[String(gfWinnerEntrantId)]?.sentToLosersBy !== null;\n    const loserFromLosers = entrantMap[String(gfLoserEntrantId)]?.sentToLosersBy !== null;\n    const wLabel = winnerFromLosers ? ' (L)' : '';\n    const lLabel = loserFromLosers ? ' (L)' : '';\n\n    // 5-column game rows: leftStock | leftChar | Stage | rightChar | rightStock\n    const makeGameRows = (games) => (games || []).map(g => {\n      const stage = g.stage || 'N/A';\n      const leftChar = g.leftChar || gfWinnerChar;\n      const rightChar = g.rightChar || gfLoserChar;\n      const leftStock = g.leftWon === true ? '**W**' : '---';\n      const rightStock = g.leftWon === false ? '**W**' : '---';\n      return `${leftStock}|${ci(leftChar) || '?'}|${stage}|${ci(rightChar) || '?'}|${rightStock}`;\n    }).join('\\n');\n\n    const makeTable = (score, games) => {\n      const safeGames = games || [];\n      const displayScore = score || (safeGames.length > 0 ? `${safeGames.length}-?` : '?-?');\n      // 5-column header: leftPlayer | leftChar | score | rightChar | rightPlayer\n      const header = `${wi} ${gfWinnerTag}${wLabel} | |${displayScore}| | ${li} ${gfLoserTag}${lLabel}\\n---:|:--:|:--:|:--:|:---`;\n      const dataRows = safeGames.length === 0\n        ? `*No games recorded.* | | | | `\n        : makeGameRows(safeGames);\n      return `${header}\\n${dataRows}`;\n    };\n\n    if (hasReset) {\n      const gfPart = `**Grand Finals:**\\n\\n${makeTable(gfScore, gfGames)}`;\n      const resetPart = `\\n\\n**Bracket Reset:**\\n\\n${makeTable(gfResetScore, gfResetGames)}`;\n      gfSection = `\\n\\n---\\n\\n#Grand Finals \\u2014 Bracket Reset\\n\\n**${gfWinnerTag}**${wLabel} defeats **${gfLoserTag}**${lLabel}\\n\\n${gfPart}${resetPart}`;\n    } else {\n      gfSection = `\\n\\n---\\n\\n#Grand Finals\\n\\n**${gfWinnerTag}**${wLabel}\\n\\n***vs***\\n\\n**${gfLoserTag}**${lLabel}\\n\\n${makeTable(gfScore, gfGames)}`;\n    }\n  }\n\n  const entrantCount = numEntrants || sorted.length;\n  const title = `Congratulations to the winner of ${tournamentName}!`;\n  const body = `#[Top 8 Bracket](${bracketUrl})\\n\\n---\\n\\nROA2 Singles \\u2014 ${entrantCount} entrants\\n\\n---\\n\\n|**Place**|**Player**|**Sent to Losers by**|**Eliminated by**|\\n:--|:--|:--|:--|\\n${rows.join('\\n')}${gfSection}`;\n\n  results.push({ json: { title, body } });\n}\nreturn results;"},"id":"a1b2c3d4-0013-0013-0013-000000000013","name":"Format Reddit Post","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,224]},{"parameters":{"subreddit":"r/R2SBTest","title":"={{ $('Format Reddit Post').item.json.title }}","text":"={{ $('Format Reddit Post').item.json.body }}"},"type":"n8n-nodes-base.reddit","typeVersion":1,"position":[1344,224],"id":"a95fbef0-2b0f-40e4-90aa-1d8452025695","name":"Create a post","credentials":{"redditOAuth2Api":{"id":"Sw4nk0bntkt3ohAI","name":"Reddit account"}}},{"parameters":{"jsCode":"const sd = $getWorkflowStaticData('global');\nif (!sd.postedIds) sd.postedIds = [];\nconst eventId = String($('Process GF Games').item.json.eventId);\nif (!sd.postedIds.includes(eventId)) sd.postedIds.push(eventId);\nreturn [{ json: { success: true, postedEventId: eventId, totalPosted: sd.postedIds.length } }];"},"id":"a1b2c3d4-0016-0016-0016-000000000016","name":"Update Dedup State","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,224]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Reddit Credentials","type":"main","index":0}]]},"Set Reddit Credentials":{"main":[[{"node":"Get Timestamps","type":"main","index":0}]]},"Get Timestamps":{"main":[[{"node":"Fetch ROA2 Tournaments","type":"main","index":0}]]},"Fetch ROA2 Tournaments":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Get Standings","type":"main","index":0}]]},"Get Standings":{"main":[[{"node":"Process Standings","type":"main","index":0}]]},"Process Standings":{"main":[[{"node":"Get Event Sets","type":"main","index":0}]]},"Get Event Sets":{"main":[[{"node":"Process Tournament Data","type":"main","index":0}]]},"Process Tournament Data":{"main":[[{"node":"Get GF Game Data","type":"main","index":0}]]},"Get GF Game Data":{"main":[[{"node":"Process GF Games","type":"main","index":0}]]},"Process GF Games":{"main":[[{"node":"Format Reddit Post","type":"main","index":0}]]},"Format Reddit Post":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Create a post":{"main":[[{"node":"Update Dedup State","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8368939c-252c-4bc3-b349-7a833ce1bb1f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-15T22:27:54.984Z","createdAt":"2026-03-15T22:27:54.984Z","role":"workflow:owner","workflowId":"1IGKjLUBzuUV2AGm","projectId":"u9kYCfFU7pgjjx9U"}],"activeVersion":null,"tags":[]}